<div class="dialog-empresa-economica">
  <h3 mat-dialog-title>{{'sgp.buscadorEmpresaEconomica.titulo' | translate}}</h3>

  <!-- Buscador -->
  <div class="dialog-modal" mat-dialog-content>
    <mat-form-field>
      <mat-label>{{'sgp.buscadorEmpresaEconomica.numeroDocumento' | translate}}</mat-label>
      <input matInput [(ngModel)]="data.numeroDocumento">
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{'sgp.buscadorEmpresaEconomica.razonSocial' | translate}}</mat-label>
      <input matInput [(ngModel)]="data.razonSocial">
    </mat-form-field>

    <div class="separacion">
      <button color="primary" md-button mat-raised-button
        (click)="buscarEmpresasEconomicas(true)">{{'botones.buscar' | translate}}</button>
    </div>


    <!-- Tabla resultados -->
    <table class="mat-elevation-z8 table-empresas-economicas" mat-table [dataSource]="empresasEconomicas$ | async"
      matSort matSortActive="personaRef" matSortDirection="asc" matSortDisableClear>

      <!-- Tipo -->
      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef>
          {{'sgp.buscadorEmpresaEconomica.tipo' | translate}}
        </th>
        <td mat-cell *matCellDef="let empresaEconomica">
          {{empresaEconomica.tipo}}
        </td>
      </ng-container>

      <!-- Tipo documento -->
      <ng-container matColumnDef="tipoDocumento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'sgp.buscadorEmpresaEconomica.tipoDocumento' | translate}}
        </th>
        <td mat-cell *matCellDef="let empresaEconomica">
          {{empresaEconomica.tipoDocumento}}
        </td>
      </ng-container>

      <!-- Numero documento -->
      <ng-container matColumnDef="numeroDocumento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'sgp.buscadorEmpresaEconomica.numeroDocumento' | translate}}
        </th>
        <td mat-cell *matCellDef="let empresaEconomica">
          {{empresaEconomica.numeroDocumento}}
        </td>
      </ng-container>

      <!-- Nombre/Razon social -->
      <ng-container matColumnDef="razonSocial">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'sgp.buscadorEmpresaEconomica.razonSocial' | translate}}
        </th>
        <td mat-cell *matCellDef="let persona">
          {{persona.razonSocial}}
        </td>
      </ng-container>

      <!-- Direccion -->
      <ng-container matColumnDef="direccion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'sgp.buscadorEmpresaEconomica.direccion' | translate}}
        </th>
        <td mat-cell *matCellDef="let empresaEconomica">
          {{empresaEconomica.direccion}}
        </td>
      </ng-container>

      <!-- Tipo empresa -->
      <ng-container matColumnDef="tipoEmpresa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'sgp.buscadorEmpresaEconomica.tipoEmpresa' | translate}}
        </th>
        <td mat-cell *matCellDef="let empresaEconomica">
          {{empresaEconomica.tipoEmpresa}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [mat-dialog-close]="row"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="elementosPagina" [length]="totalElementos" showFirstLastButtons>
    </mat-paginator>
  </div>

  <div mat-dialog-actions>
    <button class="link-cancelar" mat-button (click)="onNoClick()"
      type="button">{{'botones.cancelar' | translate}}</button>
  </div>

</div>