<div class="input-multilang">
  <mat-select matPrefix [(ngModel)]="selectedLanguage">
    <mat-select-trigger class="select-trigger">
      <mat-icon [svgIcon]="selectedLanguage.icon"></mat-icon>
    </mat-select-trigger>
    <mat-option *ngFor="let language of availableLanguages" [value]="language">
      <span><mat-icon [svgIcon]="language.icon"></mat-icon>{{language.translateKey |
        translate}}</span>
    </mat-option>
  </mat-select>

  <textarea matInput [(ngModel)]="editingValue" [disabled]="disabled" [placeholder]="placeholder"></textarea>

</div>