<div class="input-multilang">
  <mat-select matPrefix [(ngModel)]="selectedLanguage">
    <mat-select-trigger>
      {{selectedLanguage.codeExtended}}
    </mat-select-trigger>
    <mat-option *ngFor="let language of enabledLanguages" [value]="language">
      <span>{{language.translateKey |
        translate}} ({{language.codeExtended}})</span>
    </mat-option>
  </mat-select>

  <ng-container *ngIf="useAutosize; else fixedTextarea">
    <textarea matInput [(ngModel)]="editingValue" [disabled]="disabled" [placeholder]="placeholder"
      [maxlength]="maxlength" (change)="onEdit()" (focus)="onInputFocus()" (blur)="onInputBlur()" cdkTextareaAutosize
      #autosize="cdkTextareaAutosize" [cdkAutosizeMinRows]="cdkAutosizeMinRows"
      [cdkAutosizeMaxRows]="cdkAutosizeMaxRows">
    </textarea>
  </ng-container>

  <ng-template #fixedTextarea>
    <textarea matInput [(ngModel)]="editingValue" [disabled]="disabled" [placeholder]="placeholder"
      [maxlength]="maxlength" (change)="onEdit()" (focus)="onInputFocus()" (blur)="onInputBlur()" [rows]="rows">
    </textarea>
  </ng-template>


</div>