<section class="solicitud-socio-colaborador">
  <!-- Error no coordinadorExterno -->
  <div *ngIf="!formPart.enableAddSocioColaborador" class="info-message">
    {{'csp.solicitud.equipo.proyecto.error.coordinador.externo' | translate}}
  </div>

  <table class="mat-elevation-z8 table-acta" mat-table [dataSource]="dataSource" matSort matSortActive="id"
    matSortDirection="asc" matSortDisableClear>
    <!-- Nombre Column -->
    <ng-container matColumnDef="empresa">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'csp.solicitud.socio.colaborador.nombre' |
        translate}}
      </th>
      <td mat-cell *matCellDef="let wrapper"> {{ wrapper.value.empresa?.razonSocial }} </td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="rolSocio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'csp.solicitud.socio.colaborador.rol.socio' | translate}}
      </th>
      <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.rolSocio.nombre | translate}} </td>
    </ng-container>

    <!-- Número de investigadores Column -->
    <ng-container matColumnDef="numInvestigadores">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'csp.solicitud.socio.colaborador.numInvestigadores' |
        translate}}
      </th>
      <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.numInvestigadores}} </td>
    </ng-container>

    <!-- Mes de inicio Column -->
    <ng-container matColumnDef="mesInicio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'csp.solicitud.socio.colaborador.mesInicio' |
        translate}}
      </th>
      <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.mesInicio}}
      </td>
    </ng-container>

    <!-- Mes de fin Column -->
    <ng-container matColumnDef="mesFin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'csp.solicitud.socio.colaborador.mesFin' |
        translate}}
      </th>
      <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.mesFin}}
      </td>
    </ng-container>

    <!-- Importe solicitado Column -->
    <ng-container matColumnDef="importeSolicitado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'csp.solicitud.socio.colaborador.importeSolicitado' |
        translate}}
      </th>
      <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.importeSolicitado}}
      </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> {{'csp.solicitud.listado.acciones' | translate}} </th>
      <td mat-cell *matCellDef="let wrapper">
        <ng-container>
          <button mat-button matTooltip="{{'botones.editar' | translate}}"
            [routerLink]="['../../..', SOLICITUD_PROYECTO_SOCIO_ROUTE, wrapper.value.id]"
            [state]="{solicitudId: fragment.getKey()}" [state]="createState(wrapper)">
            <mat-icon color="primary">border_color</mat-icon>
          </button>
        </ng-container>
        <ng-container>
          <button mat-button matTooltip="{{'botones.borrar' | translate}}" (click)="deleteProyectoSocio(wrapper)">
            <mat-icon color="warn">highlight_off</mat-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="separation-button" *ngIf="formPart.enableAddSocioColaborador">
    <button color="three" mat-button mat-raised-button
      [routerLink]="['../../..', SOLICITUD_PROYECTO_SOCIO_ROUTE, ROUTE_NAMES.NEW]" [state]="createState()">
      <mat-icon color="accent">add_circle</mat-icon>
      {{'csp.solicitud.socio.colaborador.añadir' | translate}}
    </button>
  </div>
</section>