<div class="modal-cambio-estado">
  <header class="modal-header-material">
    <h3 mat-dialog-title>{{'csp.solicitud.cambio-estado.modal.titulo' | translate}}</h3>
  </header>
  <main>

    <form [formGroup]="formGroup">

      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign"
        [fxLayoutGap]="fxLayoutProperties.gap">

        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field fxFill>
            <!-- Estado actual -->
            <mat-label>{{'csp.solicitud.cambio-estado.actual' | translate}}</mat-label>
            <mat-select formControlName="estadoActual" disabled
              placeholder="{{'csp.solicitud.cambio-estado.actual' | translate}}">
              <mat-option *ngFor="let estado of ESTADO_MAP | keyvalue" [value]="estado.key">
                {{ estado.value | translate}}
              </mat-option>
            </mat-select>

          </mat-form-field>
        </div>

        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field fxFill>
            <!-- Estado nuevo -->
            <mat-label>{{'csp.solicitud.cambio-estado.nuevo' | translate}}</mat-label>
            <mat-select formControlName="estadoNuevo" disabled
              placeholder="{{'csp.solicitud.cambio-estado.nuevo' | translate}}">
              <mat-option *ngFor="let estado of ESTADO_MAP | keyvalue" [value]="estado.key">
                {{ estado.value | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>

      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <span class="mat-small">{{'csp.solicitud.cambio-estado.comentario' | translate}}</span>
        <mat-form-field fxFill>
          <textarea matInput formControlName="comentario" type="text" id="comentario" required>
            </textarea>
          <mat-error *ngIf="formGroup.get('comentario').errors?.maxlength">
            {{'csp.solicitud.cambio-estado.modal.comentario.maximo' | translate}}
          </mat-error>
        </mat-form-field>

      </div>

    </form>
  </main>

  <div id="modals-buttons" class="float-right" mat-dialog-actions>
    <button color="accent" (click)="saveOrUpdate()" md-button mat-raised-button type="submit">{{'botones.aceptar' |
      translate}}</button>
    <button class="link-cancelar" mat-button (click)="closeModal()" type="button">{{'botones.cancelar' |
      translate}}</button>
  </div>
</div>