<sgi-action-dialog [title]="title">
  <form [formGroup]="formGroup">
    <!-- Nombre -->
    <div fxLayout="row">
      <mat-form-field>
        <mat-label>{{'csp.tipo-hito.nombre' | translate}}</mat-label>
        <sgi-i18n-input formControlName="nombre" placeholder="{{'csp.tipo-hito.nombre' | translate}}" required>
        </sgi-i18n-input>
        <mat-error *ngIf="formGroup.controls.nombre.errors?.required">
          {{'error.required.entity' | translate:msgParamNombreEntity}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.nombre.errors?.maxlength">
          {{'error.maxlength.entity' | translate:msgParamNombreEntity}}
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Descripción -->
    <div fxLayout="row">
      <mat-form-field>
        <mat-label>{{'csp.tipo-hito.descripcion' | translate}}</mat-label>
        <textarea matInput formControlName="descripcion"
          placeholder="{{'csp.tipo-hito.descripcion' | translate}}"></textarea>
      </mat-form-field>
    </div>
  </form>
</sgi-action-dialog>