<section class="acta-editar">
  <mat-tab-group headerPosition="above" (selectedTabChange)="cambioTab($event)">
    <!-- Datos generales -->
    <mat-tab>
      <ng-template mat-tab-label>
        <sgi-generic-tab-label [abstractTab]="datosGenerales" [errors]="errorTabs[0]"
          [textoLabel]="'eti.acta.editar.datosGenerales.cabecera' | translate">
        </sgi-generic-tab-label>
      </ng-template>
      <sgi-acta-datos-generales #datosGenerales (eventEmitter)="setErroresTab(0, $event)" (selectConvocatoria)="
        setConvocatoria($event)">
      </sgi-acta-datos-generales>
    </mat-tab>

    <!-- Memorias -->
    <mat-tab>
      <ng-template mat-tab-label>
        <sgi-generic-tab-label [abstractTab]="memorias" [errors]="errorTabs[1]"
          [textoLabel]="'eti.acta.editar.memorias.cabecera' | translate">
        </sgi-generic-tab-label>
      </ng-template>
      <sgi-acta-memorias #memorias (eventEmitter)="setErroresTab(1, $event)" [idConvocatoria]="idConvocatoria">
      </sgi-acta-memorias>
    </mat-tab>

    <!-- Asistentes -->
    <mat-tab>
      <ng-template mat-tab-label>
        <sgi-generic-tab-label [abstractTab]="asistentes" [errors]="errorTabs[2]"
          [textoLabel]="'eti.acta.editar.asistentes.cabecera' | translate">
        </sgi-generic-tab-label>
      </ng-template>
      <sgi-acta-asistentes #asistentes (eventEmitter)="setErroresTab(2, $event)" [idConvocatoria]="idConvocatoria">
      </sgi-acta-asistentes>
    </mat-tab>
  </mat-tab-group>

  <!-- Footer -->
  <sgi-footer-guardar [texto]="textoCrear" (emitter)="saveData()"></sgi-footer-guardar>
</section>