<div class="solicitud-crear-proyecto-modal">
  <header class="modal-header-material">
    <h3 mat-dialog-title>
      {{'title.csp.proyecto.new' | translate}}</h3>
  </header>
  <p>{{'info.csp.solicitud-proyecto.new'| translate}}</p>
  <main>
    <form [formGroup]="formGroup">
      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
        <!-- Fecha inicio proyecto -->
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field color="primary">
            <mat-label>{{'csp.solicitud-proyecto.fecha-inicio'| translate}}</mat-label>
            <input matInput [ngxMatDatetimePicker]="pickerFechaInicio" formControlName="fechaInicio" required>
            <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="pickerFechaInicio"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #pickerFechaInicio showSeconds="true" [defaultTime]="[0,0,0]">
            </ngx-mat-datetime-picker>
            <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.required">
              {{'error.required.entity' | translate:msgParamFechaInicioEntity}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.before">
              {{'error.before.fecha-inicio' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Fecha fin proyecto -->
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field color="primary">
            <mat-label>{{'csp.solicitud-proyecto.fecha-fin'| translate}}</mat-label>
            <input matInput [ngxMatDatetimePicker]="pickerFechaFin" formControlName="fechaFin" required>
            <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="pickerFechaFin"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #pickerFechaFin showSeconds="true" [defaultTime]="[23,59,59]">
            </ngx-mat-datetime-picker>
            <mat-error *ngIf="formGroup.controls.fechaFin.errors?.required">
              {{'error.required.entity' | translate:msgParamFechaFinEntity}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.fechaFin.errors?.after">
              {{'error.after.fecha-fin' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
        <!-- Modelo de ejecución -->
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field class="input-form">
            <mat-label>{{'csp.solicitud-proyecto.modelo-ejecucion' | translate}}</mat-label>
            <input type="text" placeholder="{{'csp.solicitud-proyecto.modelo-ejecucion' | translate}}" matInput
              formControlName="modeloEjecucion" [matAutocomplete]="autoModeloEjecucion" (click)="loadModelosEjecucion()"
              required>
            <mat-autocomplete #autoModeloEjecucion="matAutocomplete" [displayWith]="getModeloEjecucion">
              <mat-option *ngFor="let modeloEjecucion of modelosEjecucion$ | async" [value]="modeloEjecucion">
                {{modeloEjecucion.nombre}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="formGroup.controls.modeloEjecucion.errors?.required">
              {{'error.required.entity' | translate:msgParamModeloEjecucionEntity}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.modeloEjecucion.errors?.invalid">
              {{'error.invalid.entity' | translate:msgParamModeloEjecucionEntity}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </main>
</div>
<div id="modals-buttons" class="float-right" mat-dialog-actions>
  <button color="accent" md-button mat-raised-button (click)="saveOrUpdate()">{{textSaveOrUpdate |
    translate}}</button>
  <button class="link-cancelar" mat-button (click)="closeModal()" type="button">{{'btn.cancel' |
    translate}}</button>
</div>