<sgi-dialog-header [title]="title"></sgi-dialog-header>
<sgi-dialog-content>
  <form [formGroup]="formGroup">
    <!-- Tipo descriptor grupo -->
    <div fxLayout="row">
      <mat-form-field>
        <mat-label>{{'csp.grupo-descriptor.tipo-descriptor-grupo' | translate}}</mat-label>
        <sgi-select-tipo-descriptor-grupo formControlName="tipoDescriptorGrupo" required>
        </sgi-select-tipo-descriptor-grupo>
        <mat-error *ngIf="formGroup.controls.tipoDescriptorGrupo.errors?.required">
          {{'error.required.entity' | translate:msgParamTipoDescriptorEntity}}
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Texto -->
    <div fxLayout="row">
      <mat-form-field>
        <mat-label>{{'csp.grupo-descriptor.texto' | translate}}</mat-label>
        <sgi-i18n-textarea formControlName="texto" required></sgi-i18n-textarea>
        <mat-error *ngIf="formGroup.controls.texto.errors?.required">
          {{'error.required.entity' | translate:msgParamTextoEntity}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.texto.errors?.maxlength">
          {{'error.maxlength.entity' | translate:msgParamTextoEntity}}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</sgi-dialog-content>
<mat-dialog-actions>
  <button color="accent" (click)="doAction()" [disabled]="this.actionDisabled" mat-raised-button type="submit">
    <mat-icon class="save-icon">save</mat-icon>{{textSaveOrUpdate | translate}}
  </button>
  <button class="link-cancelar" mat-button type="button" mat-dialog-close>
    {{'btn.cancel' | translate}}
  </button>
</mat-dialog-actions>