<section class="entidades-convocantes-listado">
  <h2>{{'csp.convocatoria.entidades.convocantes.cabecera' | translate}}</h2>
  <!-- Entidades convocantes listado -->
  <div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table-unidad">
      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>{{'csp.convocatoria.entidades.convocantes.nombre' | translate}}</th>
        <td mat-cell *matCellDef="let data"> {{data.empresaEconomica.razonSocial}}
        </td>
      </ng-container>

      <!-- Cif Column -->
      <ng-container matColumnDef="cif">
        <th mat-header-cell *matHeaderCellDef>{{'csp.convocatoria.entidades.convocantes.cif' | translate}}</th>
        <td mat-cell *matCellDef="let data"> {{data.empresaEconomica.numeroDocumento}}
        </td>
      </ng-container>

      <!-- Plan Column -->
      <ng-container matColumnDef="plan">
        <th mat-header-cell *matHeaderCellDef>{{'csp.convocatoria.entidades.convocantes.plan' | translate}}</th>
        <td mat-cell *matCellDef="let data"> {{data.plan?.nombre}}
        </td>
      </ng-container>

      <!-- Programa Column -->
      <ng-container matColumnDef="programa">
        <th mat-header-cell *matHeaderCellDef>{{'csp.convocatoria.entidades.convocantes.programa' | translate}}</th>
        <td mat-cell *matCellDef="let data"> {{data.programa?.nombre}} </td>
      </ng-container>

      <!-- Modalidad Column -->
      <ng-container matColumnDef="itemPrograma">
        <th mat-header-cell *matHeaderCellDef>{{'csp.convocatoria.entidades.convocantes.modalidad' | translate}}</th>
        <td mat-cell *matCellDef="let data" > {{data.modalidad?.nombre}} </td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>{{'botones.acciones' | translate}}</th>
        <td mat-cell *matCellDef="let data">
          <button mat-button matTooltip="{{'botones.editar' | translate}}" (click)="openModal(data)">
            <mat-icon color="primary">border_color</mat-icon>
          </button>
          <button mat-button matTooltip="{{'botones.eliminar' | translate}}"
            (click)="deleteConvocatoriaEntidadConvocante(data)">
            <mat-icon color="warn">highlight_off</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="elementsPage" showFirstLastButtons></mat-paginator>
  </div>
  <div class="separation-button">
    <button color="three" md-button mat-raised-button (click)="openModal()">
      <mat-icon color="accent">add_circle</mat-icon> {{'csp.convocatoria.entidades-convocantes.crear' | translate}}
    </button>
  </div>
</section>