<section class="peticionEvaluacion-datos-generales">

  <form [formGroup]="formGroup" [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
    [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'eti.peticionEvaluacion.titulo' | translate}}</mat-label>
        <input #nombre matInput formControlName="titulo" type="text" id="titulo"
          placeholder="{{'eti.peticionEvaluacion.titulo' | translate}}" required maxlength="100"
          [readonly]="fragment.isEdit()">
        <mat-error
          *ngIf="FormGroupUtil.checkError(formGroup, 'titulo') && (formGroup.get('titulo').errors.vacio || formGroup.get('titulo').errors.required)">
          {{'eti.peticionEvaluacion.titulo.vacio' | translate}}
        </mat-error>
      </mat-form-field>
    </div>


    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">


      <mat-form-field class="input-form">
        <mat-label>{{'eti.peticionEvaluacion.tipoActividad' | translate}}</mat-label>
        <input type="text" placeholder="{{'eti.peticionEvaluacion.tipoActividad' | translate}}" arial-label="Number"
          matInput formControlName="tipoActividad" [matAutocomplete]="auto" required>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="getTipoActividad">
          <mat-option *ngFor="let tipoActividad of filteredTipoActividad | async" [value]="tipoActividad">
            {{tipoActividad.nombre}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="input-form">
        <mat-label>{{'eti.peticionEvaluacion.financiacion' | translate}}</mat-label>
        <input #nombre matInput formControlName="financiacion" type="text" id="financiacion"
          placeholder="{{'eti.peticionEvaluacion.financiacion' | translate}}" required maxlength="100">
        <mat-error
          *ngIf="FormGroupUtil.checkError(formGroup, 'financiacion') && (formGroup.get('financiacion').errors.vacio || formGroup.get('financiacion').errors.required)">
          {{'eti.peticionEvaluacion.financiacion.vacio' | translate}}
        </mat-error>
      </mat-form-field>

    </div>

    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field color="primary">
        <mat-label>{{'eti.peticionEvaluacion.fecha.inicio'| translate}}</mat-label>
        <input matInput [matDatepicker]="pickerFechaInicio" formControlName="fechaInicio">
        <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="pickerFechaInicio"></mat-datepicker-toggle>
        <mat-datepicker #pickerFechaInicio></mat-datepicker>
      </mat-form-field>
      <mat-error
        *ngIf="FormGroupUtil.checkError(formGroup, 'fechaInicio') && formGroup.get('fechaInicio').errors.required">
        {{'eti.peticionEvaluacion.fechaInicio.error.vacio' | translate}}
      </mat-error>


      <mat-form-field color="primary">
        <mat-label>{{'eti.peticionEvaluacion.fecha.fin'| translate}}</mat-label>
        <input matInput [matDatepicker]="pickerFechaFin" formControlName="fechaFin">
        <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="pickerFechaFin"></mat-datepicker-toggle>
        <mat-datepicker #pickerFechaFin></mat-datepicker>
      </mat-form-field>
      <mat-error *ngIf="FormGroupUtil.checkError(formGroup, 'fechaFin') && formGroup.get('fechaFin').errors.required">
        {{'eti.peticionEvaluacion.fechaFin.error.vacio' | translate}}
      </mat-error>

    </div>

    <div [fxFlex.sm]="fxFlexPropertiesInline.sm" [fxFlex.md]="fxFlexProperties.md"
      [fxFlex.gt-md]="fxFlexPropertiesInline.gtMd" [fxFlexOrder]="fxFlexPropertiesInline.order">
      <mat-form-field fxFill>
        <mat-label>{{'eti.peticionEvaluacion.resumen' | translate}}</mat-label>
        <textarea matInput formControlName="resumen" type="text" id="resumen"
          placeholder="{{'eti.peticionEvaluacion.resumen' | translate}}" required>
                </textarea>
        <mat-error
          *ngIf="FormGroupUtil.checkError(formGroup, 'resumen') && (formGroup.get('resumen').errors.vacio || formGroup.get('resumen').errors.required)">
          {{'eti.peticionEvaluacion.resumen.vacio' | translate}}
        </mat-error>

      </mat-form-field>

    </div>

    <div [fxFlex.sm]="fxFlexPropertiesInline.sm" [fxFlex.md]="fxFlexProperties.md"
      [fxFlex.gt-md]="fxFlexPropertiesInline.gtMd" [fxFlexOrder]="fxFlexPropertiesInline.order">
      <mat-form-field fxFill>
        <mat-label>{{'eti.peticionEvaluacion.valorSocial' | translate}}</mat-label>
        <textarea matInput formControlName="valorSocial" type="text" id="valorSocial"
          placeholder="{{'eti.peticionEvaluacion.valorSocial' | translate}}" required>
                  </textarea>

        <mat-error
          *ngIf="FormGroupUtil.checkError(formGroup, 'valorSocial') && (formGroup.get('valorSocial').errors.vacio || formGroup.get('valorSocial').errors.required)">
          {{'eti.peticionEvaluacion.valorSocial.vacio' | translate}}
        </mat-error>

      </mat-form-field>
    </div>

    <div [fxFlex.sm]="fxFlexPropertiesInline.sm" [fxFlex.md]="fxFlexProperties.md"
      [fxFlex.gt-md]="fxFlexPropertiesInline.gtMd" [fxFlexOrder]="fxFlexPropertiesInline.order">
      <mat-form-field fxFill>
        <mat-label>{{'eti.peticionEvaluacion.objetivosCientificos' | translate}}</mat-label>
        <textarea matInput formControlName="objetivosCientificos" type="text" id="objetivosCientificos"
          placeholder="{{'eti.peticionEvaluacion.objetivosCientificos' | translate}}" required>
                          </textarea>

        <mat-error
          *ngIf="FormGroupUtil.checkError(formGroup, 'objetivosCientificos') && (formGroup.get('objetivosCientificos').errors.vacio || formGroup.get('objetivosCientificos').errors.required)">
          {{'eti.peticionEvaluacion.objetivosCientificos.vacio' | translate}}
        </mat-error>


      </mat-form-field>
    </div>

    <div [fxFlex.sm]="fxFlexPropertiesInline.sm" [fxFlex.md]="fxFlexProperties.md"
      [fxFlex.gt-md]="fxFlexPropertiesInline.gtMd" [fxFlexOrder]="fxFlexPropertiesInline.order">
      <mat-form-field fxFill>
        <mat-label>{{'eti.peticionEvaluacion.disenioMetodologico' | translate}}</mat-label>
        <textarea matInput formControlName="disenioMetodologico" type="text" id="disenioMetodologico"
          placeholder="{{'eti.peticionEvaluacion.disenioMetodologico' | translate}}" required>
                              </textarea>

        <mat-error
          *ngIf="FormGroupUtil.checkError(formGroup, 'disenioMetodologico') && (formGroup.get('disenioMetodologico').errors.vacio || formGroup.get('disenioMetodologico').errors.required)">
          {{'eti.peticionEvaluacion.disenioMetodologico.vacio' | translate}}
        </mat-error>

      </mat-form-field>
    </div>


  </form>
</section>