<div class="solicitud-equipo-socio-equipo-socio-modal">
  <header class="modal-header-material">
    <h3 mat-dialog-title>
      {{'csp.solicitud.equipo.socio.equipo.socio.modal.titulo' | translate}}</h3>
  </header>
  <main>
    <form [formGroup]="formGroup">
      <!-- Rol de proyecto -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field fxFill>
            <mat-label>{{'csp.solicitud-proyecto-socio.equipo-socio.modal.rol.proyecto' | translate}}</mat-label>
            <input matInput formControlName="rolProyecto" type="text" id="rolProyecto"
              placeholder="{{'csp.solicitud-proyecto-socio.equipo-socio.modal.rol.proyecto' | translate}}"
              [matAutocomplete]="autoRolProyecto" required>
            <mat-autocomplete #autoRolProyecto="matAutocomplete" [displayWith]="getNombreRolProyecto">
              <mat-option *ngFor="let rolProyecto of rolProyectos$ | async" [value]="rolProyecto">
                {{rolProyecto.nombre}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="formGroup.controls.rolProyecto.errors?.required">
              {{'csp.solicitud-proyecto-socio.equipo-socio.modal.rol.proyecto.error.required' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.rolProyecto.errors?.invalid">
              {{'csp.solicitud-proyecto-socio.equipo-socio.modal.rol.proyecto.error.invalid' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Persona -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field fxFill>
            <mat-label>{{'csp.solicitud-proyecto-socio.equipo-socio.modal.persona' | translate}}</mat-label>
            <sgi-select-persona placeholder="{{'csp.solicitud-proyecto-socio.equipo-socio.modal.persona' | translate}}"
              formControlName="persona" required>
            </sgi-select-persona>
            <mat-error *ngIf="formGroup.controls.persona.errors?.required">
              {{'csp.solicitud-proyecto-socio.equipo-socio.modal.persona.error.required' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.persona.errors?.contains">
              {{'csp.solicitud-proyecto-socio.equipo-socio.modal.persona.error.contains' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="fieldset-form">
        {{'csp.solicitud-proyecto-socio.equipo-socio.modal.periodoParticipacion' | translate}}
      </div>

      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field fxFill>
            <mat-label>{{'csp.solicitud-proyecto-socio.equipo-socio.modal.mesInicio' | translate}}</mat-label>
            <input matInput formControlName="mesInicio" type="number" id="mesInicio"
              placeholder="{{'csp.solicitud-proyecto-socio.equipo-socio.modal.mesInicio' | translate}}">
            <mat-error *ngIf="formGroup.controls.mesInicio.errors?.min">
              {{'csp.solicitud-proyecto-socio.equipo-socio.modal.mesInicio.min' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.mesInicio.errors?.range">
              {{'csp.solicitud-proyecto-socio.equipo-socio.modal.mesInicio.range' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.mesInicio.errors?.max">
              {{'csp.solicitud-proyecto-socio.equipo-socio.modal.mesInicio.max' | translate}}
            </mat-error>
          </mat-form-field>
        </div>

        <div [fxFlex.sm]=" fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field fxFill>
            <mat-label>{{'csp.solicitud-proyecto-socio.equipo-socio.modal.mesFin' | translate}}</mat-label>
            <input matInput formControlName="mesFin" type="number" id="mesFin"
              placeholder="{{'csp.solicitud-proyecto-socio.equipo-socio.modal.mesFin' | translate}}">
            <mat-error *ngIf="formGroup.controls.mesFin.errors?.min">
              {{'csp.solicitud-proyecto-socio.equipo-socio.modal.mesFin.min' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.mesFin.errors?.after">
              {{'csp.solicitud-proyecto-socio.equipo-socio.modal.mesFin.after' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.mesFin.errors?.range">
              {{'csp.solicitud-proyecto-socio.equipo-socio.modal.mesFin.range' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.mesFin.errors?.max">
              {{'csp.solicitud-proyecto-socio.equipo-socio.modal.mesFin.max' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </main>
</div>
<div id="modals-buttons" class="float-right" mat-dialog-actions>
  <button color="accent" md-button mat-raised-button (click)="saveOrUpdate()"
    *ngIf="!this.data.readonly">{{textSaveOrUpdate |
    translate}}</button>
  <button class="link-cancelar" mat-button (click)="closeModal()" type="button">{{'botones.cancelar' |
    translate}}</button>
</div>