<div class="solicitud-equipo-proyecto-modal">
  <header class="modal-header-material">
    <h3 mat-dialog-title>
      {{title | translate}}</h3>
  </header>
  <main>
    <form [formGroup]="formGroup">
      <!-- Rol de proyecto -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field fxFill>
            <mat-label>{{'csp.solicitud-equipo-proyecto.rol-proyecto.participacion' | translate}}</mat-label>
            <input matInput formControlName="rolProyecto" type="text" id="rolProyecto"
              placeholder="{{'csp.solicitud-equipo-proyecto.rol-proyecto.participacion' | translate}}"
              [matAutocomplete]="autoRolProyecto" required>
            <mat-autocomplete #autoRolProyecto="matAutocomplete" [displayWith]="getNombreRolProyecto">
              <mat-option *ngFor="let rolProyecto of rolProyectos$ | async" [value]="rolProyecto">
                {{rolProyecto.nombre}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="formGroup.controls.rolProyecto.errors?.required">
              {{'error.required.entity' | translate:msgParamRolProyectoEntity}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.rolProyecto.errors?.invalid">
              {{'error.invalid.entity' | translate:msgParamRolProyectoEntity}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Persona -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field fxFill>
            <mat-label>{{'csp.solicitud-equipo-proyecto.persona' | translate}}</mat-label>
            <sgi-select-persona placeholder="{{'csp.solicitud-equipo-proyecto.persona' | translate}}"
              formControlName="persona" required>
            </sgi-select-persona>
            <mat-error *ngIf="formGroup.controls.persona.errors?.required">
              {{'error.required.entity' | translate:msgParamPersonaEntity}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.persona.errors?.contains">
              {{'error.csp.persona-equipo.duplicate' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field fxFill>
            <mat-label>{{'csp.solicitud-equipo-proyecto.mes-inicio' | translate}}</mat-label>
            <input matInput formControlName="mesInicio" type="number" id="mesInicio"
              placeholder="{{'csp.solicitud-equipo-proyecto.mes-inicio' | translate}}">
            <mat-error *ngIf="formGroup.controls.mesInicio.errors?.min">
              {{'error.min.mes-desde' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.mesInicio.errors?.range">
              {{'error.overlapping.record.entity' | translate:msgParamEntity}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.mesInicio.errors?.max">
              {{'error.maxlength.entity' | translate:msgParamMesInicio}}
            </mat-error>
          </mat-form-field>
        </div>

        <div [fxFlex.sm]=" fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field fxFill>
            <mat-label>{{'csp.solicitud-equipo-proyecto.mes-fin' | translate}}</mat-label>
            <input matInput formControlName="mesFin" type="number" id="mesFin"
              placeholder="{{'error.csp.solicitud-equipo-proyecto.mes-fin.min' | translate}}">
            <mat-error *ngIf="formGroup.controls.mesFin.errors?.min">
              {{'error.min.mes-desde' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.mesFin.errors?.after">
              {{'error.after.mes-final' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.mesFin.errors?.range">
              {{'error.overlapping.record.entity' | translate:msgParamEntity}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.mesFin.errors?.max">
              {{'error.maxlength.entity' | translate:msgParamMesFin}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </main>
</div>
<div id="modals-buttons" class="float-right" mat-dialog-actions>
  <button color="accent" md-button mat-raised-button (click)="saveOrUpdate()" *ngIf="!this.data.readonly">{{textSaveOrUpdate |
    translate}}</button>
  <button class="link-cancelar" mat-button (click)="closeModal()" type="button">{{'btn.cancel' |
    translate}}</button>
</div>