<div class="modelo-tipo-finalidad-modal">
  <header class="modal-header-material">
    <h3 mat-dialog-title>{{'csp.modelo.tipo.finalidad.modal.titulo' | translate}}</h3>
  </header>
  <main>
    <form [formGroup]="formGroup">
      <!-- Tipo de finalidad -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field fxFill>
            <mat-label>{{'csp.tipo.finalidad' | translate}}</mat-label>
            <mat-select matNativeControl formControlName="tipoFinalidad" required>
              <mat-option *ngFor="let tipoFinalidad of tipoFinalidad$ | async" [value]="tipoFinalidad">
                {{tipoFinalidad.nombre}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.controls.tipoFinalidad.errors?.required">
              {{'csp.tipo.finalidad.error.requerido' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </main>
  <div id="modals-buttons" class="float-right" mat-dialog-actions>
    <button color="accent" (click)="saveOrUpdate()" md-button mat-raised-button
      type="submit">{{'botones.guardar' | translate}}</button>
    <button class="link-cancelar" mat-button (click)="closeModal()"
      type="button">{{'botones.cancelar' | translate}}</button>
  </div>
</div>