<form [formGroup]="formGroup" fxLayout="column">

  <div fxFlex fxLayout="row" fxLayoutGap="10px">
    <mat-form-field>
      <mat-label>{{label | translate:labelParams}}</mat-label>
      <sgi-select formControlName="configValue" [options]="options$ | async"
        placeholder="{{label | translate:labelParams}}" [compareWith]="comparer" [displayWith]="displayer"
        [sortWith]="sorter" [matTooltip]="getTooltip() | translate" matTooltipShowDelay="200" [required]="required">
      </sgi-select>
      <mat-error *ngIf="formGroup.controls.configValue.errors?.required">
        {{ 'error.required.field' | translate:msgParamLabel }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{description | translate}}</mat-label>
      <sgi-resource-upload #uploader placeholder="{{description | translate}}" formControlName="resource"
        [key]="resourceInfo?.name"
        [matTooltip]="(resourceInfo?.description ? resourceInfo.description : description) | translate"
        matTooltipShowDelay="200">
      </sgi-resource-upload>
    </mat-form-field>

    <ng-container *ngIf="!formGroup.valid || hasChanges() else download">
      <button color="primary" mat-icon-button (click)="save()" matTooltip="{{'btn.save' | translate}}"
        [disabled]="formGroup.disabled">
        <mat-icon>save</mat-icon>
      </button>
    </ng-container>
    <ng-template #download>
      <button color="primary" mat-icon-button (click)="downloadResource()"
        matTooltip="{{'btn.download.file' | translate}}"
        [disabled]="formGroup.disabled || formGroup.controls.resource.disabled">
        <mat-icon>file_download</mat-icon>
      </button>
    </ng-template>
  </div>

</form>