<!-- Menu principal -->
<mat-nav-list>
  <div class="opciones-menu">
    <mat-list-item routerLink="/" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>fullscreen</mat-icon>
        <span>Productos </span>
      </a>
    </mat-list-item>
    <mat-list-item routerLink="/" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon> list_alt</mat-icon>
        <span>Solicitudes </span>
      </a>
    </mat-list-item>
    <mat-list-item routerLink="/" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>device_hub</mat-icon>
        <span>Agrupaciones de servicios</span>
      </a>
    </mat-list-item>
    <mat-list-item routerLink="/" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>calendar_today</mat-icon>
        <span>Horarios </span>
      </a>
    </mat-list-item>
    <mat-list-item routerLink="/" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>equalizer</mat-icon>
        <span>Unidades de medida </span>
      </a>
    </mat-list-item>
    <mat-list-item routerLink="/" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>fullscreen</mat-icon>
        <span>Tipos de fungible </span>
      </a>
    </mat-list-item>
    <mat-list-item routerLink="/" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>fullscreen</mat-icon>
        <span>Tipos de reservable </span>
      </a>
    </mat-list-item>

  </div>
</mat-nav-list>
<!-- FIN Menu principal -->