<mat-nav-list>
  <div class="opciones-menu">
    <mat-list-item [routerLink]="UrlUtils.eti.datos" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>fullscreen</mat-icon>
        <span>{{'menu.principal.eti.datos' | translate}}</span>
      </a>
    </mat-list-item>
    <mat-list-item *sgiHasAuthorityForAnyUO="'ETI-ACT-V'" [routerLink]="UrlUtils.eti.actas"
      [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon> list_alt</mat-icon>
        <span>{{'menu.principal.eti.acta' | translate}}</span>
      </a>
    </mat-list-item>
    <mat-list-item [routerLink]="UrlUtils.eti.produccionCientifica" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>device_hub</mat-icon>
        <span>{{'menu.principal.eti.produccionCientifica' | translate}}</span>
      </a>
    </mat-list-item>
    <mat-list-item [routerLink]="UrlUtils.eti.ofertaTecnologica" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>calendar_today</mat-icon>
        <span>{{'menu.principal.eti.ofertaTecnologica' | translate}}</span>
      </a>
    </mat-list-item>
    <mat-list-item *sgiHasAuthorityForAnyUO="'ETI-CNV-V'" [routerLink]="UrlUtils.eti.solicitudesConvocatoria"
      [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>equalizer</mat-icon>
        <span>{{'menu.principal.eti.solicitudesConvocatoria' | translate}}</span>
      </a>
    </mat-list-item>
    <mat-list-item [routerLink]="UrlUtils.eti.proyectos" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>fullscreen</mat-icon>
        <span>{{'menu.principal.eti.proyectos' | translate}}</span>
      </a>
    </mat-list-item>
    <mat-list-item [routerLink]="UrlUtils.eti.propiedadIntelectual" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>fullscreen</mat-icon>
        <span>{{'menu.principal.eti.propiedadIntelectual' | translate}}</span>
      </a>
    </mat-list-item>
    <mat-list-item [routerLink]="UrlUtils.eti.empresasBaseTecnologica" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>list</mat-icon>
        <span>{{'menu.principal.eti.empresasBaseTecnologica' | translate}}</span>
      </a>
    </mat-list-item>
    <mat-list-item [routerLink]="UrlUtils.eti.gruposInvestigacion" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>list</mat-icon>
        <span>{{'menu.principal.eti.gruposInvestigacion' | translate}}</span>
      </a>
    </mat-list-item>
    <mat-list-item [routerLink]="UrlUtils.eti.areaEspecializacion" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>list</mat-icon>
        <span>{{'menu.principal.eti.areaEspecializacion' | translate}}</span>
      </a>
    </mat-list-item>
    <mat-list-item [routerLink]="UrlUtils.eti.evaluacionEtica" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>list</mat-icon>
        <span>{{'menu.principal.eti.evaluacionEtica' | translate}}</span>
      </a>
    </mat-list-item>
    <mat-list-item [routerLink]="UrlUtils.eti.solicitudesSAI" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>list</mat-icon>
        <span>{{'menu.principal.eti.solicitudesSAI' | translate}}</span>
      </a>
    </mat-list-item>
  </div>
</mat-nav-list>
<!-- FIN Menu principal -->