<mat-nav-list>
  <div class="opciones-menu">
    <mat-list-item [routerLink]="UrlUtils.datos" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>fullscreen</mat-icon>
        <span>{{'menu.principal.datos' | translate}}</span>
      </a>
    </mat-list-item>
    <mat-list-item [routerLink]="UrlUtils.cvn" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon> list_alt</mat-icon>
        <span>{{'menu.principal.cvn' | translate}}</span>
      </a>
    </mat-list-item>
    <mat-list-item [routerLink]="UrlUtils.produccionCientifica" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>device_hub</mat-icon>
        <span>{{'menu.principal.produccionCientifica' | translate}}</span>
      </a>
    </mat-list-item>
    <mat-list-item [routerLink]="UrlUtils.ofertaTecnologica" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>calendar_today</mat-icon>
        <span>{{'menu.principal.ofertaTecnologica' | translate}}</span>
      </a>
    </mat-list-item>
    <mat-list-item [routerLink]="UrlUtils.solicitudesConvocatoria" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>equalizer</mat-icon>
        <span>{{'menu.principal.solicitudesConvocatoria' | translate}}</span>
      </a>
    </mat-list-item>
    <mat-list-item [routerLink]="UrlUtils.proyectos" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>fullscreen</mat-icon>
        <span>{{'menu.principal.proyectos' | translate}}</span>
      </a>
    </mat-list-item>
    <mat-list-item [routerLink]="UrlUtils.propiedadIntelectual" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>fullscreen</mat-icon>
        <span>{{'menu.principal.propiedadIntelectual' | translate}}</span>
      </a>
    </mat-list-item>
    <mat-list-item [routerLink]="UrlUtils.empresasBaseTecnologica" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>list</mat-icon>
        <span>{{'menu.principal.empresasBaseTecnologica' | translate}}</span>
      </a>
    </mat-list-item>
    <mat-list-item [routerLink]="UrlUtils.gruposInvestigacion" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>list</mat-icon>
        <span>{{'menu.principal.gruposInvestigacion' | translate}}</span>
      </a>
    </mat-list-item>
    <mat-list-item [routerLink]="UrlUtils.areaEspecializacion" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>list</mat-icon>
        <span>{{'menu.principal.areaEspecializacion' | translate}}</span>
      </a>
    </mat-list-item>
    <mat-list-item [routerLink]="UrlUtils.evaluacionEtica" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>list</mat-icon>
        <span>{{'menu.principal.evaluacionEtica' | translate}}</span>
      </a>
    </mat-list-item>
    <mat-list-item [routerLink]="UrlUtils.solicitudesSAI" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>list</mat-icon>
        <span>{{'menu.principal.solicitudesSAI' | translate}}</span>
      </a>
    </mat-list-item>
  </div>
</mat-nav-list>
<!-- FIN Menu principal -->
