<!-- Menu principal -->
<div class="opciones-menu">

  <a class="item" mat-list-item [routerLink]="[CAT_ROUTE_NAMES.SOLICITUD]" [routerLinkActive]="['is-active']">
    <mat-icon color="primary" mat-list-icon>list_alt</mat-icon>
    <p matLine *ngIf="opened">{{'menu.principal.cat.solicitudes' | translate}}</p>
  </a>

  <a class="item" mat-list-item [routerLink]="[CAT_ROUTE_NAMES.AGRUPACIONES_SERVICIO]"
    [routerLinkActive]="['is-active']">
    <mat-icon color="primary" mat-list-icon>device_hub</mat-icon>
    <p matLine *ngIf="opened">{{'menu.principal.cat.agrupaciones-servicios' | translate}}</p>
  </a>

  <a class="item" mat-list-item [routerLink]="[CAT_ROUTE_NAMES.UNIDADES_MEDIDA]" [routerLinkActive]="['is-active']">
    <mat-icon color="primary" mat-list-icon>equalizer</mat-icon>
    <p matLine *ngIf="opened">{{'menu.principal.cat.unidades-medida' | translate}}</p>
  </a>

  <a class="item" mat-list-item [routerLink]="[CAT_ROUTE_NAMES.TIPOS_RESERVABLE]" [routerLinkActive]="['is-active']">
    <mat-icon color="primary" mat-list-icon>fullscreen</mat-icon>
    <p matLine *ngIf="opened">{{'menu.principal.cat.tipos-reservables' | translate}}</p>
  </a>

  <a class="item" mat-list-item [routerLink]="[CAT_ROUTE_NAMES.TIPOS_FUNGIBLE]" [routerLinkActive]="['is-active']">
    <mat-icon color="primary" mat-list-icon>fullscreen</mat-icon>
    <p matLine *ngIf="opened">{{'menu.principal.cat.tipos-fungibles' | translate}}</p>
  </a>

</div>
<!-- FIN Menu principal -->