<!-- Convocatoria concepto-gasto-codigo-ec -->
<section class="convocatoriaConceptoGasto">
  <h2>{{'csp.convocatoria-concepto-gasto.codigo-ec.listado.titulo' | translate}}</h2>

  <h3>
    {{( formPart.convocatoriaConceptoGasto?.permitido ? 'csp.convocatoria-concepto-gasto.codigo-ec.table.permitidos' :
    'csp.convocatoria-concepto-gasto.codigo-ec.table.no-permitidos') | translate}}
  </h3>

  <div *ngIf="disableAddCodigoEc" class="info-message">
    {{'csp.convocatoria-concepto-gasto.codigo-ec.conceptoGasto' | translate}}
  </div>

  <table class="mat-elevation-z8 table-convocatoriaConceptoGastoCodigoEc-permitidos" mat-table [dataSource]="dataSource"
    matSort matSortDisableClear #sort="matSort">
    <!-- Nombre concepto gasto -->
    <ng-container matColumnDef="convocatoriaConceptoGasto.conceptoGasto.nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.convocatoria-concepto-gasto.codigo-ec.listado.concepto-gasto-codigo-ec.nombre' | translate}} </th>
      <td mat-cell *matCellDef="let convocatoriaConceptoGastoCodigoEc">
        {{convocatoriaConceptoGastoCodigoEc.value.convocatoriaConceptoGasto?.conceptoGasto.nombre}}
      </td>
    </ng-container>

    <!-- Código económico -->
    <ng-container matColumnDef="codigoEconomicoRef">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.convocatoria-concepto-gasto.codigo-ec.listado.codigoEconomicoRef' | translate}} </th>
      <td mat-cell *matCellDef="let convocatoriaConceptoGastoCodigoEc">
        {{convocatoriaConceptoGastoCodigoEc.value.codigoEconomicoRef}}
      </td>
    </ng-container>

    <!-- Fecha inicio -->
    <ng-container matColumnDef="fechaInicio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.convocatoria-concepto-gasto.codigo-ec.listado.fechaInicio' | translate}} </th>
      <td mat-cell *matCellDef="let convocatoriaConceptoGastoCodigoEc">
        {{convocatoriaConceptoGastoCodigoEc.value.fechaInicio | date:'dd/MM/yyyy'}}
      </td>
    </ng-container>

    <!-- Fecha fin -->
    <ng-container matColumnDef="fechaFin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.convocatoria-concepto-gasto.codigo-ec.listado.fechaFin' | translate}} </th>
      <td mat-cell *matCellDef="let convocatoriaConceptoGastoCodigoEc">
        {{convocatoriaConceptoGastoCodigoEc.value.fechaFin | date:'dd/MM/yyyy'}}
      </td>
    </ng-container>

    <!-- Observaciones -->
    <ng-container matColumnDef="convocatoriaConceptoGasto.observaciones">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.convocatoria-concepto-gasto.codigo-ec.listado.observaciones' | translate}} </th>
      <td mat-cell *matCellDef="let convocatoriaConceptoGastoCodigoEc">
        {{convocatoriaConceptoGastoCodigoEc.value.observaciones}}
      </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>
        {{'csp.convocatoria-concepto-gasto.codigo-ec.listado.acciones' | translate}} </th>
      <td mat-cell *matCellDef="let convocatoriaConceptoGastoCodigoEc;let i=index;">
        <ng-container>
          <button mat-button matTooltip="{{'botones.ver' | translate}}" *ngIf="formPart.readonly"
            (click)="openModal(convocatoriaConceptoGastoCodigoEc)">
            <mat-icon color="primary">visibility</mat-icon>
          </button>
          <button mat-button matTooltip="{{'botones.editar' | translate}}" *ngIf="!formPart.readonly"
            (click)="openModal(convocatoriaConceptoGastoCodigoEc, i)" [disabled]="disableAddCodigoEc">
            <mat-icon color="primary">border_color</mat-icon>
          </button>
          <button mat-button matTooltip="{{'botones.borrar' | translate}}" *ngIf="!formPart.readonly"
            (click)="deleteConvocatoriaConceptoGastoCodigoEc(convocatoriaConceptoGastoCodigoEc)">
            <mat-icon color="warn">highlight_off</mat-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  </table>

  <mat-paginator #paginator [pageSizeOptions]="elementosPagina" showFirstLastButtons>
  </mat-paginator>

  <div class="separation-button" *ngIf="!formPart.readonly && formPart.convocatoriaConceptoGasto?.permitido">
    <button color="three" aria-label="Center Align" md-button mat-raised-button (click)="openModalCrear(true)"
      [disabled]="disableAddCodigoEc">
      <mat-icon color="accent">add_circle</mat-icon>
      {{'csp.convocatoria-concepto-gasto.codigo-ec.permitido.anadir'| translate}}
    </button>
  </div>
  <div class="separation-button" *ngIf="!formPart.readonly && !formPart.convocatoriaConceptoGasto?.permitido">
    <button color="three" aria-label="Center Align" md-button mat-raised-button (click)="openModalCrear(false)"
      [disabled]="disableAddCodigoEc">
      <mat-icon color="accent">add_circle</mat-icon>
      {{'csp.convocatoria-concepto-gasto.codigo-ec.no-permitido.anadir'| translate}}
    </button>
  </div>
</section>