<!-- Unidad Medida listado -->
<section id="unidad-medida-listado">
  <mat-form-field>
    <mat-label>{{'unidad-medida.listado.busqueda' | translate}}</mat-label>
    <input matInput (keyup)="applyFilter($event)"
      placeholder="{{'unidad-medida.listado.busqueda-placeholder' | translate}}">
  </mat-form-field>

  <table class="mat-elevation-z8 table-unidad" mat-table matSort [dataSource]="dataSource">

    <!-- Abreviatura Column -->
    <ng-container matColumnDef="abreviatura">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'unidad-medida.listado.abreviatura' | translate}} </th>
      <td mat-cell *matCellDef="let unidadMedida"> {{unidadMedida.abreviatura}} </td>
    </ng-container>

    <!-- Descripcion Column -->
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'unidad-medida.listado.descripcion' | translate}} </th>
      <td mat-cell *matCellDef="let unidadMedida"> {{unidadMedida.descripcion}} </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> {{'unidad-medida.listado.acciones' | translate}} </th>
      <td mat-cell *matCellDef="let unidadMedida;let i=index;">
        <button mat-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button>
          <mat-icon>close</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="separation-button">
    <button routerLink="/unidadesMedida/nuevaUnidadMedida" mat-button>
      <mat-icon>add_box</mat-icon> {{'unidad-medida.listado.nueva-unidad' | translate}}
    </button>
  </div>
</section>
<!-- FIN Unidad Medida listado-->