<mat-drawer-container class="mat-drawer-tabs" autosize>
  <mat-drawer class="tabs" mode="side" opened>
    <mat-list class="opciones-menu">
      <sgi-action-fragment-menu-item [route]="[GESTION_SEGUIMIENTO_ROUTE_NAMES.EVALUACIONES]"
        [title]="'eti.gestionSeguimiento.evaluar.evaluaciones.cabecera' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.EVALUACIONES)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[GESTION_SEGUIMIENTO_ROUTE_NAMES.COMENTARIOS]"
        [title]="'eti.gestionSeguimiento.evaluar.comentarios.cabecera' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.COMENTARIOS)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[GESTION_SEGUIMIENTO_ROUTE_NAMES.DOCUMENTACION]"
        [title]="'eti.gestionSeguimiento.evaluar.documentacion.cabecera' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.DOCUMENTACION)">
      </sgi-action-fragment-menu-item>

    </mat-list>
  </mat-drawer>
  <mat-drawer-content class="mat-drawer-content">
    <router-outlet></router-outlet>
    <sgi-action-footer [texto]="textoCrear" [actionService]="actionService">
    </sgi-action-footer>
  </mat-drawer-content>
</mat-drawer-container>