:host {
  .input-multilang {
    display: flex;
    height: 18px;
    gap: 5px;

    mat-select {
      width: 45px;
    }

    mat-select-trigger {
      display: flex;
      gap: 5px;
      margin-bottom: -2px;

      .text-language {
        float: left;
      }

      .img-language {
        float: left;
        width: 25px;
        height: 20px;
      }
    }
  }
}