<div class="input-multilang">
  <mat-select matPrefix [(ngModel)]="selectedLanguage">
    <mat-select-trigger>
      <span>{{selectedLanguage.codeExtended}}</span>
    </mat-select-trigger>
    <mat-option *ngFor="let language of availableLanguages" [value]="language">
      <span>{{language.translateKey |
        translate}} ({{language.codeExtended}})</span>
    </mat-option>
  </mat-select>

  <input matInput [(ngModel)]="editingValue" [disabled]="disabled" [placeholder]="placeholder">

</div>