<!-- Evaluador datos generales -->
<section>
  <h2>{{'eti.memoria.datosGenerales.title' | translate}}</h2>

  <form [formGroup]="formGroup" [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
    [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
    <!-- Comité -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field>
        <mat-label>{{'eti.memoria.datosGenerales.comite.titulo' | translate}}</mat-label>
        <input type="text" [placeholder]="'eti.evaluador.datosGenerales.comite.titulo' | translate" arial-label="Number"
          matInput formControlName="comite" [matAutocomplete]="autocompleteComite">
        <mat-autocomplete #autocompleteComite="matAutocomplete" [displayWith]="getComite">
          <mat-option *ngFor="let c of filteredComites | async" [value]="c">
            {{c.comite}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="formGroup.controls.comite.errors?.vacio">
          {{'eti.evaluador.datosGenerales.comite.error.vacio' | translate}}
        </mat-error>
      </mat-form-field>
    </div>


    <!-- Tipo de moemoria -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field>
        <mat-label>{{'eti.memoria.datosGenerales.tipoMemoria.titulo' | translate}}</mat-label>
        <input type="text" [placeholder]="'eti.evaluador.datosGenerales.tipoMemoria.titulo' | translate"
          arial-label="Number" matInput formControlName="tipoEstadoMemoria" [matAutocomplete]="autocompleteTipoMemoria">
        <mat-autocomplete #autocompleteTipoMemoria="matAutocomplete" [displayWith]="getTipoEstadoMemoria">
          <mat-option *ngFor="let t of filteredTipoMemorias | async" [value]="t">
            {{t.nombre}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="formGroup.controls.tipoEstadoMemoria.errors?.vacio">
          {{'eti.evaluador.datosGenerales.tipoEstadoMemoria.error.vacio' | translate}}
        </mat-error>
      </mat-form-field>
    </div>


    <!-- Título -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field>
        <mat-label>{{'eti.memoria.datosGenerales.titulo.titulo' | translate}}</mat-label>
        <input type="text" [placeholder]="'eti.evaluador.datosGenerales.titulo.titulo' | translate" arial-label="Number"
          matInput formControlName="titulo">
      </mat-form-field>
    </div>


    <!--Persona-->
    <div class="buscador" [ngClass]="{'disabled':  fragment.isEdit()}">
      <sgi-buscar-persona [textoLabel]="textoUsuarioLabel" [textoInput]="textoUsuarioInput"
        [textoButton]="textoUsuarioButton"
        [datosUsuarioTexto]="this.datosGeneralesFragment.getFormGroup().controls.personaRef.value"
        (usuarioSeleccionado)="this.datosGeneralesFragment.setPersona($event)">
      </sgi-buscar-persona>
    </div>
  </form>
</section>