<mat-dialog-content align="center">
  <header class="modal-header-material">
    <h3 mat-dialog-title>
      {{title | translate}}</h3>
  </header>
  <section>
    <form [formGroup]="formGroup" [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
      [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

      <!-- Memoria -->
      <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
        [fxFlexOrder]="fxFlexProperties.order">
        <mat-form-field class="input-form">
          <mat-label>{{'eti.memoria' | translate:MSG_PARAMS.CARDINALIRY.SINGULAR}}</mat-label>
          <input type="text" [placeholder]="'eti.memoria' | translate:MSG_PARAMS.CARDINALIRY.SINGULAR"
            arial-label="Number" matInput formControlName="memoria" [matAutocomplete]="autocompleteMemoria" required>
          <mat-autocomplete #autocompleteMemoria="matAutocomplete" [displayWith]="getMemoria">
            <mat-option *ngFor="let memoria of filteredMemorias | async" [value]="memoria">
              {{memoria.numReferencia}} - {{memoria.titulo}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="formGroup.controls.memoria.errors?.required">
            {{'error.required.entity' | translate:msgParamMemoriaEntity}}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Evaluador 1 -->
      <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
        [fxFlexOrder]="fxFlexProperties.order">
        <mat-form-field>
          <mat-label>{{'eti.convocatoria-reunion.memoria.evaludador-1' | translate}}
          </mat-label>
          <input type="text" [placeholder]="'eti.convocatoria-reunion.memoria.evaludador-1' | translate"
            arial-label="Number" matInput formControlName="evaluador1" [matAutocomplete]="autocompleteEvaluador1"
            required>
          <mat-autocomplete #autocompleteEvaluador1="matAutocomplete" [displayWith]="getEvaluador">
            <mat-option *ngFor="let evaluador of filteredEvaluadoresEvaluador1 | async" [value]="evaluador">
              {{evaluador?.persona?.nombre}} {{evaluador?.persona?.primerApellido}}
              {{evaluador?.persona?.segundoApellido}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="formGroup.controls.evaluador1.errors?.required">
            {{'error.required.entity' | translate:msgParamEvaludador1Entity}}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Evaluador 2 -->
      <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
        [fxFlexOrder]="fxFlexProperties.order">
        <mat-form-field>
          <mat-label>{{'eti.convocatoria-reunion.memoria.evaludador-2' | translate}}
          </mat-label>
          <input type="text" [placeholder]="'eti.convocatoria-reunion.memoria.evaludador-2' | translate"
            arial-label="Number" matInput formControlName="evaluador2" [matAutocomplete]="autocompleteEvaluador2"
            required>
          <mat-autocomplete #autocompleteEvaluador2="matAutocomplete" [displayWith]="getEvaluador">
            <mat-option *ngFor="let evaluador of filteredEvaluadoresEvaluador2 | async" [value]="evaluador">
              {{evaluador?.persona?.nombre}} {{evaluador?.persona?.primerApellido}}
              {{evaluador?.persona?.segundoApellido}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="formGroup.controls.evaluador2.errors?.required">
            {{'error.required.entity' | translate:msgParamEvaludador2Entity}}
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </section>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button color="accent" (click)="onAsignarmemoria()" md-button mat-raised-button tabindex="-1">{{isEdit ? ('btn.ok' |
    translate) : ('btn.add'| translate)}}</button>
  <button class="link-cancelar" mat-button mat-dialog-close tabindex="-1">{{'btn.cancel' | translate}}</button>
</mat-dialog-actions>