<div class="modelo-tipo-documento-modal">
  <header class="modal-header-material">
    <h3 mat-dialog-title>{{'csp.modelo.tipo.documento.modal.titulo' | translate}}</h3>
  </header>
  <main>
    <form [formGroup]="formGroup">

      <!-- Tipo de documento -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field fxFill>
            <mat-label>{{'csp.tipo.documento' | translate}}</mat-label>
            <mat-select matNativeControl formControlName="tipoDocumento" required>
              <mat-option [value]="null"></mat-option>
              <mat-option *ngFor="let tipoDocumento of tipoDocumentos$ | async" [value]="tipoDocumento">
                {{tipoDocumento.nombre}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.controls.tipoDocumento.errors?.required">
              {{'csp.tipo.documento.error.requerido' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Tipo de fase -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field fxFill>
            <mat-label>{{'csp.tipo.documento.fase' | translate}}</mat-label>
            <mat-select matNativeControl formControlName="tipoFase" [required]="isFaseRequired">
              <mat-option [value]="null"></mat-option>
              <mat-option *ngFor="let tipoFase of tipoFases$ | async" [value]="tipoFase">
                {{tipoFase.nombre}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.controls.tipoFase.errors?.required">
              {{'csp.tipo.fase.error.requerido' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </form>
  </main>
  <div id="modals-buttons" class="float-right" mat-dialog-actions>
    <button color="accent" (click)="saveOrUpdate()" md-button mat-raised-button type="submit">{{'botones.aniadir' |
      translate}}</button>
    <button class="link-cancelar" mat-button (click)="closeModal()" type="button">{{'botones.cancelar' |
      translate}}</button>
  </div>
</div>