<div class="modal-convocatoria-area-tematica">
  <header mat-dialog-title class="modal-header-material">
    <h3>{{title}}</h3>
  </header>
  <mat-dialog-content>
    <form class="form-inline" [formGroup]="formGroup">
      <div>
        <div>
          <mat-form-field class="input-form">
            <mat-label>{{'list.entity' | translate:msgParamEntity}}</mat-label>
            <input type="text" placeholder="{{'list.entity' | translate:msgParamEntity}}" arial-label="Number" matInput
              formControlName="padre">
          </mat-form-field>
        </div>
      </div>
      <div>
        <div class="programa">
          <div class="arbol">
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="arbol-tree">
              <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                <li class="mat-tree-node">
                  <button mat-icon-button disabled></button>
                  <mat-checkbox class="checkbox" color="primary" [checked]="node === checkedNode"
                    (change)="onCheckNode(node, $event)">
                    {{node.areaTematica.value.nombre}}
                  </mat-checkbox>
                </li>
              </mat-tree-node>
              <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                <li>
                  <div class="mat-tree-node">
                    <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'Toggle ' + node.areaTematica.value.nombre">
                      <mat-icon color="primary" class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                      </mat-icon>
                    </button>
                    <mat-checkbox class="checkbox" color="primary" [checked]="node === checkedNode"
                      (change)="onCheckNode(node, $event)">
                      {{node.areaTematica.value.nombre}}
                    </mat-checkbox>
                  </div>
                  <ul [class.arbol-invisible]="!treeControl.isExpanded(node)">
                    <ng-container matTreeNodeOutlet></ng-container>
                  </ul>
                </li>
              </mat-nested-tree-node>
            </mat-tree>
          </div>
        </div>
      </div>
    </form>
  </mat-dialog-content>
</div>
<div id="modals-buttons" class="float-right" mat-dialog-actions>
  <button color="accent" md-button mat-raised-button (click)="saveOrUpdate()" *ngIf="!this.data.readonly">{{textSaveOrUpdate |
    translate}}</button>
  <button class="link-cancelar" mat-button (click)="closeModal()">{{'btn.cancel' |
    translate}}</button>
</div>