<sgi-dialog-header title="{{'title.ejecucion-economica.validacion-gastos.factura-emitida' | translate}}">
</sgi-dialog-header>
<sgi-dialog-content>

  <div fxLayout="column">
    <mat-form-field>
      <mat-label>{{'sge.dato-economico.anualidad' | translate}}</mat-label>
      <input matInput [disabled]="true" [value]="data?.detalle?.anualidad | translate">
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{'sge.dato-economico.factura' | translate}}</mat-label>
      <input matInput [disabled]="true" [value]="data?.detalle?.numeroFactura">
    </mat-form-field>
    <mat-form-field *ngFor="let campo of data?.detalle?.campos">
      <mat-label>{{campo?.nombre}}</mat-label>
      <textarea matInput [disabled]="true" cdkTextareaAutosize cdkAutosizeMinRows="1" [value]="campo?.valor"></textarea>
    </mat-form-field>
  </div>

  <div *ngIf="!data?.isInvestigador">
    <h3>{{'csp.documentos' | translate}}</h3>
    <table mat-table [dataSource]="data?.detalle?.documentos" class="mat-elevation-z4">

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>
          {{'csp.documento.nombre' | translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.nombre}}
        </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>
          {{'label.actions' | translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="download(element)">
            <mat-icon>picture_as_pdf</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['nombre', 'acciones']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['nombre', 'acciones'];"></tr>

    </table>
  </div>
</sgi-dialog-content>
<mat-dialog-actions>
  <button class="link-cancelar" mat-button type="button" mat-dialog-close>
    {{'btn.cancel' | translate}}
  </button>
</mat-dialog-actions>