@import 'variables.scss';


.evaluador-listado {
  .col{
    &:first-child{
      padding-left: 0px;
    }
    padding-left: 15px;
    padding-right: 15px;
  }
  .filter-button {
    padding-top: 15px;
    padding-bottom: 15px;
    button {
      margin-right: 15px;
      margin-top: 15px;
    }
  }

  .table-evaluador {
    width: 100%;
    .mat-row:nth-child(even){
      background-color: map-get($palette-accent, 300);
    }
    .mat-row:nth-child(odd){
      background-color: map-get($palette-accent, 100);
    }
  }

  .separation-button {
    padding-top: 30px;
    padding-bottom: 10px;
  }
}