<div class="tipo-documento-modal">
  <header class="modal-header-material">
    <h3 mat-dialog-title>{{'csp.tipo.documento.modal.titulo' | translate}}</h3>
  </header>
  <main>
    <form [formGroup]="formGroup">
      <!-- Nombre -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field fxFill>
            <mat-label>{{'csp.tipo.documento.nombre' | translate}}</mat-label>
            <input matInput formControlName="nombre" type="text" id="nombre"
              placeholder="{{'csp.tipo.documento.nombre' | translate}}" required>
            <mat-error *ngIf="formGroup.controls.nombre.errors?.required">
              {{'csp.tipo.documento.nombre.error.requerido' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Descripción -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field fxFill>
            <mat-label>{{'csp.tipo.documento.descripcion' | translate}}</mat-label>
            <textarea matInput formControlName="descripcion" id="descripcion"
              placeholder="{{'csp.tipo.documento.descripcion' | translate}}"></textarea>
          </mat-form-field>
        </div>
      </div>

      <!-- Activo -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign"
        *ngIf="tipoDocumento.id">
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field>
            <mat-label>{{'csp.tipo.documento.activo' | translate}}</mat-label>
            <mat-select matNativeControl formControlName="activo">
              <mat-option value="true">{{'label.si' | translate}}</mat-option>
              <mat-option value="false">{{'label.no' | translate}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
  </main>
  <div id="modals-buttons" class="float-right" mat-dialog-actions>
    <button color="accent" (click)="saveOrUpdate()" md-button mat-raised-button
      type="submit">{{'botones.guardar' | translate}}</button>
    <button class="link-cancelar" mat-button (click)="closeModal()"
      type="button">{{'botones.cancelar' | translate}}</button>
  </div>
</div>