@import 'variables.scss';

.evaluacion-listado {
  .table-unidad{
    width: 100%;
    .mat-row:nth-child(even){
      background-color: map-get($palette-accent, 300);
    }
    .mat-row:nth-child(odd){
      background-color: map-get($palette-accent, 100);
    }
  }

  .separation-button {
    padding-top: 15px;
  }
}
