<header class="navbar header">
  <div fxLayout.xs="row wrap" fxLayout="row wrap" fxLayoutGap="10px">
    <!-- Columna menu movil (xs-sm) y logos-->
    <div fxFlex.xs="0 1 calc(65%-10px)" fxFlex.sm="0 1 calc(48%-10px)" fxFlex.md="0 1 calc(67%-10px)"
      fxFlex.gt-md="0 1 calc(67%-10px)">
      <div class="menu">
        <button fxHide fxShow.sm fxShow.xs mat-icon-button (click)="toggleSidenav()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="logos" fxLayoutAlign.xs="flex-start">
        <h1 style="display:none;">Hércules - Crue-TIC</h1>
        <div class="hercules">
          <a [routerLink]="['/']">
            <img src="assets/img/hercules-logo-min.png" alt="">
          </a>
        </div>
        <div class="universidad">
          <a [routerLink]="['/']">
            <img src="assets/img/universidades/universidad_murcia.png" alt="">
          </a>
        </div>
        <div class="select-modulo" id="seleccionarModulo" *ngIf="module !== Module.INV">
          <h2>{{module?.title | translate}}</h2>
        </div>
      </div>
    </div>
    <!-- FIN Columna menu movil (xs-sm) y logos-->

    <!-- navbar movil (xs-sm) -->
    <div fxHide fxShow.xs fxLayoutAlign="flex-end" fxFlex.xs="0 1 calc(35%-10px)" fxFlex.sm="0 1 calc(50%-10px)"
      fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(33%-10px)" class="icons-options devices">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu class="mat-menu" #menu="matMenu">
        <sgi-navbar class="icons-responsive"></sgi-navbar>
      </mat-menu>
    </div>
    <!-- FIN navbar (xs-sm) -->

    <!-- navbar pantallas grandes -->
    <div fxHide fxShow.sm fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)"
      fxFlex.gt-md="0 1 calc(33%-10px)">
      <div fxLayoutAlign="flex-end" class="icons-options desktop">
        <sgi-navbar class="inline"></sgi-navbar>
      </div>
    </div>
    <!-- FIN navbar pantallas grandes -->

    <!-- Menu secundario pantallas grandes (md,lg,xl) -->
    <div fxHide fxShow.md fxShow.lg fxShow.xl fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)"
      fxFlex.gt-md="0 1 calc(33%-10px)">
      <div fxLayoutAlign="flex-end" class="icons-options desktop">
        <sgi-navbar class="inline"></sgi-navbar>
      </div>
    </div>
    <!-- FIN Menu secundario pantallas grandes (md,lg,xl) -->

  </div>
</header>