@import "variables.scss";

$padding: 15px;

/* HEADER */
.header {
  border-bottom: 1px solid map-get($palette-primary, 50);
  padding: 0px 0px 0px 0px;

  .menu {
    width: 40px;
    float: left;
    display: inline;
  }

  .logos {
    .hercules {
      width: 65px;
      float: left;
      padding: 10px 0px 0px 15px;
      img {
        width: 44px;
      }
    }
    .universidad {
      width: 100px;
      float: left;
      padding: 5px 0px 0px 0px;
      img {
        width: 200px;
      }
    }
  }
  .icons-options {
    .inline {
      display: flex;
    }
  }
  #seleccionarModulo {
    float: left;
    width: auto;
    display: block;
    margin-left: 115px;
    padding-top: 17px;
    h2 {
      font-size: 17px;
      font-weight: bold;
      margin: 0px;
    }
    mat-form-field {
      width: 100%;
    }
  }
  .mat-menu {
    padding: $padding;
  }
}
/* FIN HEADER */
