@import "variables.scss";

$padding: 15px;

/* HEADER */
.header {
  border-bottom: 1px solid map-get($palette-primary, 50);
  padding: 3px 0px 3px 0px;

  .menu {
    width: 40px;
    float: left;
    display: inline;
  }

  .logos {
    .hercules {
      width: 65px;
      float: left;
      padding: 10px 0px 0px 15px;
      img {
        width: 44px;
      }
    }
    .universidad {
      width: 100px;
      float: left;
      padding: 5px 0px 0px 0px;
      img {
        width: 200px;
      }
    }
  }
  .icons-options {
    .inline {
      display: flex;
    }
  }
  #seleccionarModulo {
    margin-top: 15px;
    padding-left: $padding;
    padding-right: $padding;
    width: 100%;
    mat-form-field {
      width: 100%;
    }
  }
  .mat-menu {
    padding: $padding;
  }
}
/* FIN HEADER */
