<div class="modal-convocatoria-entidad-convocante">
  <header class="modal-header-material">
    <h3 mat-dialog-title>
      {{'csp.convocatoria.entidad.convocante.modal.titulo' | translate}}</h3>
  </header>
  <main>
    <form class="form-inline" [formGroup]="formGroup">
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <div class="wrapper">
            <div class="fields-wrapper">
              <mat-form-field fxFill>
                <mat-label>{{'csp.convocatoria.entidades.convocantes' | translate}}</mat-label>
                <input matInput type="text" id="nombreEmpresa" formControlName="nombreEmpresa" readonly
                  placeholder="{{'csp.convocatoria.entidades.convocantes' | translate}}" required>
                <mat-error *ngIf="formGroup.controls.nombreEmpresa.errors?.required">
                  {{'csp.convocatoria.entidades.convocantes.error.requerido' | translate}}
                </mat-error>
              </mat-form-field>
            </div>
            <button color="primary" md-button mat-raised-button *ngIf="!data.readonly"
              [disabled]="data.entidadConvocanteData.empresaEconomica?.personaRef"
              (click)="selectEmpresaEconomica()">{{'botones.buscar' | translate}}</button>
          </div>
        </div>
      </div>
      <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
        [fxFlexOrder]="fxFlexProperties.order">
        <mat-form-field class="input-form">
          <mat-label>{{'csp.convocatoria.entidades.convocantes.plan' | translate}}</mat-label>
          <input type="text" placeholder="{{'csp.convocatoria.entidades.convocantes.plan' | translate}}"
            arial-label="Number" matInput formControlName="plan" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="getNombrePlan">
            <mat-option *ngFor="let plan of planes$ | async" [value]="plan">
              {{plan.nombre}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="formGroup.controls.plan.errors?.invalid">
            {{'csp.convocatoria.entidades.convocantes.plan.error.invalid' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="programa" [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
        <div class="arbol" [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md"
          [fxFlex.gt-md]="fxFlexProperties.gtMd" [fxFlexOrder]="fxFlexProperties.order">
          <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="arbol-tree">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
              <li class="mat-tree-node">
                <button mat-icon-button disabled></button>
                <mat-checkbox class="checkbox" color="primary" [checked]="node === checkedNode"
                  [disabled]="data.readonly" (change)="onCheckNode(node, $event)">
                  {{node.programa.value.nombre}}
                </mat-checkbox>
              </li>
            </mat-tree-node>
            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
              <li>
                <div class="mat-tree-node">
                  <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.programa.value.nombre">
                    <mat-icon color="primary" class="mat-icon-rtl-mirror">
                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                  </button>
                  <mat-checkbox class="checkbox" color="primary" [checked]="node === checkedNode"
                    [disabled]="data.readonly" (change)="onCheckNode(node, $event)">
                    {{node.programa.value.nombre}}
                  </mat-checkbox>
                </div>
                <ul [class.arbol-invisible]="!treeControl.isExpanded(node)">
                  <ng-container matTreeNodeOutlet></ng-container>
                </ul>
              </li>
            </mat-nested-tree-node>
          </mat-tree>
        </div>
      </div>
    </form>
  </main>
</div>
<div id="modals-buttons" class="float-right" mat-dialog-actions>
  <button color="accent" md-button mat-raised-button (click)="saveOrUpdate()"
    *ngIf="!data.readonly">{{textSaveOrUpdate | translate}}</button>
  <button class="link-cancelar" mat-button (click)="closeModal()"
    type="button">{{'botones.cancelar' | translate}}</button>
</div>