<section class="seguimiento-datos-memoria">
  <h2>{{'eti.seguimiento.evaluar.datosMemoria.cabecera' | translate}}</h2>
  <form [formGroup]="formGroup" [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
    [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field>
        <mat-label>{{'eti.seguimiento.evaluar.datosMemoria.comite' | translate}}</mat-label>
        <input type="text" placeholder="{{'eti.seguimiento.evaluar.datosMemoria.comite' | translate}}"
          arial-label="Number" matInput formControlName="comite">
      </mat-form-field>
    </div>
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field color="primary">
        <mat-label>{{'eti.seguimiento.evaluar.datosMemoria.fechaEvaluacion'| translate}}</mat-label>
        <input matInput [matDatepicker]="fechaEvaluacion" formControlName="fechaEvaluacion" appDatepickerFormat>
        <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="fechaEvaluacion"></mat-datepicker-toggle>
        <mat-datepicker #fechaEvaluacion></mat-datepicker>
      </mat-form-field>
    </div>
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field>
        <mat-label>{{'eti.seguimiento.evaluar.datosMemoria.referenciaMemoria' | translate}}</mat-label>
        <input matInput formControlName="referenciaMemoria"
          placeholder="{{'eti.seguimiento.evaluar.datosMemoria.referenciaMemoria' | translate}}">
      </mat-form-field>
    </div>
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field>
        <mat-label>{{'eti.seguimiento.evaluar.datosMemoria.solicitante' | translate}}</mat-label>
        <input matInput formControlName="solicitante"
          placeholder="{{'eti.seguimiento.evaluar.datosMemoria.solicitante' | translate}}">
      </mat-form-field>
    </div>
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field>
        <mat-label>{{'eti.seguimiento.evaluar.datosMemoria.version' | translate}}</mat-label>
        <input matInput formControlName="version"
          placeholder="{{'eti.seguimiento.evaluar.datosMemoria.version' | translate}}">
      </mat-form-field>
    </div>
  </form>
  <sgi-seguimiento-listado-anterior-memoria #evaluaciones></sgi-seguimiento-listado-anterior-memoria>
</section>