<h1>{{'eti.evaluacion-etica.crear.titulo' | translate}}</h1>
<mat-tab-group headerPosition="above" (selectedTabChange)="cambioTab($event)">
  <!-- Datos generales -->
  <mat-tab>
    <ng-template mat-tab-label>
      <app-generic-tab-label [abstractTab]="datosGeneralesComponent" [errors]="errorTabs[0]"
        textoLabel="eti.evaluacion-etica.crear.datos-generales.cabecera">
      </app-generic-tab-label>
    </ng-template>
    <perfect-scrollbar [config]="configPerfectScrollBar">
      <app-evaluacion-etica-datos-generales #datosGeneralesComponent (eventEmitter)="setErroresTab(0, $event)">
      </app-evaluacion-etica-datos-generales>
    </perfect-scrollbar>
  </mat-tab>

  <!-- Equipo de investigación -->
  <mat-tab>
    <ng-template mat-tab-label>
      <app-generic-tab-label [abstractTab]="equipoInvestigadorComponent" [errors]="errorTabs[1]"
        textoLabel="eti.evaluacion-etica.crear.equipo-investigador">
      </app-generic-tab-label>
    </ng-template>
    <perfect-scrollbar [config]="configPerfectScrollBar">
      <app-evaluacion-etica-equipo-investigador #equipoInvestigadorComponent (eventEmitter)="setErroresTab(1, $event)">
      </app-evaluacion-etica-equipo-investigador>
    </perfect-scrollbar>
  </mat-tab>

  <!-- Asignación de tareas -->
  <mat-tab>
    <ng-template mat-tab-label>
      <app-generic-tab-label [abstractTab]="asignacionTareasComponent" [errors]="errorTabs[2]"
        textoLabel="eti.evaluacion-etica.crear.asignacion-tareas">
      </app-generic-tab-label>
    </ng-template>
    <perfect-scrollbar [config]="configPerfectScrollBar">
      <app-evaluacion-etica-equipo-asignacion-tareas #asignacionTareasComponent
        (eventEmitter)="setErroresTab(2, $event)">
      </app-evaluacion-etica-equipo-asignacion-tareas>
    </perfect-scrollbar>
  </mat-tab>
</mat-tab-group>

<!-- Footer -->
<app-footer-guardar [texto]="textoCrear" (emitter)="guardarDatos()"></app-footer-guardar>
