<section class="peticion-evaluacion-tareas">
  <table class="mat-elevation-z8 table-peticion-evaluacion" mat-table [dataSource]="datasource" matSort
    matSortActive="id" matSortDirection="asc" matSortDisableClear>

    <!-- Persona nombre y apellidos -->
    <ng-container matColumnDef="equipoTrabajo.nombre">
      <th mat-header-cell *matHeaderCellDef> {{'eti.peticionEvaluacion.tareas.listado.persona' | translate}}
      </th>
      <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.equipoTrabajo.nombre}}
        {{wrapper.value.equipoTrabajo.primerApellido}}
        {{wrapper.value.equipoTrabajo.segundoApellido}} </td>
    </ng-container>

    <!-- Referencia memoria Column -->
    <ng-container matColumnDef="memoria.numRerecencia">
      <th mat-header-cell *matHeaderCellDef> {{'eti.peticionEvaluacion.tareas.listado.refMemoria' | translate}}
      </th>
      <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.memoria.numReferencia}} </td>
    </ng-container>

    <!--Tarea Column -->
    <ng-container matColumnDef="tarea">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'eti.peticionEvaluacion.tareas.listado.tarea' | translate}}
      </th>
      <td mat-cell *matCellDef="let wrapper">
        {{wrapper.value.tipoTarea ? wrapper.value.tipoTarea.nombre : wrapper.value.tarea}} </td>
    </ng-container>

    <!-- Formacion específica Column -->
    <ng-container matColumnDef="formacionEspecifica.nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'eti.peticionEvaluacion.tareas.listado.formacionEspecifica' | translate}} </th>
      <td mat-cell *matCellDef="let wrapper">
        {{wrapper.value.formacionEspecifica ? wrapper.value.formacionEspecifica.nombre:wrapper.value.formacion}} </td>
    </ng-container>

    <!--Tarea Column -->
    <ng-container matColumnDef="organismo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'eti.peticionEvaluacion.tareas.listado.organismo' | translate}}
      </th>
      <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.organismo}} </td>
    </ng-container>


    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> {{'eti.peticionEvaluacion.tareas.listado.acciones' | translate}} </th>
      <td mat-cell *matCellDef="let wrapper;let i=index;">
        <ng-container *sgiHasAnyAuthorityForAnyUO="['ETI-PEV-C-INV', 'ETI-PEV-ER-INV']">
          <button (click)="openUpdateModal(wrapper)" mat-button
            matTooltip="{{'eti.peticionEvaluacion.tareas.listado.editar' | translate}}">
            <mat-icon color="primary">border_color</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="wrapper.value.eliminable">
          <button mat-button *sgiHasAnyAuthorityForAnyUO="['ETI-PEV-C-INV', 'ETI-PEV-ER-INV']"
            matTooltip="{{'eti.peticionEvaluacion.tareas.listado.borrar' | translate}}" (click)="delete(wrapper)">
            <mat-icon color="warn">highlight_off</mat-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="elementosPagina" showFirstLastButtons>
  </mat-paginator>
  <!-- Botón añadir petición de evaluación -->
  <div class="separation-button">
    <button color="three" *sgiHasAnyAuthorityForAnyUO="['ETI-PEV-C-INV', 'ETI-PEV-ER-INV']"
      (click)="openModalAddTarea()" mat-button>
      <mat-icon>add_box</mat-icon>
      {{'eti.peticionEvaluacion.formulario.tareas.listado.nuevaTarea' | translate}}
    </button>
  </div>

</section>