<div class="miembro-equipo-proyecto-modal">
  <header class="modal-header-material">
    <h3 mat-dialog-title>{{title}}</h3>
  </header>

  <main>
    <form [formGroup]="formGroup">
      <!-- Rol investigador -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <div [fxFlex.sm]="fxFlexPropertiesFullWidth.sm" [fxFlex.md]="fxFlexPropertiesFullWidth.md"
          [fxFlex.gt-md]="fxFlexPropertiesFullWidth.gtMd" [fxFlexOrder]="fxFlexPropertiesFullWidth.order">
          <mat-form-field fxFill>
            <mat-label>
              {{'csp.miembro-equipo-proyecto.rol-participacion' | translate}}
            </mat-label>
            <mat-select formControlName="rolParticipacion" [compareWith]="compareRolProyecto"
              placeholder="{{'csp.miembro-equipo-solicitud.rol-participacion' | translate}}">
              <mat-option [value]="null"></mat-option>
              <mat-option *ngFor="let rolParticipacion of rolesProyecto" [value]="rolParticipacion">
                {{rolParticipacion?.nombre}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.controls.rolParticipacion.errors?.required">
              {{'error.required.entity' | translate:msgParamRolParticipacionEntity}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.rolParticipacion.errors?.invalid">
              {{'error.invalid.entity' | translate:msgParamRolParticipacionEntity}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Miembro -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <div [fxFlex.sm]="fxFlexPropertiesFullWidth.sm" [fxFlex.md]="fxFlexPropertiesFullWidth.md"
          [fxFlex.gt-md]="fxFlexPropertiesFullWidth.gtMd" [fxFlexOrder]="fxFlexPropertiesFullWidth.order">
          <mat-form-field fxFill>
            <mat-label>
              {{'csp.miembro-equipo-proyecto.miembro' | translate}}
            </mat-label>
            <sgi-select-persona placeholder="{{'csp.miembro-equipo-solicitud.miembro' | translate}}"
              formControlName="miembro" [colectivos]="colectivoIdRolParticipacion" required>
            </sgi-select-persona>
            <mat-error *ngIf="formGroup.controls.miembro.errors?.required">
              {{'error.required.entity' | translate:msgParamMiembroEntity}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.miembro.errors?.contains">
              {{'error.csp.persona-equipo.duplicate' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Horas dedicacion -->
      <ng-container *ngIf="data.showHorasDedicacion">
        <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
          <div [fxFlex.sm]="fxFlexPropertiesFullWidth.sm" [fxFlex.md]="fxFlexPropertiesFullWidth.md"
            [fxFlex.gt-md]="fxFlexPropertiesFullWidth.gtMd" [fxFlexOrder]="fxFlexPropertiesFullWidth.order">
            <mat-form-field fxFill>
              <mat-label>
                {{'csp.miembro-equipo-proyecto.horas' | translate}}
              </mat-label>
              <input matInput formControlName="horasDedicacion" type="number" id="horasDedicacion"
                placeholder="{{'csp.miembro-equipo-proyecto.horas' | translate}}">
              <mat-error *ngIf="formGroup.controls.horasDedicacion.errors?.max">
                {{'error.max.entity' | translate:msgParamHoraEntity}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </ng-container>

      <!-- Periodo participacion -->
      <div class="fieldset-form">
        {{'title.csp.miembro-equipo-proyecto.periodo-participacion' | translate}}
      </div>

      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

        <!-- Fecha inicio -->
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field color="primary" fxFill>
            <mat-label>{{'csp.miembro-equipo-proyecto.fecha-inicio' | translate}}</mat-label>
            <input matInput formControlName="fechaInicio" [ngxMatDatetimePicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker1 showSeconds="true" [defaultTime]="[0,0,0]"></ngx-mat-datetime-picker>
            <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.range">
              {{'error.overlapping.record.entity' | translate:msgParamFechaInicioEntity}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.invalid">
              {{'error.csp.miembro-equipo-proyecto.fecha.invalid' | translate}}
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Fecha fin -->
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field color="primary" fxFill>
            <mat-label>{{'csp.miembro-equipo-proyecto.fecha-fin' | translate}}</mat-label>
            <input matInput formControlName="fechaFin" [ngxMatDatetimePicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker2 showSeconds="true" [defaultTime]="[23,59,59]"></ngx-mat-datetime-picker>
            <mat-error *ngIf="formGroup.controls.fechaFin.errors?.after">
              {{'error.after.fecha-fin' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.fechaFin.errors?.range">
              {{'error.overlapping.record.entity' | translate:msgParamFechaFinEntity}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.fechaFin.errors?.invalid">
              {{'error.csp.miembro-equipo-proyecto.fecha.invalid' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </main>

  <div id="modals-buttons" class="float-right" mat-dialog-actions>
    <button color="accent" md-button mat-raised-button (click)="saveOrUpdate()" [disabled]="saveDisabled">
      {{textSaveOrUpdate | translate}}
    </button>
    <button class="link-cancelar" mat-button (click)="closeModal()" type="button">
      {{'btn.cancel' | translate}}
    </button>
  </div>
</div>