<mat-drawer-container class="mat-drawer-tabs" autosize>
  <mat-drawer mode="side" class="tabs" opened>
    <mat-list class="opciones-menu">
      <sgi-action-fragment-menu-group [title]="'label.datos-generales' | translate">
        <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.FICHA_GENERAL]"
          [title]="'label.ficha-general' | translate"
          [fragment]="actionService.getFragment(actionService.FRAGMENT.FICHA_GENERAL)">
        </sgi-action-fragment-menu-item>
        <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.CONTEXTO_PROYECTO]"
          [title]="'csp.proyecto-contexto' | translate"
          [fragment]="actionService.getFragment(actionService.FRAGMENT.CONTEXTO_PROYECTO)">
        </sgi-action-fragment-menu-item>
        <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.HISTORICO_ESTADOS]"
          [title]="'menu.csp.proyectos.datos-generales.historicos-estados' | translate"
          [fragment]="actionService.getFragment(actionService.FRAGMENT.HISTORICO_ESTADOS)">
        </sgi-action-fragment-menu-item>
      </sgi-action-fragment-menu-group>
      <sgi-action-fragment-menu-group [title]="'menu.csp.proyectos.entidades' | translate">
        <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.ENTIDAD_GESTORA]"
          [title]="'menu.csp.proyectos.entidades-gestoras' | translate"
          [fragment]="actionService.getFragment(actionService.FRAGMENT.ENTIDAD_GESTORA)">
        </sgi-action-fragment-menu-item>
        <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.ENTIDADES_CONVOCANTES]"
          [title]="'menu.csp.proyectos.entidades-convocantes' | translate"
          [fragment]="actionService.getFragment(actionService.FRAGMENT.ENTIDADES_CONVOCANTES)">
        </sgi-action-fragment-menu-item>
        <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.ENTIDADES_FINANCIADORAS]"
          [title]="'menu.csp.proyectos.entidades-financiadoras' | translate"
          [fragment]="actionService.getFragment(actionService.FRAGMENT.ENTIDADES_FINANCIADORAS)">
        </sgi-action-fragment-menu-item>
      </sgi-action-fragment-menu-group>
      <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.EQUIPO_PROYECTO]"
        [title]="'menu.csp.proyectos.equipos' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.EQUIPO_PROYECTO)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.SOCIOS]"
        [title]="'menu.csp.proyectos.socios' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.SOCIOS)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-group [title]="'menu.csp.proyectos.plazos-hitos' | translate">
        <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.PLAZOS]"
          [title]="'menu.csp.proyectos.plazos' | translate"
          [fragment]="actionService.getFragment(actionService.FRAGMENT.PLAZOS)">
        </sgi-action-fragment-menu-item>
        <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.HITOS]"
          [title]="'menu.csp.proyectos.hitos' | translate"
          [fragment]="actionService.getFragment(actionService.FRAGMENT.HITOS)">
        </sgi-action-fragment-menu-item>
      </sgi-action-fragment-menu-group>
      <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.SEGUIMIENTO_CIENTIFICO]"
        [title]="'menu.csp.proyectos.seguimientos-cientificos' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.SEGUIMIENTO_CIENTIFICO)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.PRORROGAS]"
        [title]="'menu.csp.proyectos.prorrogas' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.PRORROGAS)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-group [title]="'menu.csp.proyectos.configuracion-paquetes-trabajo' | translate"
        *ngIf="actionService.showPaquetesTrabajo$ | async">
        <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.PAQUETE_TRABAJO]"
          [title]="'menu.csp.proyectos.paquetes-trabajo' | translate"
          [fragment]="actionService.getFragment(actionService.FRAGMENT.PAQUETE_TRABAJO)">
        </sgi-action-fragment-menu-item>
      </sgi-action-fragment-menu-group>
      <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.DOCUMENTOS]" [title]="'csp.documentos' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.DOCUMENTOS)">
      </sgi-action-fragment-menu-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content class="mat-drawer-content">
    <div class="mat-drawer-content-panel">
      <router-outlet></router-outlet>
    </div>
    <sgi-action-footer [texto]="textoCrear" [actionService]="actionService">
    </sgi-action-footer>
  </mat-drawer-content>
</mat-drawer-container>