<mat-drawer-container class="mat-drawer-tabs">
  <mat-drawer mode="side" class="tabs" opened>
    <mat-list class="opciones-menu">
      <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.FICHA_GENERAL]"
        [title]="'label.fichaGeneral' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.FICHA_GENERAL)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.ENTIDADES_CONVOCANTES]"
        [title]="'csp.proyecto-entidad-convocantes' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.ENTIDADES_CONVOCANTES)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.ENTIDADES_FINANCIADORAS]"
        [title]="'cps.proyecto.menu.entidades-financiadoras' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.ENTIDADES_FINANCIADORAS)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.HITOS]" [title]="'csp.proyecto.hitos' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.HITOS)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.PLAZOS]"
        [title]="'csp.proyecto.menu.proyectosPlazos' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.PLAZOS)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.SOCIOS]"
        [title]="'csp.proyecto.menu.socios' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.SOCIOS)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.PAQUETE_TRABAJO]"
        *ngIf="actionService.disabledPaqueteTrabajo" [title]="'csp.proyecto.paquete.trabajo' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.PAQUETE_TRABAJO)">
      </sgi-action-fragment-menu-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content class="mat-drawer-content">
    <div class="mat-drawer-content-panel">
      <router-outlet></router-outlet>
    </div>
    <sgi-action-footer [texto]="textoCrear" [actionService]="actionService">
    </sgi-action-footer>
  </mat-drawer-content>
</mat-drawer-container>