<mat-drawer-container class="mat-drawer-tabs">
  <mat-drawer mode="side" class="tabs" opened>
    <mat-list class="opciones-menu">
      <sgi-action-fragment-menu-group [title]="'csp.proyecto.menu.datos-generales' | translate">
        <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.FICHA_GENERAL]"
          [title]="'csp.proyecto.menu.ficha-general' | translate"
          [fragment]="actionService.getFragment(actionService.FRAGMENT.FICHA_GENERAL)">
        </sgi-action-fragment-menu-item>
        <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.CONTEXTO_PROYECTO]"
          [title]="'csp.proyecto.menu.contexto-proyecto' | translate"
          [fragment]="actionService.getFragment(actionService.FRAGMENT.CONTEXTO_PROYECTO)">
        </sgi-action-fragment-menu-item>
        <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.HISTORICO_ESTADOS]"
          [title]="'csp.proyecto.menu.historico-estado' | translate"
          [fragment]="actionService.getFragment(actionService.FRAGMENT.HISTORICO_ESTADOS)">
        </sgi-action-fragment-menu-item>
      </sgi-action-fragment-menu-group>
      <sgi-action-fragment-menu-group [title]="'menu.csp.proyectos.entidades' | translate">
        <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.ENTIDAD_GESTORA]"
          [title]="'csp.proyecto.menu.entidad-gestora' | translate"
          [fragment]="actionService.getFragment(actionService.FRAGMENT.ENTIDAD_GESTORA)">
        </sgi-action-fragment-menu-item>
        <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.ENTIDADES_CONVOCANTES]"
          [title]="'menu.csp.proyectos.entidades.convocantes' | translate"
          [fragment]="actionService.getFragment(actionService.FRAGMENT.ENTIDADES_CONVOCANTES)">
        </sgi-action-fragment-menu-item>
        <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.ENTIDADES_FINANCIADORAS]"
          [title]="'csp.proyecto.menu.entidades-financiadoras' | translate"
          [fragment]="actionService.getFragment(actionService.FRAGMENT.ENTIDADES_FINANCIADORAS)">
        </sgi-action-fragment-menu-item>
      </sgi-action-fragment-menu-group>
      <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.EQUIPO_PROYECTO]"
        [title]="'csp.proyecto.menu.equipo-proyecto' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.EQUIPO_PROYECTO)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.SOCIOS]"
        [title]="'csp.proyecto.menu.socios' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.SOCIOS)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-group [title]="'csp.proyecto.menu.plazos-hitos' | translate">
        <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.PLAZOS]"
          [title]="'csp.proyecto.menu.plazos' | translate"
          [fragment]="actionService.getFragment(actionService.FRAGMENT.PLAZOS)">
        </sgi-action-fragment-menu-item>
        <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.HITOS]"
          [title]="'csp.proyecto.menu.hitos' | translate"
          [fragment]="actionService.getFragment(actionService.FRAGMENT.HITOS)">
        </sgi-action-fragment-menu-item>
      </sgi-action-fragment-menu-group>
      <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.SEGUIMIENTO_CIENTIFICO]"
        [title]="'csp.proyecto.menu.seguimiento-cientifico' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.SEGUIMIENTO_CIENTIFICO)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.PRORROGAS]"
        [title]="'csp.proyecto.menu.prorrogas' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.PRORROGAS)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-group [title]="'csp.proyecto.menu.configuracion-paquetes-trabajo' | translate"
        *ngIf="actionService.disabledPaqueteTrabajo">
        <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.PAQUETE_TRABAJO]"
          [title]="'csp.proyecto.menu.paquete.trabajo' | translate"
          [fragment]="actionService.getFragment(actionService.FRAGMENT.PAQUETE_TRABAJO)">
        </sgi-action-fragment-menu-item>
      </sgi-action-fragment-menu-group>
      <sgi-action-fragment-menu-item [route]="[PROYECTO_ROUTE_NAMES.DOCUMENTOS]"
        [title]="'csp.proyecto.menu.documento' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.DOCUMENTOS)">
      </sgi-action-fragment-menu-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content class="mat-drawer-content">
    <div class="mat-drawer-content-panel">
      <router-outlet></router-outlet>
    </div>
    <sgi-action-footer [texto]="textoCrear" [actionService]="actionService">
    </sgi-action-footer>
  </mat-drawer-content>
</mat-drawer-container>