<div class="modal-convocatoria-hitos">
  <header class="modal-header-material">
    <h3 mat-dialog-title>{{title}}</h3>
  </header>
  <main>

    <form [formGroup]="formGroup">
      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

        <div [fxFlex.sm]="fxFlexProperties2.sm" [fxFlex.md]="fxFlexProperties2.md"
          [fxFlex.gt-md]="fxFlexProperties2.gtMd" [fxFlexOrder]="fxFlexProperties2.order">
          <mat-form-field>
            <mat-label>{{'csp.hito.tipo' | translate}}</mat-label>
            <input matInput formControlName="tipoHito" type="text" id="tipoHito"
              placeholder="{{'csp.hito.tipo' | translate}}" required [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="getTipoHito">
              <mat-option *ngFor="let modeloTipoHito of modeloTiposHito$ | async" [value]="modeloTipoHito.tipoHito">
                {{modeloTipoHito.tipoHito.nombre}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="formGroup.controls.tipoHito.errors?.required">
              {{'error.required.entity' | translate:msgParamTipoEntity}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.tipoHito.errors?.invalid">
              {{'error.invalid.entity' | translate:msgParamTipoEntity}}
            </mat-error>
          </mat-form-field>

        </div>
      </div>

      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

        <!-- Fecha inicio -->
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field color="primary">
            <mat-label>{{'csp.hito.fecha-inicio'| translate}}</mat-label>
            <input matInput [ngxMatDatetimePicker]="pickerFechaInicio" formControlName="fechaInicio" required>
            <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="pickerFechaInicio"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #pickerFechaInicio showSeconds="true" [defaultTime]="[0,0,0]">
            </ngx-mat-datetime-picker>
            <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.required">
              {{'error.required.entity' | translate:msgParamFechaInicioEntity}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.notIn">
              {{'msg.csp.hito.fecha-inicio.duplicate' | translate}}
            </mat-error>
          </mat-form-field>

        </div>
      </div>

      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
        <!-- Comentario -->
        <div [fxFlex.sm]="fxFlexProperties3.sm" [fxFlex.md]="fxFlexProperties3.md"
          [fxFlex.gt-md]="fxFlexProperties3.gtMd" [fxFlexOrder]="fxFlexProperties3.order">
          <mat-form-field fxFill>
            <mat-label>{{'csp.hito.comentario' | translate}}</mat-label>
            <textarea matInput formControlName="comentario" type="text" id="comentario"
              placeholder="{{'csp.hito.comentario' | translate}}">
            </textarea>
            <mat-error *ngIf="formGroup.get('comentario').errors?.maxlength">
              {{'error.maxlength.entity' | translate: msgParamComentarioEntity}}
            </mat-error>
          </mat-form-field>

        </div>
      </div>

      <div [fxLayout]="fxLayoutProperties.layout" class="checkbox">
        <mat-checkbox color="primary" formControlName="aviso" id="aviso">
          {{'csp.hito.aviso' | translate}}</mat-checkbox>
      </div>

    </form>
  </main>

  <div id="modals-buttons" class="float-right" mat-dialog-actions>
    <button color="accent" (click)="saveOrUpdate()" md-button mat-raised-button *ngIf="!data.readonly"
      type="submit">{{textSaveOrUpdate | translate}}</button>
    <button class="link-cancelar" mat-button (click)="closeModal()" type="button">{{'btn.cancel' | translate}}</button>
  </div>
</div>