<section class="proyecto-socio-datos-generales">
  <form [formGroup]="formGroup">

    <!-- Socio -->
    <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
      <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
        [fxFlexOrder]="fxFlexProperties.order">
        <mat-form-field class="input-form">
          <mat-label>{{'csp.proyecto-socio.datosGenerales.socio' | translate}}</mat-label>
          <sgi-select-empresa-economica formControlName="empresa"
            placeholder="{{'csp.proyecto-socio.datosGenerales.socio' | translate}}" required>
          </sgi-select-empresa-economica>
          <mat-error *ngIf="formGroup.controls.empresa.errors?.required">
            {{'csp.proyecto-socio.datosGenerales.socio.error.required' | translate}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.empresa.errors?.overlapped">
            {{'csp.proyecto-socio.datosGenerales.socio.error.overlapped' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Rol del socio -->
    <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
      <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
        [fxFlexOrder]="fxFlexProperties.order">
        <mat-form-field fxFill>
          <mat-label>{{'csp.proyecto-socio.datosGenerales.rolSocio' | translate}}</mat-label>
          <input matInput formControlName="rolSocio" type="text" id="rolSocio"
            placeholder="{{'csp.proyecto-socio.datosGenerales.rolSocio' | translate}}" [matAutocomplete]="autoRolSocio"
            required>
          <mat-autocomplete #autoRolSocio="matAutocomplete" [displayWith]="getNombreRolSocio">
            <mat-option *ngFor="let rolSocio of rolSocios$ | async" [value]="rolSocio">
              {{rolSocio.nombre}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="formGroup.controls.rolSocio.errors?.required">
            {{'csp.proyecto-socio.datosGenerales.rolSocio.error.required' | translate}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.rolSocio.errors?.invalid">
            {{'csp.proyecto-socio.datosGenerales.rolSocio.error.invalid' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Número de investigadores -->
    <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
      [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
      <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
        [fxFlexOrder]="fxFlexProperties.order">
        <mat-form-field fxFill>
          <mat-label>{{'csp.proyecto-socio.datosGenerales.numInvestigadores' | translate}}</mat-label>
          <input matInput formControlName="numInvestigadores" type="number" id="numInvestigadores"
            placeholder="{{'csp.proyecto-socio.datosGenerales.numInvestigadores' | translate}}">
          <mat-error *ngIf="formGroup.controls.numInvestigadores.errors?.min">
            {{'csp.proyecto-socio.datosGenerales.numInvestigadores.error.min' | translate}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.numInvestigadores.errors?.max">
            {{'csp.proyecto-socio.datosGenerales.numInvestigadores.error.max' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Importe concedido -->
    <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
      [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
      <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
        [fxFlexOrder]="fxFlexProperties.order">
        <mat-form-field fxFill>
          <mat-label>{{'csp.proyecto-socio.datosGenerales.importeConcedido' | translate}}</mat-label>
          <input matInput formControlName="importeConcedido" type="number" id="numInvestigadores"
            placeholder="{{'csp.proyecto-socio.datosGenerales.importeConcedido' | translate}}">
          <mat-error *ngIf="formGroup.controls.importeConcedido.errors?.min">
            {{'csp.proyecto-socio.datosGenerales.importeConcedido.error.min' | translate}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.importeConcedido.errors?.max">
            {{'csp.proyecto-socio.datosGenerales.importeConcedido.error.max' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Periodo de participacion -->
    <div class="fieldset-form">
      {{'csp.proyecto-socio.datosGenerales.periodoParticipacion' | translate}}
    </div>

    <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
      [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

      <!-- Fecha de inicio -->
      <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
        [fxFlexOrder]="fxFlexProperties.order">
        <mat-form-field fxFill>
          <mat-label>{{'csp.proyecto-socio.datosGenerales.periodoParticipacion.fechaInicio'| translate}}</mat-label>
          <input matInput [ngxMatDatetimePicker]="pickerFechaInicio" formControlName="fechaInicio">
          <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="pickerFechaInicio"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #pickerFechaInicio showSeconds="true" [defaultTime]="[0,0,0]">
          </ngx-mat-datetime-picker>
          <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.overlapped">
            {{'csp.proyecto-socio.datosGenerales.periodoParticipacion.fechaInicio.error.overlapped' | translate}}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Fecha de fin -->
      <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
        [fxFlexOrder]="fxFlexProperties.order">
        <mat-form-field fxFill>
          <mat-label>{{'csp.proyecto-socio.datosGenerales.periodoParticipacion.fechaFin' | translate}}</mat-label>
          <input matInput [ngxMatDatetimePicker]="pickerFechaFin" formControlName="fechaFin">
          <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="pickerFechaFin"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #pickerFechaFin showSeconds="true" [defaultTime]="[23,59,59]">
          </ngx-mat-datetime-picker>
          <mat-error *ngIf="formGroup.controls.fechaFin.errors?.after">
            {{'csp.proyecto-socio.datosGenerales.periodoParticipacion.fechaFin.error.after' | translate}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.fechaFin.errors?.overlapped">
            {{'csp.proyecto-socio.datosGenerales.periodoParticipacion.fechaFin.error.overlapped' | translate}}
          </mat-error>
        </mat-form-field>
      </div>

    </div>

  </form>
</section>