<div class="modelo-tipo-enlace-modal">
  <header class="modal-header-material">
    <h3 mat-dialog-title>{{title}}</h3>
  </header>
  <main>
    <form [formGroup]="formGroup">
      <!-- Tipo de enlace -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field fxFill>
            <mat-label>{{'csp.modelo-ejecucion-tipo-enlace.tipo' | translate}}</mat-label>
            <mat-select matNativeControl formControlName="tipoEnlace" required>
              <mat-option *ngFor="let tipoEnlace of tipoEnlaces$ | async" [value]="tipoEnlace">{{tipoEnlace.nombre}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.controls.tipoEnlace.errors?.required">
              {{'error.required.entity' | translate:msgParamTipoEntiy}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </main>
  <div id="modals-buttons" class="float-right" mat-dialog-actions>
    <button color="accent" (click)="saveOrUpdate()" md-button mat-raised-button type="submit">{{'btn.add' |
      translate}}</button>
    <button class="link-cancelar" mat-button (click)="closeModal()" type="button">{{'btn.cancel' |
      translate}}</button>
  </div>
</div>