<sgi-action [actionService]="actionService">
  <ng-container menu>
    <sgi-action-fragment-menu-item [route]="[SOLICITUD_ROUTE_NAMES.DATOS_GENERALES]"
      *sgiHasAnyAuthorityForAnyUO="['CSP-SOL-E', 'CSP-SOL-V', 'CSP-SOL-INV-V']"
      [title]="'label.datos-generales' | translate"
      [fragment]="actionService.getFragment(actionService.FRAGMENT.DATOS_GENERALES)">
    </sgi-action-fragment-menu-item>
    <ng-container *sgiHasAnyAuthorityForAnyUO="['CSP-SOL-E', 'CSP-SOL-V']">
      <sgi-action-fragment-menu-group *ngIf="actionService.formularioSolicitud === FormularioSolicitud.ESTANDAR"
        [title]="'menu.csp.solicitudes.datos-proyecto' | translate">
        <sgi-action-fragment-menu-item [route]="[SOLICITUD_ROUTE_NAMES.PROYECTO_DATOS]"
          [title]="'label.ficha-general' | translate"
          [fragment]="actionService.getFragment(actionService.FRAGMENT.PROYECTO_DATOS)">
        </sgi-action-fragment-menu-item>
        <sgi-action-fragment-menu-item [route]="[SOLICITUD_ROUTE_NAMES.PROYECTO_AREA_CONOCIMIENTO]"
          [title]="'label.areas-conocimiento' | translate"
          [fragment]="actionService.getFragment(actionService.FRAGMENT.PROYECTO_AREA_CONOCIMIENTO)">
        </sgi-action-fragment-menu-item>
        <sgi-action-fragment-menu-item [route]="[SOLICITUD_ROUTE_NAMES.CLASIFICACIONES]"
          [title]="'csp.solicitud-proyecto-clasificacion'  | translate:MSG_PARAMS.CARDINALIRY.PLURAL"
          [fragment]="actionService.getFragment(actionService.FRAGMENT.CLASIFICACIONES)">
        </sgi-action-fragment-menu-item>
        <sgi-action-fragment-menu-item [route]="[SOLICITUD_ROUTE_NAMES.EQUIPO_PROYECTO]"
          *ngIf="actionService.datosProyectoComplete$ | async"
          [title]="'menu.csp.solicitudes.equipos-proyecto' | translate"
          [fragment]="actionService.getFragment(actionService.FRAGMENT.EQUIPO_PROYECTO)">
        </sgi-action-fragment-menu-item>
        <sgi-action-fragment-menu-item [route]="[SOLICITUD_ROUTE_NAMES.SOCIOS]"
          *ngIf="(actionService.datosProyectoComplete$ | async) && (actionService.showSocios$ | async)"
          [title]="'csp.solicitud-proyecto-socio' | translate:MSG_PARAMS.CARDINALIRY.PLURAL"
          [fragment]="actionService.getFragment(actionService.FRAGMENT.SOCIOS)">
        </sgi-action-fragment-menu-item>
        <sgi-action-fragment-menu-item [route]="[SOLICITUD_ROUTE_NAMES.ENTIDADES_FINANCIADORAS]"
          *ngIf="actionService.datosProyectoComplete$ | async"
          [title]="'csp.convocatoria-entidad-financiadora' | translate:MSG_PARAMS.CARDINALIRY.PLURAL"
          [fragment]="actionService.getFragment(actionService.FRAGMENT.ENTIDADES_FINANCIADORAS)">
        </sgi-action-fragment-menu-item>
        <sgi-action-fragment-menu-item [route]="[SOLICITUD_ROUTE_NAMES.DESGLOSE_PRESUPUESTO_GLOBAL]"
          *ngIf="(actionService.datosProyectoComplete$ | async) && (actionService.showDesglosePresupuestoGlobal$ | async)"
          [title]="'menu.csp.solicitudes.desgloses-presupuesto' | translate"
          [fragment]="actionService.getFragment(actionService.FRAGMENT.DESGLOSE_PRESUPUESTO_GLOBAL)">
        </sgi-action-fragment-menu-item>
        <sgi-action-fragment-menu-item [route]="[SOLICITUD_ROUTE_NAMES.DESGLOSE_PRESUPUESTO_ENTIDADES]"
          *ngIf="(actionService.datosProyectoComplete$ | async) && (actionService.showDesglosePresupuestoEntidad$ | async)"
          [title]="'menu.csp.solicitudes.desgloses-presupuesto' | translate"
          [fragment]="actionService.getFragment(actionService.FRAGMENT.DESGLOSE_PRESUPUESTO_ENTIDADES)">
        </sgi-action-fragment-menu-item>
      </sgi-action-fragment-menu-group>
    </ng-container>
    <sgi-action-fragment-menu-item *sgiHasAnyAuthorityForAnyUO="['CSP-SOL-E', 'CSP-SOL-V']"
      [route]="[SOLICITUD_ROUTE_NAMES.DOCUMENTOS]" [title]="'csp.documentos' | translate"
      [fragment]="actionService.getFragment(actionService.FRAGMENT.DOCUMENTOS)">
    </sgi-action-fragment-menu-item>
    <sgi-action-fragment-menu-item *sgiHasAnyAuthorityForAnyUO="['CSP-SOL-E', 'CSP-SOL-V']"
      [route]="[SOLICITUD_ROUTE_NAMES.HISTORICO_ESTADOS]"
      [title]="'menu.csp.solicitudes.historicos-estados' | translate"
      [fragment]="actionService.getFragment(actionService.FRAGMENT.HISTORICO_ESTADOS)">
    </sgi-action-fragment-menu-item>
    <ng-container *sgiHasAnyAuthorityForAnyUO="['CSP-SOL-E', 'CSP-SOL-V']">
      <sgi-action-fragment-menu-item [route]="[SOLICITUD_ROUTE_NAMES.HITOS]"
        [title]="'csp.hito' | translate:MSG_PARAMS.CARDINALIRY.PLURAL"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.HITOS)"
        *ngIf="this.actionService.showHitos$ | async">
      </sgi-action-fragment-menu-item>
    </ng-container>
  </ng-container>
  <ng-container footer>
    <sgi-action-footer [texto]="textoCrear" [actionService]="actionService">
      <ng-container *sgiHasAuthorityForAnyUO="'CSP-SOL-E'">
        <!-- Presentar-->
        <sgi-action-footer-button *ngIf="hasEstadoCambio(Estado.BORRADOR) && isPresentable" color="primary"
          [text]="textoPresentar" (buttonClick)="cambioEstado(textoPresentar)" [disabled]="disableCambioEstado">
        </sgi-action-footer-button>

        <!-- Excluir provisionalmente-->
        <sgi-action-footer-button *ngIf="hasEstadoCambio(Estado.PRESENTADA)" color="primary"
          [text]="textoExcluirProvisionalmente" (buttonClick)="cambioEstado(textoExcluirProvisionalmente)"
          [disabled]="disableCambioEstado">
        </sgi-action-footer-button>

        <!-- Admiitir provisionalmente-->
        <sgi-action-footer-button *ngIf="hasEstadoCambio(Estado.PRESENTADA)" color="primary"
          [text]="textoAdmitirProvisionalmente" (buttonClick)="cambioEstado(textoAdmitirProvisionalmente)"
          [disabled]="disableCambioEstado">
        </sgi-action-footer-button>

        <!-- Desistir-->
        <sgi-action-footer-button
          *ngIf="hasEstadoCambio(Estado.PRESENTADA, Estado.ADMITIDA_PROVISIONAL,
       Estado.EXCLUIDA_PROVISIONAL, Estado.ADMITIDA_DEFINITIVA,  Estado.DENEGADA_PROVISIONAL, Estado.CONCECIDA_PROVISIONAL)" color="primary"
          [text]="textoDesistir" (buttonClick)="cambioEstado(textoDesistir)" [disabled]="disableCambioEstado">
        </sgi-action-footer-button>

        <!-- Alegar Admisión-->
        <sgi-action-footer-button *ngIf="hasEstadoCambio(Estado.EXCLUIDA_PROVISIONAL)" color="primary"
          [text]="textoAlegarAdmision" (buttonClick)="cambioEstado(textoAlegarAdmision)"
          [disabled]="disableCambioEstado">
        </sgi-action-footer-button>

        <!-- Excluir-->
        <sgi-action-footer-button *ngIf="hasEstadoCambio(Estado.ALEGADA_ADMISION)" color="primary" [text]="textoExcluir"
          (buttonClick)="cambioEstado(textoExcluir)" [disabled]="disableCambioEstado">
        </sgi-action-footer-button>

        <!-- Admitir definitivamente-->
        <sgi-action-footer-button *ngIf="hasEstadoCambio(Estado.ADMITIDA_PROVISIONAL, Estado.ALEGADA_ADMISION)"
          color="primary" [text]="textoAdmitirDefinitivamente" (buttonClick)="cambioEstado(textoAdmitirDefinitivamente)"
          [disabled]="disableCambioEstado">
        </sgi-action-footer-button>

        <!-- Conceder provisionalmente-->
        <sgi-action-footer-button *ngIf="hasEstadoCambio(Estado.ADMITIDA_DEFINITIVA)" color="primary"
          [text]="textoConcederProvisionalmente" (buttonClick)="cambioEstado(textoConcederProvisionalmente)"
          [disabled]="disableCambioEstado">
        </sgi-action-footer-button>

        <!-- Denegar provisionalmente-->
        <sgi-action-footer-button *ngIf="hasEstadoCambio(Estado.ADMITIDA_DEFINITIVA)" color="primary"
          [text]="textoDenegarProvisionalmente" (buttonClick)="cambioEstado(textoDenegarProvisionalmente)"
          [disabled]="disableCambioEstado">
        </sgi-action-footer-button>

        <!-- Alegar concesión-->
        <sgi-action-footer-button *ngIf="hasEstadoCambio(Estado.DENEGADA_PROVISIONAL)" color="primary"
          [text]="textoAlegarConcesion" (buttonClick)="cambioEstado(textoAlegarConcesion)"
          [disabled]="disableCambioEstado">
        </sgi-action-footer-button>

        <!-- Conceder-->
        <sgi-action-footer-button *ngIf="hasEstadoCambio(Estado.CONCECIDA_PROVISIONAL, Estado.ALEGADA_CONCESION)"
          color="primary" [text]="textoConceder" (buttonClick)="cambioEstado(textoConceder)"
          [disabled]="disableCambioEstado">
        </sgi-action-footer-button>

        <!-- Denegar-->
        <sgi-action-footer-button *ngIf="hasEstadoCambio( Estado.ALEGADA_CONCESION)" color="primary"
          [text]="textoDenegar" (buttonClick)="cambioEstado(textoDenegar)" [disabled]="disableCambioEstado">
        </sgi-action-footer-button>
      </ng-container>
    </sgi-action-footer>
  </ng-container>
</sgi-action>