<mat-drawer-container class="mat-drawer-tabs">
  <mat-drawer mode="side" class="tabs" opened>
    <mat-list class="opciones-menu">
      <sgi-action-fragment-menu-item [route]="[SOLICITUD_ROUTE_NAMES.DATOS_GENERALES]"
        [title]="'label.datos-generales' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.DATOS_GENERALES)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[SOLICITUD_ROUTE_NAMES.PROYECTO_DATOS]" *ngIf="tipoEstandar"
        [title]="'csp.solicitud.menu.proyectoDatos' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.PROYECTO_DATOS)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[SOLICITUD_ROUTE_NAMES.EQUIPO_PROYECTO]" *ngIf="tipoEstandar"
        [title]="'csp.solicitud.menu.equipo.proyecto' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.EQUIPO_PROYECTO)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[SOLICITUD_ROUTE_NAMES.SOCIOS_COLABORADORES]"
        *ngIf="actionService.isSociosColaboradores" [title]="'csp.solicitud.menu.socios.colaboradores' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.SOCIOS_COLABORADORES)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[SOLICITUD_ROUTE_NAMES.ENTIDADES_FINANCIADORAS]" *ngIf="tipoEstandar"
        [title]="'csp.solicitud.menu.entidadesFinanciadoras' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.ENTIDADES_FINANCIADORAS)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[SOLICITUD_ROUTE_NAMES.DESGLOSE_PRESUPUESTO_GLOBAL]"
        *ngIf="!(actionService.isPresupuestoPorEntidades$ | async)"
        [title]="'csp.solicitud.menu.desglose-presupuesto' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.DESGLOSE_PRESUPUESTO_GLOBAL)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[SOLICITUD_ROUTE_NAMES.DESGLOSE_PRESUPUESTO_ENTIDADES]"
        *ngIf="actionService.isPresupuestoPorEntidades$ | async"
        [title]="'csp.solicitud.menu.desglose-presupuesto' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.DESGLOSE_PRESUPUESTO_ENTIDADES)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[SOLICITUD_ROUTE_NAMES.DOCUMENTOS]"
        [title]="'csp.solicitud.menu.documentos' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.DOCUMENTOS)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[SOLICITUD_ROUTE_NAMES.HISTORICO_ESTADOS]"
        [title]="'csp.solicitud.menu.historicoEstados' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.HISTORICO_ESTADOS)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[SOLICITUD_ROUTE_NAMES.HITOS]" [title]="'csp.solicitud.hitos' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.HITOS)"
        *ngIf="this.actionService.showHitos$ | async">
      </sgi-action-fragment-menu-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content class="mat-drawer-content">
    <div class="mat-drawer-content-panel">
      <router-outlet></router-outlet>
    </div>
    <sgi-action-footer [texto]="textoCrear" [actionService]="actionService">
    </sgi-action-footer>
  </mat-drawer-content>
</mat-drawer-container>