<section class="memoria-documentacion">
  <h2>{{'eti.documentacion' | translate}}</h2>
  <table class="mat-elevation-z8 table-acta" mat-table [dataSource]="dataSourceDocumentoMemoria" matSort
    matSortActive="id" matSortDirection="asc" matSortDisableClear #sortDocumentacionMemoria="matSort">

    <!-- Referencia documentación Column -->
    <ng-container matColumnDef="documentoRef">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'eti.memoria.documentacion.referencia' | translate}}
      </th>
      <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.documentoRef}} </td>
    </ng-container>

    <!-- Tipo documento Column -->
    <ng-container matColumnDef="tipoDocumento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'eti.memoria.documento.tipo' | translate}}
      </th>
      <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.tipoDocumento.nombre}} </td>
    </ng-container>


    <!-- Aportado Column -->
    <ng-container matColumnDef="aportado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'eti.memoria.documentacion.aportado' | translate}}
      </th>
      <td mat-cell *matCellDef="let wrapper">
        {{wrapper.value.aportado === true ? ('label.si' | translate) : 'label.no' | translate}} </td>
    </ng-container>


    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> {{'label.actions' | translate}} </th>
      <td mat-cell *matCellDef="let wrapper;let i=index;">

        <ng-container *ngIf="wrapper.value.aportado === true">
          <button mat-button matTooltip="{{'btn.show.file' | translate}}"
            (click)="visualizarDocumento(wrapper.value.documentoRef)">
            <mat-icon color="primary">picture_as_pdf</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="wrapper.value.aportado === true && hasPermisoUpdateDocumentacionInicial()">
          <button mat-button matTooltip="{{'btn.delete' | translate}}"
            (click)="deleteDocumentacionSeguimiento(0, wrapper)">
            <mat-icon color="warn">highlight_off</mat-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsDocumentoMemoria"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsDocumentoMemoria;"></tr>

  </table>

  <mat-paginator #paginatorDocumentacionMemoria [pageSizeOptions]="elementosPaginaDocumentoMemoria"
    showFirstLastButtons>
  </mat-paginator>


  <!-- Botón añadir documentación -->
  <div class="separation-button">
    <ng-container *ngIf="hasPermisoUpdateDocumentacionInicial()">
      <button color="three" md-button mat-raised-button (click)="openModalDocumentacionMemoria()">
        <mat-icon color="accent">add_circle</mat-icon>
        {{'btn.add.entity' | translate:msgParamDocumentoEntity}}
      </button>
    </ng-container>
  </div>


  <div class="separation-button">
    <h2>{{'title.eti.memoria.documentacion.seguimiento-anual' | translate}}</h2>
    <ng-container *ngIf="comite?.formulario.id === 1">
      <span>{{'eti.memoria.documentacion.seguimiento-anual.formulario.M10' | translate}}</span>
    </ng-container>
    <ng-container *ngIf="comite?.formulario.id === 2">
      <span>{{'eti.memoria.documentacion.seguimiento-anual.formulario.M20' | translate}}</span>
    </ng-container>
    <ng-container *ngIf="comite?.formulario.id === 3">
      <span>{{'eti.memoria.documentacion.seguimiento-anual.formulario.M30' | translate}}</span>
    </ng-container>
    <div class="separation-button">
      <table class="mat-elevation-z8 table-acta" mat-table [dataSource]="dataSourceSeguimientoAnual" matSort
        matSortActive="id" matSortDirection="asc" matSortDisableClear #sortSeguimientoAnual="matSort">

        <!-- Referencia documentación Column -->
        <ng-container matColumnDef="documentoRef">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'eti.memoria.documentacion.referencia' | translate}}
          </th>
          <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.documentoRef}} </td>
        </ng-container>

        <!-- Tipo documento Column -->
        <ng-container matColumnDef="tipoDocumento.nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{'eti.memoria.documento.tipo' | translate}}
          </th>
          <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.tipoDocumento.nombre}} </td>
        </ng-container>


        <!-- Aportado Column -->
        <ng-container matColumnDef="aportado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'eti.memoria.documentacion.aportado' | translate}}
          </th>
          <td mat-cell *matCellDef="let wrapper">
            {{wrapper.value.aportado === true ? ('label.si' | translate) : 'label.no' | translate}} </td>
        </ng-container>


        <!-- Acciones Column -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> {{'label.actions' | translate}} </th>
          <td mat-cell *matCellDef="let wrapper;let i=index;">

            <ng-container *ngIf="wrapper.value.aportado === true">
              <button mat-button matTooltip="{{'btn.show.file' | translate}}"
                (click)="visualizarDocumento(wrapper.value.documentoRef)">
                <mat-icon color="primary">picture_as_pdf</mat-icon>
              </button>
            </ng-container>
            <ng-container *ngIf="wrapper.value.aportado === true && hasPermisoUpdateDocumentacionSeguimientoAnual()">
              <button mat-button matTooltip="{{'btn.delete' | translate}}"
                (click)="deleteDocumentacionSeguimiento(documentacionTipo.SEGUIMIENTO_ANUAL, wrapper)">
                <mat-icon color="warn">highlight_off</mat-icon>
              </button>
            </ng-container>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsSeguimientoAnual"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsSeguimientoAnual;"></tr>

      </table>

      <mat-paginator #paginatorSeguimientoAnual [pageSizeOptions]="elementosPaginaSeguimientoAnual"
        showFirstLastButtons>
      </mat-paginator>
    </div>
    <!-- Botón añadir documentación -->
    <div class="separation-button">
      <ng-container *ngIf="hasPermisoUpdateDocumentacionSeguimientoAnual()">
        <button color="three" md-button mat-raised-button
          (click)="openModalDocumentacionSeguimiento(documentacionTipo.SEGUIMIENTO_ANUAL)">
          <mat-icon color="accent">add_circle</mat-icon>
          {{'btn.add.entity' | translate:msgParamDocumentoEntity}}
        </button>
      </ng-container>
    </div>


  </div>

  <div class="separation-button">
    <h2>{{'title.eti.memoria.documentacion.seguimiento-final' | translate}}</h2>
    <table class="mat-elevation-z8 table-acta" mat-table [dataSource]="dataSourceSeguimientoFinal" matSort
      matSortActive="id" matSortDirection="asc" matSortDisableClear #sortSeguimientoFinal="matSort">

      <!-- Referencia documentación Column -->
      <ng-container matColumnDef="documentoRef">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'eti.memoria.documentacion.referencia' | translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.documentoRef}} </td>
      </ng-container>

      <!-- Tipo documento Column -->
      <ng-container matColumnDef="tipoDocumento.nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'eti.memoria.documento.tipo' | translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.tipoDocumento.nombre}} </td>
      </ng-container>


      <!-- Aportado Column -->
      <ng-container matColumnDef="aportado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'eti.memoria.documentacion.aportado' | translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper">
          {{wrapper.value.aportado === true ? ('label.si' | translate) : 'label.no' | translate}} </td>
      </ng-container>


      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> {{'label.actions' | translate}} </th>
        <td mat-cell *matCellDef="let wrapper;let i=index;">

          <ng-container *ngIf="wrapper.value.aportado === true">
            <button mat-button matTooltip="{{'btn.show.file' | translate}}"
              (click)="visualizarDocumento(wrapper.value.documentoRef)">
              <mat-icon color="primary">picture_as_pdf</mat-icon>
            </button>
          </ng-container>
          <ng-container *ngIf="wrapper.value.aportado === true && hasPermisoUpdateDocumentacionSeguimientoFinal()">
            <button mat-button matTooltip="{{'btn.delete' | translate}}"
              (click)="deleteDocumentacionSeguimiento(documentacionTipo.SEGUIMIENTO_FINAL, wrapper)">
              <mat-icon color="warn">highlight_off</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsSeguimientoFinal"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsSeguimientoFinal;"></tr>

    </table>

    <mat-paginator #paginatorSeguimientoFinal [pageSizeOptions]="elementosPaginaSeguimientoFinal" showFirstLastButtons>
    </mat-paginator>

    <div class="separation-button">
      <!-- Botón añadir documentación -->
      <ng-container *ngIf="hasPermisoUpdateDocumentacionSeguimientoFinal()">
        <button color="three" md-button mat-raised-button
          (click)="openModalDocumentacionSeguimiento(documentacionTipo.SEGUIMIENTO_FINAL)">
          <mat-icon color="accent">add_circle</mat-icon>
          {{'btn.add.entity' | translate:msgParamDocumentoEntity}}
        </button>
      </ng-container>
    </div>

  </div>



  <div class="separation-button">
    <h2>{{'title.eti.memoria.documentacion.retrospectiva' | translate}}</h2>
    <table class="mat-elevation-z8 table-acta" mat-table [dataSource]="dataSourceRetrospectiva" matSort
      matSortActive="id" matSortDirection="asc" matSortDisableClear #sortRetrospectiva="matSort">

      <!-- Referencia documentación Column -->
      <ng-container matColumnDef="documentoRef">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'eti.memoria.documentacion.referencia' | translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.documentoRef}} </td>
      </ng-container>

      <!-- Tipo documento Column -->
      <ng-container matColumnDef="tipoDocumento.nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'eti.memoria.documento.tipo' | translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.tipoDocumento.nombre}} </td>
      </ng-container>


      <!-- Aportado Column -->
      <ng-container matColumnDef="aportado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'eti.memoria.documentacion.aportado' | translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper">
          {{wrapper.value.aportado === true ? ('label.si' | translate) : 'label.no' | translate}} </td>
      </ng-container>


      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> {{'label.actions' | translate}} </th>
        <td mat-cell *matCellDef="let wrapper;let i=index;">

          <ng-container *ngIf="wrapper.value.aportado === true">
            <button mat-button matTooltip="{{'btn.show.file' | translate}}"
              (click)="visualizarDocumento(wrapper.value.documentoRef)">
              <mat-icon color="primary">picture_as_pdf</mat-icon>
            </button>
          </ng-container>
          <ng-container *ngIf="wrapper.value.aportado === true && hasPermisoUpdateDocumentacionRetrospectiva()">
            <button mat-button matTooltip="{{'btn.delete' | translate}}"
              (click)="deleteDocumentacionSeguimiento(documentacionTipo.RETROSPECTIVA, wrapper)">
              <mat-icon color="warn">highlight_off</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsRetrospectiva"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsRetrospectiva;"></tr>

    </table>

    <mat-paginator #paginatorRetrospectiva [pageSizeOptions]="elementosPaginaRetrospectiva" showFirstLastButtons>
    </mat-paginator>

    <div class="separation-button">
      <!-- Botón añadir documentación -->
      <ng-container *ngIf="hasPermisoUpdateDocumentacionRetrospectiva()">
        <button color="three" md-button mat-raised-button
          (click)="openModalDocumentacionSeguimiento(documentacionTipo.RETROSPECTIVA)">
          <mat-icon color="accent">add_circle</mat-icon>
          {{'btn.add.entity' | translate:msgParamDocumentoEntity}}
        </button>
      </ng-container>
    </div>


  </div>
</section>