<div class="modal-editar-comentario-editar">
  <header class="modal-header-material">
    <h3 mat-dialog-title>{{'eti.comentario.editar.titulo' | translate}}</h3>
  </header>
  <main>
    <form [formGroup]="formGroup">
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <mat-form-field appearance="fill" fxFill>
          <mat-label>{{'eti.comentario.editar.bloque.titulo' | translate}}</mat-label>
          <input matInput formControlName="bloqueFormulario" type="text" id="bloqueFormulario"
            placeholder="{{'eti.comentario.editar.bloque.titulo' | translate}}" required
            [matAutocomplete]="autocompleteBloque" (ngModelChange)="loadApartados()">
          <mat-autocomplete #autocompleteBloque="matAutocomplete" [displayWith]="getNombreBloqueFormulario">
            <mat-option *ngFor="let bloque of bloquesFormulario" [value]="bloque">
              {{bloque.nombre}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="formGroup.controls.bloqueFormulario.errors?.required">
            {{'eti.comentario.editar.bloque.error.requerido' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <mat-form-field appearance="fill" fxFill *ngIf="apartadosFormulario?.length > 0">
          <mat-label>{{'eti.comentario.editar.apartado.titulo' | translate}}</mat-label>
          <input matInput formControlName="apartadoFormulario" type="text" id="apartadoFormulario"
            placeholder="{{'eti.comentario.editar.apartado.titulo' | translate}}" required
            [matAutocomplete]="autocompleteApartado" (ngModelChange)="loadHijos()">
          <mat-autocomplete #autocompleteApartado="matAutocomplete" [displayWith]="getNombreApartadoFormulario">
            <mat-option *ngFor="let apartadoFormulario of apartadosFormulario" [value]="apartadoFormulario">
              {{apartadoFormulario.nombre}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="formGroup.controls.apartadoFormulario.errors?.required">
            {{'eti.comentario.editar.apartado.error.requerido' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign"
        *ngIf="subapartados?.length > 0">
        <mat-form-field appearance="fill" fxFill>
          <mat-label>{{'eti.comentario.editar.subapartado.titulo' | translate}}</mat-label>
          <input matInput formControlName="subapartado" type="text" id="subapartado"
            placeholder="{{'eti.comentario.editar.subapartado.titulo' | translate}}"
            [matAutocomplete]="autocompleteSubApartado">
          <mat-autocomplete #autocompleteSubApartado="matAutocomplete" [displayWith]="getNombreApartadoFormulario">
            <mat-option *ngFor="let subapartado of subapartados" [value]="subapartado">
              {{subapartado.nombre}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <mat-form-field appearance="fill" fxFill>
          <mat-label>{{'eti.comentario.editar.comentario.titulo' | translate}}</mat-label>
          <textarea matInput formControlName="comentario" type="text" id="comentario"
            placeholder="{{'eti.comentario.editar.comentario.titulo' | translate}}" required>
        </textarea>
          <mat-error *ngIf="formGroup.controls.comentario.errors?.required">
            {{'eti.comentario.editar.comentario.error.requerido' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </main>
  <div id="modals-buttons" class="float-right" mat-dialog-actions>
    <button color="accent" (click)="updateComentario()" md-button mat-raised-button mat-dialog-close
      type="submit">Guardar</button>
    <button class="link-cancelar" mat-button (click)="closeModal()" type="button">Cancelar</button>
  </div>
</div>