<div class="modal-editar-comentario-editar">
  <header class="modal-header-material">
    <h3 mat-dialog-title>{{'eti.comentario.editar.titulo' | translate}}</h3>
  </header>
  <main>
    <form [formGroup]="formGroup">
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <mat-form-field fxFill>
          <mat-label>{{'eti.comentario.editar.bloque.titulo' | translate}}</mat-label>
          <input matInput formControlName="bloque" type="text" id="bloque"
            placeholder="{{'eti.comentario.editar.bloque.titulo' | translate}}" required
            [matAutocomplete]="autocompleteBloque" (ngModelChange)="loadApartados()">
          <mat-autocomplete #autocompleteBloque="matAutocomplete" [displayWith]="getNombreBloque">
            <mat-option *ngFor="let bloque of bloques" [value]="bloque">
              {{bloque.nombre}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="formGroup.controls.bloque.errors?.required">
            {{'eti.comentario.editar.bloque.error.requerido' | translate}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.bloque.errors?.invalid">
            {{'eti.comentario.crear.bloque.error.invalido' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <mat-form-field fxFill *ngIf="apartados?.length > 0">
          <mat-label>{{'eti.comentario.editar.apartado.titulo' | translate}}</mat-label>
          <input matInput formControlName="apartado" type="text" id="apartado"
            placeholder="{{'eti.comentario.editar.apartado.titulo' | translate}}" required
            [matAutocomplete]="autocompleteApartado" (ngModelChange)="loadHijos()">
          <mat-autocomplete #autocompleteApartado="matAutocomplete" [displayWith]="getNombreApartado">
            <mat-option *ngFor="let apartado of apartados" [value]="apartado">
              {{apartado.nombre}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="formGroup.controls.apartado.errors?.required">
            {{'eti.comentario.editar.apartado.error.requerido' | translate}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.apartado.errors?.invalid">
            {{'eti.comentario.crear.apartado.error.invalido' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign"
        *ngIf="subapartados?.length > 0">
        <mat-form-field fxFill>
          <mat-label>{{'eti.comentario.editar.subapartado.titulo' | translate}}</mat-label>
          <input matInput formControlName="subapartado" type="text" id="subapartado"
            placeholder="{{'eti.comentario.editar.subapartado.titulo' | translate}}"
            [matAutocomplete]="autocompleteSubApartado">
          <mat-autocomplete #autocompleteSubApartado="matAutocomplete" [displayWith]="getNombreApartado">
            <mat-option *ngFor="let subapartado of subapartados" [value]="subapartado">
              {{subapartado.nombre}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="formGroup.controls.subapartado.errors?.invalid">
            {{'eti.comentario.crear.apartado.error.invalido' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <mat-form-field fxFill>
          <mat-label>{{'eti.comentario.editar.comentario.titulo' | translate}}</mat-label>
          <textarea matInput formControlName="comentario" type="text" id="comentario"
            placeholder="{{'eti.comentario.editar.comentario.titulo' | translate}}" required>
        </textarea>
          <mat-error *ngIf="formGroup.controls.comentario.errors?.required">
            {{'eti.comentario.editar.comentario.error.requerido' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </main>
  <div id="modals-buttons" class="float-right" mat-dialog-actions>
    <button color="accent" (click)="updateComentario()" md-button mat-raised-button
      type="submit">{{'botones.aceptar' | translate}}</button>
    <button class="link-cancelar" mat-button (click)="closeModal()"
      type="button">{{'botones.cancelar' | translate}}</button>
  </div>
</div>