<section>
  <h2>{{'menu.csp.proyectos.seguimientos-cientificos' | translate}}</h2>

  <table class="mat-elevation-z8 table-acta" mat-table [dataSource]="dataSource" matSort matSortActive="numPeriodo"
    matSortDirection="asc" matSortDisableClear>

    <!-- NumPeriodo Column -->
    <ng-container matColumnDef="numPeriodo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.proyecto-periodo-seguimiento-cientifico.numero-periodo'
        |
        translate}} </th>
      <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.numPeriodo}} </td>
    </ng-container>

    <!-- FechaInicio Column -->
    <ng-container matColumnDef="fechaInicio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.proyecto-periodo-seguimiento-cientifico.fecha-inicio' |
        translate}}
      </th>
      <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.fechaInicio | luxon:'short'}} </td>
    </ng-container>

    <!-- FechaFin Column -->
    <ng-container matColumnDef="fechaFin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'csp.proyecto-periodo-seguimiento-cientifico.fecha-fin' |
        translate}}
      </th>
      <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.fechaFin | luxon:'short'}} </td>
    </ng-container>

    <!-- FechaInicioPresentacion Column -->
    <ng-container matColumnDef="fechaInicioPresentacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.proyecto-periodo-seguimiento-cientifico.fecha-inicio-presentacion' |
        translate}}
      </th>
      <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.fechaInicioPresentacion | luxon:'short'}}
      </td>
    </ng-container>

    <!-- FechaFinPresentacion Column -->
    <ng-container matColumnDef="fechaFinPresentacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.proyecto-periodo-seguimiento-cientifico.fecha-fin-presentacion' |
        translate}}
      </th>
      <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.fechaFinPresentacion | luxon:'short'}} </td>
    </ng-container>

    <!-- Observaciones Column -->
    <ng-container matColumnDef="observaciones">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.proyecto-periodo-seguimiento-cientifico.observaciones' |
        translate}} </th>
      <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.observaciones}} </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> {{'label.actions' | translate}} </th>
      <td mat-cell *matCellDef="let wrapper">
        <ng-container>
          <button mat-button matTooltip="{{'btn.edit' | translate}}"
            [routerLink]="['../../..', CSP_ROUTE_NAMES.PROYECTO_SEGUIMIENTO_CIENTIFICO, wrapper.value.id]"
            [state]="createState(wrapper)" *ngIf="!this.formPart.readOnly">
            <mat-icon color="primary">border_color</mat-icon>
          </button>
          <button mat-button matTooltip="{{'btn.view' | translate}}"
            [routerLink]="['../../..', CSP_ROUTE_NAMES.PROYECTO_SEGUIMIENTO_CIENTIFICO, wrapper.value.id]"
            [state]="createState(wrapper)" *ngIf="this.formPart.readOnly">
            <mat-icon color="primary">visibility</mat-icon>
          </button>
        </ng-container>
        <ng-container>
          <button mat-button matTooltip="{{'btn.delete' | translate}}"
            (click)="deleteProyectoPeriodoSeguimiento(wrapper)">
            <mat-icon color="warn">highlight_off</mat-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="separation-button">
    <button color="three" mat-button mat-raised-button
      [routerLink]="['../../..', CSP_ROUTE_NAMES.PROYECTO_SEGUIMIENTO_CIENTIFICO, ROUTE_NAMES.NEW]"
      [state]="createState()" [disabled]="this.formPart.readOnly">
      <mat-icon color="accent">add_circle</mat-icon>
      {{ 'btn.add.entity' | translate:msgParamEntity }}
    </button>
  </div>
</section>