<!-- Tipo Fungible crear -->
<section class="tipo-fungible-crear">
  <h2>{{'cat.tipo-fungible.crear.titulo' | translate}}</h2>
  <form [formGroup]="formGroup" [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
    fxLayoutGap="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field appearance="fill">
        <mat-label>{{'cat.tipo-fungible.crear.nombre.titulo' | translate}}</mat-label>
        <input #nombre matInput formControlName="nombre" type="text" id="nombre"
          placeholder="{{'cat.tipo-fungible.crear.nombre.titulo' | translate}}" required maxlength="100">
        <mat-hint>{{nombre.value.length}} / 100</mat-hint>
        <mat-error *ngIf="FormGroupUtil.checkError(formGroup, 'nombre') && formGroup.get('nombre').errors.required">
          {{'cat.tipo-fungible.crear.nombre.error.requerido' | translate}}
        </mat-error>
        <mat-error *ngIf="FormGroupUtil.checkError(formGroup, 'nombre') && formGroup.get('nombre').errors.maxlength">
          {{'cat.tipo-fungible.crear.nombre.error.maximo' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form" appearance="fill">
        <mat-label>{{'cat.tipo-fungible.crear.servicio.titulo' | translate}}</mat-label>
        <input type="text" placeholder="Servicio" arial-label="Number" matInput formControlName="servicio"
          [matAutocomplete]="auto" required>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="getServicio">
          <mat-option *ngFor="let servicio of filteredServicios$ | async" [value]="servicio">
            {{servicio.nombre}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="FormGroupUtil.checkError(formGroup, 'servicio') && formGroup.get('servicio').errors.required">
          {{'cat.tipo-fungible.crear.servicio.error.requerido' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
  <div class="footer-button">
    <button fxFlex="20%" aria-label="Center Align" md-button mat-raised-button (click)="enviarForm()"
      [disabled]='desactivarAceptar'>
      {{'botones.guardar'| translate}}
    </button>
    <button fxFlex="20%" class="md-primary" aria-label="Center Align" md-button mat-raised-button
      [routerLink]="['../']">{{'botones.cancelar'| translate}}
    </button>
  </div>
</section>
<!-- Tipo Fungible crear -->