<div class="proyecto-socio-equipo">
  <header class="modal-header-material">
    <h3 mat-dialog-title>{{title}}</h3>
  </header>
  <main>
    <form [formGroup]="formGroup">
      <!-- Rol de proyecto -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field fxFill>
            <mat-label>{{'csp.proyecto-socio.equipo.rol-proyecto.participacion' | translate}}</mat-label>
            <input matInput formControlName="rolProyecto" type="text" id="rolProyecto"
              placeholder="{{'csp.proyecto-socio.equipo.rol-proyecto.participacion' | translate}}"
              [matAutocomplete]="autoRolProyecto" required>
            <mat-autocomplete #autoRolProyecto="matAutocomplete" [displayWith]="getNombreRolProyecto">
              <mat-option *ngFor="let rolProyecto of rolProyectos$ | async" [value]="rolProyecto">
                {{rolProyecto.nombre}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="formGroup.controls.rolProyecto.errors?.required">
              {{'error.required.entity' | translate:msgParamRolParticipacionEntity}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.rolProyecto.errors?.invalid">
              {{'error.invalid.entity' | translate:msgParamRolParticipacionEntity}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Persona -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field fxFill>
            <mat-label>{{'csp.proyecto-socio.equipo.persona' | translate}}</mat-label>
            <sgi-select-persona placeholder="{{'csp.proyecto-socio.equipo.persona' | translate}}"
              formControlName="persona" required>
            </sgi-select-persona>
            <mat-error *ngIf="formGroup.controls.persona.errors?.required">
              {{'error.required.entity' | translate:msgParamPersonaEntity}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.persona.errors?.contains">
              {{'error.csp.proyecto-socio-equipo.persona.duplicate' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
        <!-- fechaInicio -->
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field fxFill>
            <mat-label>{{'csp.proyecto-socio.equipo.fecha-inicio-participacion' | translate}}</mat-label>
            <input matInput [ngxMatDatetimePicker]="pickerFechaInicio" formControlName="fechaInicio" id="fechaInicio"
              placeholder="{{'csp.proyecto-socio.equipo.fecha-inicio-participacion' | translate}}">
            <mat-datepicker-toggle matSuffix [for]="pickerFechaInicio"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #pickerFechaInicio showSeconds="true" [defaultTime]="[0,0,0]">
            </ngx-mat-datetime-picker>
            <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.range">
              {{'error.overlapping.record.entity' | translate:msgParamFechaInicioEntity}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.minDate">
              {{'error.csp.proyecto-socio.equipo.fecha-inicio-participacion.min' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.maxDate">
              {{'error.csp.proyecto-socio.equipo.fecha-inicio-participacion.max' | translate}}
            </mat-error>
          </mat-form-field>
        </div>

        <!-- fechaFin -->
        <div [fxFlex.sm]=" fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field fxFill>
            <mat-label>{{'csp.proyecto-socio.equipo.fecha-fin-participacion' | translate}}</mat-label>
            <input matInput [ngxMatDatetimePicker]="pickerFechaFin" formControlName="fechaFin" id="fechaFin"
              placeholder="{{'csp.proyecto-socio.equipo.fecha-fin-participacion' | translate}}">
            <mat-datepicker-toggle matSuffix [for]="pickerFechaFin"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #pickerFechaFin showSeconds="true" [defaultTime]="[23,59,59]">
            </ngx-mat-datetime-picker>
            <mat-error *ngIf="formGroup.controls.fechaFin.errors?.after">
              {{'error.after.fecha-fin' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.fechaFin.errors?.range">
              {{'error.overlapping.record.entity' | translate:msgParamFechaFinEntity}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.fechaFin.errors?.minDate">
              {{'error.csp.proyecto-socio.equipo.fecha-fin-participacion.min' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.fechaFin.errors?.maxDate">
              {{'error.csp.proyecto-socio.equipo.fecha-fin-participacion.max' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </main>
</div>
<div id="modals-buttons" class="float-right" mat-dialog-actions>
  <button color="accent" md-button mat-raised-button (click)="saveOrUpdate()">{{textSaveOrUpdate |
    translate}}</button>
  <button class="link-cancelar" mat-button (click)="closeModal()" type="button">{{'btn.cancel' |
    translate}}</button>
</div>