<div class="convocatoria-entidad-financiadora-modal">
  <header class="modal-header-material">
    <h3 mat-dialog-title>
      {{'csp.convocatoria.entidades-financiadoras.modal.titulo' | translate}}</h3>
  </header>
  <main>
    <form [formGroup]="formGroup">
      <!-- Empresa económica -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <mat-form-field class="input-form">
          <mat-label>{{'csp.convocatoria.entidades-financiadoras.modal.entidadFinanciadora' | translate}}</mat-label>
          <sgi-select-empresa-economica formControlName="empresaEconomica"
            placeholder="{{'csp.convocatoria.entidades-financiadoras.modal.entidadFinanciadora' | translate}}"
            [disabled]="data.empresa || data.readonly" [filter]="data.selectedEmpresas" required>
          </sgi-select-empresa-economica>
          <mat-error *ngIf="formGroup.controls.empresaEconomica.errors?.required">
            {{'csp.convocatoria.entidades-financiadoras.modal.entidadFinanciadora.error.requerido' | translate}}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Fuente de financiación -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field fxFill>
            <mat-label>{{'csp.convocatoria.entidades-financiadoras.modal.fuenteFinanciacion' | translate}}</mat-label>
            <input matInput formControlName="fuenteFinanciacion" type="text" id="fuenteFinanciacion"
              placeholder="{{'csp.convocatoria.entidades-financiadoras.modal.fuenteFinanciacion' | translate}}"
              [matAutocomplete]="autoFuenteFinanciacion">
            <mat-autocomplete #autoFuenteFinanciacion="matAutocomplete" [displayWith]="getNombreFuenteFinanciacion">
              <mat-option *ngFor="let fuenteFinanciacion of fuentesFinanciacion$ | async" [value]="fuenteFinanciacion">
                {{fuenteFinanciacion.nombre}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>

      <!-- Tipo de financiación -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field fxFill>
            <mat-label>{{'csp.convocatoria.entidades-financiadoras.modal.tipoFinanciacion' | translate}}</mat-label>
            <input matInput formControlName="tipoFinanciacion" type="text" id="tipoFinanciacion"
              placeholder="{{'csp.convocatoria.entidades-financiadoras.modal.tipoFinanciacion' | translate}}"
              [matAutocomplete]="autoTipoFinanciacion">
            <mat-autocomplete #autoTipoFinanciacion="matAutocomplete" [displayWith]="getNombreTipoFinanciacion">
              <mat-option *ngFor="let tipoFinanciacion of tiposFinanciacion$ | async" [value]="tipoFinanciacion">
                {{tipoFinanciacion.nombre}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>

      <!-- Porcentaje de financiación -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field fxFill>
            <mat-label>{{'csp.convocatoria.entidades-financiadoras.modal.porcentajeFinanciacion' | translate}}
            </mat-label>
            <input matInput formControlName="porcentajeFinanciacion" type="number" id="porcentajeFinanciacion" min="0"
              max="100" step="0.01"
              placeholder="{{'csp.convocatoria.entidades-financiadoras.modal.porcentajeFinanciacion' | translate}}">
          </mat-form-field>
        </div>
      </div>

    </form>
  </main>
  <div id="modals-buttons" class="float-right" mat-dialog-actions>
    <button color="accent" (click)="saveOrUpdate()" md-button mat-raised-button *ngIf="!data.readonly"
      type="submit">{{textSaveOrUpdate | translate}}</button>
    <button class="link-cancelar" mat-button (click)="closeModal()"
      type="button">{{'botones.cancelar' | translate}}</button>
  </div>
</div>