<!-- Tipo Fungible listado -->
<section class="tipo-fungible-listado">
  <h2>{{'tipo-fungible.listado.titulo' | translate}}</h2>
  <mat-form-field>
    <mat-label>{{'tipo-fungible.listado.busqueda' | translate}}</mat-label>
    <input matInput (keyup)="applyFilter($event)"
      placeholder="{{'tipo-fungible.listado.busqueda-placeholder' | translate}}">
  </mat-form-field>

  <table class="mat-elevation-z8 table-tipo" mat-table matSort [dataSource]="dataSource">

    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'tipo-fungible.listado.nombre' | translate}} </th>
      <td mat-cell *matCellDef="let tipoFungible"> {{tipoFungible.nombre}} </td>
    </ng-container>

    <!-- Servicio Column -->
    <ng-container matColumnDef="servicio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'tipo-fungible.listado.servicio' | translate}} </th>
      <td mat-cell *matCellDef="let tipoFungible"> {{tipoFungible.servicio.nombre}} </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> {{'tipo-fungible.listado.acciones' | translate}} </th>
      <td mat-cell *matCellDef="let tipoFungible;let i=index;">
        <button mat-button [routerLink]="UrlUtils.actualizar + tipoFungible.id"
          matTooltip="{{'tipo-fungible.listado.editar' | translate}}">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button matTooltip="{{'tipo-fungible.listado.borrar' | translate}}"
          (click)="borrarSeleccionado(tipoFungible.id, $event)">
          <mat-icon>close</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="separation-button">
    <button [routerLink]="UrlUtils.agregar" mat-button>
      <mat-icon>add_box</mat-icon> {{'tipo-fungible.listado.nuevo-tipo' | translate}}
    </button>
  </div>
</section>
<!-- FIN Tipo Fungible listado-->