<mat-drawer-container class="mat-drawer-tabs" autosize>
  <mat-drawer mode="side" class="tabs" opened>
    <mat-list class="opciones-menu">
      <sgi-action-fragment-menu-item [route]="[CONVOCATORIA_REUNION_ROUTE_NAMES.DATOS_GENERALES]"
        [title]="'eti.acta.datosGenerales.title' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.DATOS_GENERALES)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[CONVOCATORIA_REUNION_ROUTE_NAMES.ASIGNACION_MEMORIAS]"
        [title]="'eti.acta.memorias.title' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.ASIGNACION_MEMORIAS)">
      </sgi-action-fragment-menu-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content class="mat-drawer-content">
    <div class="mat-drawer-content-panel">
      <router-outlet></router-outlet>
    </div>
    <sgi-action-footer [texto]="textoCrear" [actionService]="actionService">
    </sgi-action-footer>
  </mat-drawer-content>
</mat-drawer-container>