<section class="convocatoria-reunion">
  <mat-tab-group headerPosition="above" (selectedTabChange)="cambioTab($event)">
    <!-- Datos generales -->
    <mat-tab>
      <ng-template mat-tab-label>
        <sgi-generic-tab-label [abstractTab]="datosGenerales" [errors]="errorTabs[0]"
          [textoLabel]="'eti.convocatoriaReunion.formulario.datosGenerales.cabecera' | translate">
        </sgi-generic-tab-label>
      </ng-template>
      <sgi-convocatoria-reunion-datos-generales #datosGenerales (eventEmitter)="setErroresTab(0, $event)">
      </sgi-convocatoria-reunion-datos-generales>
    </mat-tab>

  </mat-tab-group>

  <!-- Footer -->
  <sgi-footer-guardar [texto]="textoCrear" (emitter)="saveData()"></sgi-footer-guardar>
</section>