<section class="convocatoria-reunion-crear">
  <mat-tab-group headerPosition="above" (selectedTabChange)="cambioTab($event)">
    <!-- Datos generales -->
    <mat-tab>
      <ng-template mat-tab-label>
        <sgi-generic-tab-label [abstractTab]="datosGenerales" [errors]="errorTabs[0]"
          [textoLabel]="'label.datos-generales' | translate">
        </sgi-generic-tab-label>
      </ng-template>
      <sgi-convocatoria-reunion-datos-generales #datosGenerales (eventEmitter)="setErroresTab(0, $event)"
        [disableCamposDatosGenerales]="disableCamposDatosGenerales">
      </sgi-convocatoria-reunion-datos-generales>
    </mat-tab>

    <!-- Asignacion de memorias -->
    <mat-tab>
      <ng-template mat-tab-label>
        <sgi-generic-tab-label [abstractTab]="asignacionMemorias" [errors]="errorTabs[1]"
          [textoLabel]="'eti.convocatoriaReunion.formulario.asignacionMemorias.cabecera' | translate">
        </sgi-generic-tab-label>
      </ng-template>
      <sgi-convocatoria-reunion-listado-memorias #asignacionMemorias (eventEmitter)="setErroresTab(1, $event)"
        [idConvocatoria]="idConvocatoria" [datosGeneralesFormData]="datosGeneralesFormData"
        [disableAsignarMemorias]="disableAsignarMemorias">
      </sgi-convocatoria-reunion-listado-memorias>
    </mat-tab>
  </mat-tab-group>

  <!-- Footer -->
  <sgi-footer-guardar [texto]="textoCrear" (emitter)="saveData()"></sgi-footer-guardar>
</section>