<section>
  <h2>{{'eti.evaluacion-etica.crear.equipo-investigador' | translate }}</h2>
  <form [formGroup]="formGroup" [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
    <!-- Título -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
         [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field appearance="fill">
        <mat-label>{{'eti.evaluacion-etica.crear.datos-generales.titulo.titulo' | translate}}</mat-label>
        <input matInput formControlName="titulo" type="text" (input)="checkWarning()"
               placeholder="{{'eti.evaluacion-etica.crear.datos-generales.titulo.titulo' | translate}}" required>
        <mat-error
          *ngIf="FormGroupUtil.checkError(formGroup, 'titulo') && formGroup.get('titulo').errors.required">
          {{'eti.evaluacion-etica.crear.datos-generales.titulo.error.requerido' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</section>
