<div class="modal-proyecto-hitos">
  <header class="modal-header-material">
    <h3 mat-dialog-title>{{'csp.proyecto.equipos.rol.modal.titulo' | translate}}</h3>
  </header>
  <main>
    <form [formGroup]="formGroup">

      <!-- Rol investigador -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <div [fxFlex.sm]="fxFlexProperties2.sm" [fxFlex.md]="fxFlexProperties2.md"
          [fxFlex.gt-md]="fxFlexProperties2.gtMd" [fxFlexOrder]="fxFlexProperties2.order">
          <mat-form-field fxFill>
            <mat-label>{{'csp.proyecto.equipo.rol' | translate}}</mat-label>
            <input matInput formControlName="rolInv" type="text" id="rolInv"
              placeholder="{{'csp.proyecto.equipo.rol' | translate}}" [matAutocomplete]="autoRolInv" required>
            <mat-autocomplete #autoRolInv="matAutocomplete" [displayWith]="getNombreRolEquipo">
              <mat-option *ngFor="let rolInv of rolProyectos$ | async" [value]="rolInv">
                {{rolInv.nombre}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="formGroup.controls.rolInv.errors?.required">
              {{'csp.proyecto.equipos.rol.error.required' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.rolInv.errors?.invalid">
              {{'csp.proyecto.equipos.rol.error.invalid' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Investigador -->
      <div class="separation-button" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <div [fxFlex.sm]="fxFlexProperties2.sm" [fxFlex.md]="fxFlexProperties2.md"
          [fxFlex.gt-md]="fxFlexProperties2.gtMd" [fxFlexOrder]="fxFlexProperties2.order">

          <mat-form-field fxFill>
            <mat-label>{{'csp.proyecto.equipos.rol.persona' | translate}}</mat-label>
            <sgi-select-persona placeholder="{{'csp.proyecto.equipos.rol.persona' | translate}}"
              formControlName="persona" required>
            </sgi-select-persona>
            <mat-error *ngIf="formGroup.controls.persona.errors?.required">
              {{'csp.proyecto.equipos.rol.error.persona.required' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.persona.errors?.contains">
              {{'csp.proyecto.equipos.rol.error.persona.contains' | translate}}
            </mat-error>
          </mat-form-field>

        </div>
      </div>

      <!-- Horas dedicacion -->
      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10 separation-button">

        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">

          <mat-form-field fxFill>
            <mat-label>{{'csp.proyecto.equipos.rol.horas' | translate}}
            </mat-label>
            <input matInput formControlName="horasDedicacion" type="number" id="horasDedicacion"
              placeholder="{{'csp.proyecto.equipos.rol.horas' | translate}}">
            <mat-error *ngIf="formGroup.controls.horasDedicacion.errors?.max">
              {{'csp.proyecto.equipos.rol.horas.max' | translate}}
            </mat-error>
          </mat-form-field>

        </div>
      </div>

      <div class="fieldset-form">
        {{'csp.proyecto.equipos.rol.titulo' | translate}}
      </div>

      <!-- Fechas  -->
      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">

          <mat-form-field color="primary" fxFill>
            <mat-label>{{'csp.proyecto.equipos.rol.fechaInicio' | translate}}</mat-label>
            <input matInput formControlName="fechaInicio" [ngxMatDatetimePicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker1 showSeconds="true" [defaultTime]="[0,0,0]"></ngx-mat-datetime-picker>
            <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.range">
              {{'csp.proyecto.equipos.rol.fechaInicio.range' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.invalid">
              {{'csp.proyecto.equipos.rol.fechaInicio.error.invalido' | translate}}
            </mat-error>
          </mat-form-field>
        </div>

        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">

          <mat-form-field color="primary" fxFill>
            <mat-label>{{'csp.proyecto.equipos.rol.fechaFin' | translate}}</mat-label>
            <input matInput formControlName="fechaFin" [ngxMatDatetimePicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker2 showSeconds="true" [defaultTime]="[23,59,59]"></ngx-mat-datetime-picker>
            <mat-error *ngIf="formGroup.controls.fechaFin.errors?.after">
              {{'csp.proyecto.equipos.rol.fechaFin.error.after' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.fechaFin.errors?.range">
              {{'csp.proyecto.equipos.rol.fechaFin.range' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.fechaFin.errors?.invalid">
              {{'csp.proyecto.equipos.rol.fechaFin.error.invalido' | translate}}
            </mat-error>
          </mat-form-field>
        </div>

      </div>


    </form>
  </main>

  <div id="modals-buttons" class="float-right" mat-dialog-actions>
    <button color="accent" (click)="saveOrUpdate()" md-button mat-raised-button type="submit">{{textSaveOrUpdate |
      translate}}</button>
    <button class="link-cancelar" mat-button (click)="closeModal()" type="button">{{'botones.cancelar' |
      translate}}</button>
  </div>
</div>