<div class="modal-solicitud-modalidad">
  <header class="modal-header-material">
    <h3 mat-dialog-title>
      {{ (isEdit ? 'csp.solicitud.solicitudModalidad.modal.titulo.editar' :
      'csp.solicitud.solicitudModalidad.modal.titulo.aniadir') | translate}}
    </h3>
  </header>
  <main>

    <form [formGroup]="formGroup">

      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

        <!-- Entidad convocante -->
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">

          <mat-form-field fxFill>
            <mat-label>{{'csp.solicitud.solicitudModalidad.modal.entidadConvocante' | translate}}</mat-label>
            <input matInput formControlName="entidadConvocante" type="text" id="entidadConvocante"
              placeholder="{{'csp.solicitud.solicitudModalidad.modal.entidadConvocante' | translate}}" maxlength="100">
          </mat-form-field>

        </div>

        <!-- Plan-->
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">

          <mat-form-field fxFill>
            <mat-label>{{'csp.solicitud.solicitudModalidad.modal.plan' | translate}}</mat-label>
            <input matInput formControlName="plan" type="text" id="plan"
              placeholder="{{'csp.solicitud.solicitudModalidad.modal.plan' | translate}}" maxlength="100">
          </mat-form-field>

        </div>

        <!-- Modalidad -->

        <div class="programa" [fxFlex.sm]="fxFlexPropertiesTree.sm" [fxFlex.md]="fxFlexPropertiesTree.md"
          [fxFlex.gt-md]="fxFlexPropertiesTree.gtMd" [fxFlexOrder]="fxFlexPropertiesTree.order">

          <div class="arbol" [fxFlex.sm]="fxFlexPropertiesTree.sm" [fxFlex.md]="fxFlexPropertiesTree.md"
            [fxFlex.gt-md]="fxFlexPropertiesTree.gtMd" [fxFlexOrder]="fxFlexPropertiesTree.order">
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="arbol-tree">
              <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                <li class="mat-tree-node">
                  <button mat-icon-button disabled></button>

                  <mat-label *ngIf="node === rootNode">
                    {{node.programa.nombre}}
                  </mat-label>

                  <mat-checkbox *ngIf="node !== rootNode" class="checkbox" color="primary"
                    [checked]="node === checkedNode" (change)="onCheckNode(node, $event)">
                    {{node.programa.nombre}}
                  </mat-checkbox>
                </li>
              </mat-tree-node>
              <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                <li>
                  <div class="mat-tree-node">
                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.programa.nombre">
                      <mat-icon color="primary" class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                      </mat-icon>
                    </button>

                    <mat-label *ngIf="node === rootNode">
                      {{node.programa.nombre}}
                    </mat-label>

                    <mat-checkbox *ngIf="node !== rootNode" class="checkbox" color="primary"
                      [checked]="node === checkedNode" (change)="onCheckNode(node, $event)">
                      {{node.programa.nombre}}
                    </mat-checkbox>
                  </div>
                  <ul [class.arbol-invisible]="!treeControl.isExpanded(node)">
                    <ng-container matTreeNodeOutlet></ng-container>
                  </ul>
                </li>
              </mat-nested-tree-node>
            </mat-tree>
          </div>
        </div>


      </div>

    </form>
  </main>
  <div id="modals-buttons" class="float-right" mat-dialog-actions>
    <button color="accent" md-button mat-raised-button type="submit" (click)="saveOrUpdate()">
      {{'botones.aceptar' | translate}}</button>
    <button class="link-cancelar" mat-button (click)="closeModal()" type="button">{{'botones.cancelar' |
      translate}}</button>
  </div>
</div>