<!-- Convocatorias listado -->
<section class="convocatoria-listado">

  <!-- Buscador de convocatorias -->

  <form class="formulario" [formGroup]="buscadorFormGroup" [fxLayout.xs]="fxLayoutProperties.xs"
    [fxLayout]="fxLayoutProperties.layout" fxLayoutGap="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">


    <!--Titulo-->
    <div class="col">
      <mat-form-field>
        <mat-label>{{'csp.convocatoria.listado.titulo' | translate}}</mat-label>
        <input matInput type="text" placeholder="{{'csp.convocatoria.listado.titulo' | translate}}"
          formControlName="titulo">
      </mat-form-field>
    </div>


    <!--Referencia-->
    <div class="col">
      <mat-form-field>
        <mat-label>{{'csp.convocatoria.listado.referencia' | translate}}</mat-label>
        <input matInput type="text" placeholder="{{'csp.convocatoria.listado.referencia' | translate}}"
          formControlName="referencia">
      </mat-form-field>
    </div>

    <div class="buttons-final">
      <div class="col filter-button">
        <button color="primary" aria-label="Center Align" md-button mat-raised-button>
          <mat-icon>search</mat-icon> {{'botones.buscar'| translate}}
        </button>
        <button color="warn" class="md-primary" aria-label="Center Align" md-button (click)="onClearFilters()"
          mat-button>{{'botones.limpiar'| translate}}
        </button>
      </div>
    </div>

  </form>


  <table class="mat-elevation-z8 table-convocatoria" mat-table [dataSource]="convocatorias$ | async" matSort
    matSortActive="id" matSortDirection="asc" matSortDisableClear>

    <!-- Referencia Column -->
    <ng-container matColumnDef="referencia">
      <th mat-header-cell *matHeaderCellDef> {{'csp.convocatoria.listado.referencia' | translate}} </th>
      <td mat-cell *matCellDef="let convocatoria"> {{convocatoria.referencia}}</td>
    </ng-container>

    <!-- Titulo Column -->
    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef> {{'csp.convocatoria.listado.titulo' | translate}} </th>
      <td mat-cell *matCellDef="let convocatoria"> {{convocatoria.titulo}}</td>
    </ng-container>

    <!-- Fecha inicio solicitud Column -->
    <ng-container matColumnDef="fechaInicioSolicitud">
      <th mat-header-cell *matHeaderCellDef> {{'csp.convocatoria.listado.fecha.inicio.solicitud' | translate}} </th>
      <td mat-cell *matCellDef="let convocatoria">{{convocatoria.fechaInicioSolicitud | date:'dd/MM/yyyy'}}</td>
    </ng-container>

    <!-- Fecha fin solicitud Column -->
    <ng-container matColumnDef="fechaFinSolicitud">
      <th mat-header-cell *matHeaderCellDef> {{'csp.convocatoria.listado.fecha.fin.solicitud' | translate}} </th>
      <td mat-cell *matCellDef="let convocatoria">{{convocatoria.fechaFinSolicitud | date:'dd/MM/yyyy'}}</td>
    </ng-container>

    <!-- Estado convocante Column -->
    <ng-container matColumnDef="estadoConvocante">
      <th mat-header-cell *matHeaderCellDef> {{'csp.convocatoria.listado.estado.convocante' | translate}} </th>
      <td mat-cell *matCellDef="let convocatoria">{{convocatoria.estadoConvocante}}</td>
    </ng-container>

    <!-- Plan Investigacion Column -->
    <ng-container matColumnDef="planInvestigacion">
      <th mat-header-cell *matHeaderCellDef> {{'csp.convocatoria.listado.plan.investigacion' | translate}} </th>
      <td mat-cell *matCellDef="let convocatoria"> {{convocatoria.planInvestigacion}}</td>
    </ng-container>

    <!-- Entidad Financiadora Column -->
    <ng-container matColumnDef="entidadFinanciadora">
      <th mat-header-cell *matHeaderCellDef> {{'csp.convocatoria.listado.entidad.financiadora' | translate}} </th>
      <td mat-cell *matCellDef="let convocatoria">{{convocatoria.entidadFinanciadora}}</td>
    </ng-container>

    <!-- Fuente Financiacion Column -->
    <ng-container matColumnDef="fuenteFinanciacion">
      <th mat-header-cell *matHeaderCellDef> {{'csp.convocatoria.listado.fuente.financiacion' | translate}} </th>
      <td mat-cell *matCellDef="let convocatoria">{{convocatoria.fuenteFinanciacion}}</td>
    </ng-container>

    <!-- Activo Column -->
    <ng-container matColumnDef="activo">
      <th mat-header-cell *matHeaderCellDef> {{'csp.convocatoria.listado.activo' | translate}} </th>
      <td mat-cell *matCellDef="let convocatoria">
        {{convocatoria.activo === true ? ('label.si' | translate) : 'label.no' | translate }}
      </td>
    </ng-container>


    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> {{'csp.convocatoria.listado.acciones' | translate}} </th>
      <td mat-cell *matCellDef="let convocatoria;let i=index;">
        <ng-container>
          <button mat-button matTooltip="{{'botones.editar' | translate}}" [routerLink]="[convocatoria.id]">
            <mat-icon color="primary">border_color</mat-icon>
          </button>
        </ng-container>
        <ng-container>
          <button mat-button matTooltip="{{'botones.borrar' | translate}}">
            <mat-icon color="warn">highlight_off</mat-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>


  <mat-paginator [pageSizeOptions]="elementosPagina" [length]="totalElementos" showFirstLastButtons>
  </mat-paginator>

  <sgi-footer-crear [texto]="textoCrear" [route]="ROUTE_NAMES.NEW">
  </sgi-footer-crear>

</section>