<section class="convocatoria-datos-generales">
  <h2>{{'label.datos-generales' | translate}}</h2>

  <form [formGroup]="formGroup" [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
    [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

    <!-- Código de referencia -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria.referencia' | translate}}</mat-label>
        <input matInput formControlName="referencia" type="text" id="referencia"
          placeholder="{{'csp.convocatoria.referencia' | translate}}" required maxlength="100">
        <mat-error *ngIf="formGroup.controls.referencia.errors?.required">
          {{'csp.convocatoria.referencia.vacio' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Estado -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria.estado' | translate}}</mat-label>
        <input type="text" placeholder="{{'csp.convocatoria.estado' | translate}}" arial-label="Number" matInput
          formControlName="estado" [matAutocomplete]="auto" required>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="getEstado">
          <mat-option *ngFor="let estado of estados" [value]="estado | translate">
            {{ estado | translate}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="formGroup.controls.estado.errors?.required">
          {{'csp.convocatoria.estado.error.vacio' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Unidad de gestión -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria.unidad.gestion' | translate}}</mat-label>
        <input matInput formControlName="unidadGestion" type="text" id="unidadGestion"
          placeholder="{{'csp.convocatoria.unidad.gestion' | translate}}" required [matAutocomplete]="autoUnidadGestion"
          (ngModelChange)="loadModelosEjecucion()">
        <mat-autocomplete #autoUnidadGestion="matAutocomplete" [displayWith]="getUnidadGestion">
          <mat-option *ngFor="let unidadGestion of unidadesGestion$ | async" [value]="unidadGestion">
            {{unidadGestion.nombre}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="formGroup.controls.unidadGestion.errors?.required">
          {{'csp.convocatoria.unidad.gestion.error.required' | translate}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.unidadGestion.errors?.invalid">
          {{'csp.convocatoria.unidad.gestion.error.invalid' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Año -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria.anio' | translate}}</mat-label>
        <input matInput formControlName="anio" type="number" id="anio" min="1900"
          placeholder="{{'csp.convocatoria.anio' | translate}}" required>
        <mat-error *ngIf="formGroup.controls.anio.errors?.required">
          {{'csp.convocatoria.anio.vacio' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Titulo -->
    <div fxFlex.sm="fxFlexPropertiesInline.sm" [fxFlex.md]="fxFlexPropertiesInline.md"
      [fxFlex.gt-md]="fxFlexPropertiesInline.gtMd" [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria.titulo' | translate}}</mat-label>
        <input matInput formControlName="titulo" type="text" id="titulo"
          placeholder="{{'csp.convocatoria.titulo' | translate}}" required maxlength="100">
        <mat-error *ngIf="formGroup.controls.titulo.errors?.required">
          {{'csp.convocatoria.titulo.vacio' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Modelo de ejecución -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria.modelo.ejecucion' | translate}}</mat-label>
        <input type="text" placeholder="{{'csp.convocatoria.modelo.ejecucion' | translate}}" matInput
          formControlName="modeloEjecucion" [matAutocomplete]="autoModeloEjecucion" required
          (ngModelChange)="loadFinalidades()">
        <mat-autocomplete #autoModeloEjecucion="matAutocomplete" [displayWith]="getModeloEjecucion">
          <mat-option *ngFor="let modeloEjecucion of modelosEjecucion$ | async" [value]="modeloEjecucion">
            {{modeloEjecucion.nombre}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="formGroup.controls.modeloEjecucion.errors?.required">
          {{'csp.convocatoria.modelo.ejecucion.error.required' | translate}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.modeloEjecucion.errors?.invalid">
          {{'csp.convocatoria.modelo.ejecucion.error.invalid' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Finalidades -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria.finalidad' | translate}}</mat-label>
        <input matInput formControlName="finalidad" type="text" id="finalidad"
          placeholder="{{'csp.convocatoria.finalidad' | translate}}" required maxlength="100"
          [matAutocomplete]="autoFinalidad">
        <mat-autocomplete #autoFinalidad="matAutocomplete" [displayWith]="getFinalidad">
          <mat-option *ngFor="let finalidad of finalidades$ | async" [value]="finalidad">
            {{finalidad.nombre}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="formGroup.controls.finalidad.errors?.required">
          {{'csp.convocatoria.finalidad.error.required' | translate}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.finalidad.errors?.invalid">
          {{'csp.convocatoria.finalidad.error.invalid' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Duración meses -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria.duracion.meses' | translate}}</mat-label>
        <input matInput formControlName="duracionMeses" type="number" id="duracionMeses" step="1" min="1"
          placeholder="{{'csp.convocatoria.duracion.meses' | translate}}">
      </mat-form-field>
    </div>

    <!-- Tipo de ámbito geográfico -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria.tipo.ambito.geografico' | translate}}</mat-label>
        <input matInput formControlName="tipoAmbitoGeografico" type="text" id="tipoAmbitoGeografico"
          placeholder="{{'csp.convocatoria.tipo.ambito.geografico' | translate}}" required
          [matAutocomplete]="autoTipoAmbitoGeografico">
        <mat-autocomplete #autoTipoAmbitoGeografico="matAutocomplete" [displayWith]="getTipoAmbitoGeografico">
          <mat-option *ngFor="let tipoAmbitoGeografico of tipoAmbitosGeograficos$ | async"
            [value]="tipoAmbitoGeografico">
            {{tipoAmbitoGeografico.nombre}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="formGroup.controls.tipoAmbitoGeografico.errors?.required">
          {{'csp.convocatoria.tipo.ambito.geografico.error.required' | translate}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.tipoAmbitoGeografico.errors?.vacio">
          {{'csp.convocatoria.tipo.ambito.geografico.error.vacio' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Clasificación producción -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria.clasificacion.produccion' | translate}}</mat-label>
        <input matInput formControlName="clasificacionProduccion" type="text" id="clasificacionProduccion"
          placeholder="{{'csp.convocatoria.clasificacion.produccion' | translate}}" maxlength="100"
          [matAutocomplete]="autoclasificacionProduccion">
        <mat-autocomplete #autoclasificacionProduccion="matAutocomplete" [displayWith]="getClasificacionProduccion">
          <mat-option *ngFor="let clasificacionProduccion of clasificacionesProduccion"
            [value]="clasificacionProduccion | translate">
            {{ clasificacionProduccion | translate}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <!-- Tipo de régimen de concurrencia-->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria.tipo.regimen.concurrencia' | translate}}</mat-label>
        <input matInput formControlName="tipoRegimenConcurrencia" type="text" id="tipoRegimenConcurrencia"
          placeholder="{{'csp.convocatoria.tipo.regimen.concurrencia' | translate}}"
          [matAutocomplete]="autoTipoRegimenConcurrencia">
        <mat-autocomplete #autoTipoRegimenConcurrencia="matAutocomplete" [displayWith]="getTipoRegimenConcurrencia">
          <mat-option *ngFor="let tipoRegimenConcurrencia of tipoRegimenesConcurrencia$ | async"
            [value]="tipoRegimenConcurrencia">{{tipoRegimenConcurrencia.nombre}}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <!-- Proyecto colaborativo -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria.proyecto.colaborativo' | translate}}</mat-label>
        <input matInput formControlName="proyectoColaborativo" type="text" id="proyectoColaborativo"
          placeholder="{{'csp.convocatoria.proyecto.colaborativo' | translate}}" maxlength="100"
          [matAutocomplete]="autoProyectoColaborativo">
        <mat-autocomplete #autoProyectoColaborativo="matAutocomplete" [displayWith]="getProyectoColaborativo()">
          <mat-option *ngFor="let proyectoColaborativo of proyectosColaborativo"
            [value]="proyectoColaborativo | translate">
            {{ proyectoColaborativo | translate}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <!-- Destinatarios -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria.destinatarios' | translate}}</mat-label>
        <input matInput formControlName="destinatarios" type="text" id="destinatarios"
          placeholder="{{'csp.convocatoria.destinatarios' | translate}}" maxlength="100"
          [matAutocomplete]="autoDestinatarios">
        <mat-autocomplete #autoDestinatarios="matAutocomplete" [displayWith]="getDestinatario">
          <mat-option *ngFor="let destinatario of destinatarios" [value]="destinatario | translate">
            {{ destinatario | translate}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <!-- Empresa Economica -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <sgi-buscar-empresa-economica [textoLabel]="label" [textoInput]="label"
        [datosEmpresaEconomicaTexto]="formPart.empresaEconomicaText"
        (empresaEconomicaSeleccionada)="formPart.setEmpresaEconomica($event)">
      </sgi-buscar-empresa-economica>
    </div>

    <div [fxFlex.sm]="fxFlexPropertiesInline.sm" [fxFlex.md]="fxFlexProperties.md"
      [fxFlex.gt-md]="fxFlexPropertiesInline.gtMd" [fxFlexOrder]="fxFlexPropertiesInline.order">
      <mat-form-field fxFill>
        <mat-label>{{'csp.convocatoria.descripcion.convocatoria' | translate}}</mat-label>
        <textarea matInput formControlName="descripcionConvocatoria" type="text" id="descripcionConvocatoria"
          placeholder="{{'csp.convocatoria.descripcion.convocatoria' | translate}}">
        </textarea>
      </mat-form-field>
    </div>


    <div [fxFlex.sm]="fxFlexPropertiesInline.sm" [fxFlex.md]="fxFlexProperties.md"
      [fxFlex.gt-md]="fxFlexPropertiesInline.gtMd" [fxFlexOrder]="fxFlexPropertiesInline.order">
      <mat-form-field fxFill>
        <mat-label>{{'csp.convocatoria.observaciones' | translate}}</mat-label>
        <textarea matInput formControlName="observaciones" type="text" id="observaciones"
          placeholder="{{'csp.convocatoria.observaciones' | translate}}">
        </textarea>
      </mat-form-field>
    </div>
  </form>

  <div class="separation-button">
    <h3>{{'csp.convocatoria.area.tematica.titulo' | translate}}</h3>
    <table class="mat-elevation-z8 table-acta" mat-table [dataSource]="convocatoriaAreaTematicas" matSort
      matSortActive="id" matSortDirection="asc" matSortDisableClear>
      <!-- Listado Areas Column -->
      <ng-container matColumnDef="listadoAreas">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.convocatoria.area.tematica.listado.areas' | translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper">{{wrapper.value.areaTematicaArbol.abreviatura}} </td>
      </ng-container>

      <!--  Areas Temáticas Column -->
      <ng-container matColumnDef="areaTematica">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'csp.convocatoria.area.tematica.area' | translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.areaTematicaArbol.nombre}} </td>
      </ng-container>

      <!--  Observaciones Temáticas Column -->
      <ng-container matColumnDef="observaciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.convocatoria.area.tematica.observaciones' | translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.observaciones}} </td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>{{'csp.convocatoria.listado.acciones' | translate}} </th>
        <td mat-cell *matCellDef="let areaTematica">
          <ng-container>
            <button mat-button matTooltip="{{'botones.editar' | translate}}">
              <mat-icon color="primary">border_color</mat-icon>
            </button>
          </ng-container>
          <ng-container>
            <button mat-button matTooltip="{{'botones.borrar' | translate}}">
              <mat-icon color="warn">highlight_off</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="numPage" showFirstLastButtons>
    </mat-paginator>
    <div class="separation-button">
      <button color="three" aria-label="Center Align" md-button mat-raised-button (click)="openModal()">
        <mat-icon color="accent">add_circle</mat-icon>
        {{'csp.convocatoria.area.tematica.aniadir'| translate}}
      </button>
    </div>
  </div>
</section>