<section class="convocatoria-datos-generales">
  <h2>{{'label.datos-generales' | translate}}</h2>

  <form [formGroup]="formGroup" [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
    [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

    <!-- Titulo -->
    <div fxFlex.sm="fxFlexPropertiesInline.sm" [fxFlex.md]="fxFlexPropertiesInline.md"
      [fxFlex.gt-md]="fxFlexPropertiesInline.gtMd" [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria.titulo' | translate}}</mat-label>
        <input matInput formControlName="titulo" type="text" id="titulo"
          placeholder="{{'csp.convocatoria.titulo' | translate}}" required>
        <mat-error *ngIf="formGroup.controls.titulo.errors?.required">
          {{ 'error.required.entity' | translate:msgParamTituloEntity }}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.titulo.errors?.maxlength">
          {{ 'error.maxlength.entity' | translate:msgParamTituloEntity }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Unidad de gestión -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria.unidad-gestion' | translate}}</mat-label>
        <input matInput formControlName="unidadGestion" type="text" id="unidadGestion" required
          placeholder="{{'csp.convocatoria.unidad-gestion' | translate}}" [matAutocomplete]="autoUnidadGestion"
          (ngModelChange)="loadModelosEjecucion()" (keyup)="clearModeloEjecuccion()">
        <mat-autocomplete #autoUnidadGestion="matAutocomplete" [displayWith]="getUnidadGestion">
          <mat-option *ngFor="let unidadGestion of unidadesGestion$ | async" [value]="unidadGestion"
            (click)="clearModeloEjecuccion()">
            {{unidadGestion.nombre}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="formGroup.controls.unidadGestion.errors?.required">
          {{ 'error.required.entity' | translate:msgParamUnidadGestionEntity }}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.unidadGestion.errors?.invalid">
          {{ 'error.invalid.entity' | translate:msgParamUnidadGestionEntity }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Modelo de ejecución -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria.modelo-ejecucion' | translate}}</mat-label>
        <input type="text" placeholder="{{'csp.convocatoria.modelo-ejecucion' | translate}}" matInput
          formControlName="modeloEjecucion" [matAutocomplete]="autoModeloEjecucion" (ngModelChange)="loadFinalidades()"
          (keyup)="clearFinalidad()" (click)="loadModelosEjecucion()" [required]="formPart.isEstadoRegistrada()">
        <mat-autocomplete #autoModeloEjecucion="matAutocomplete" [displayWith]="getModeloEjecucion">
          <mat-option *ngFor="let modeloEjecucion of modelosEjecucion$ | async" [value]="modeloEjecucion"
            (click)="clearFinalidad()">
            {{modeloEjecucion.nombre}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="formGroup.controls.modeloEjecucion.errors?.required">
          {{ 'error.required.entity' | translate:msgParamModeloEjecucionEntity }}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.modeloEjecucion.errors?.invalid">
          {{ 'error.invalid.entity' | translate:msgParamModeloEjecucionEntity }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Finalidades -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria.finalidad' | translate}}</mat-label>
        <input matInput formControlName="finalidad" type="text" id="finalidad"
          [required]="formPart.isEstadoRegistrada()" placeholder="{{'csp.convocatoria.finalidad' | translate}}"
          [matAutocomplete]="autoFinalidad">
        <mat-autocomplete #autoFinalidad="matAutocomplete" [displayWith]="getFinalidad">
          <mat-option *ngFor="let finalidad of finalidades$ | async" [value]="finalidad">
            {{finalidad.nombre}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="formGroup.controls.finalidad.errors?.required">
          {{ 'error.required.entity' | translate:msgParamFinalidadEntity }}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.finalidad.errors?.invalid">
          {{ 'error.invalid.entity' | translate:msgParamFinalidadEntity }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Código de referencia -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria.codigo-referencia' | translate}}</mat-label>
        <input matInput formControlName="codigo" type="text" id="codigo"
          placeholder="{{'csp.convocatoria.codigo-referencia' | translate}}">
        <mat-error *ngIf="formGroup.controls.codigo.errors?.maxlength">
          {{ 'error.maxlength.entity' | translate:msgParamCodigoReferenciaEntity }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Empresa Economica -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria.entidad-gestora' | translate}}</mat-label>
        <sgi-select-empresa-economica placeholder="{{'csp.convocatoria.entidad-gestora' | translate}}"
          formControlName="entidadGestora"></sgi-select-empresa-economica>
      </mat-form-field>
    </div>

    <!-- Tipo de régimen de concurrencia-->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria.regimen-concurrencia' | translate}}</mat-label>
        <input matInput formControlName="regimenConcurrencia" type="text" id="regimenConcurrencia"
          placeholder="{{'csp.convocatoria.regimen-concurrencia' | translate}}"
          [matAutocomplete]="autoTipoRegimenConcurrencia">
        <mat-autocomplete #autoTipoRegimenConcurrencia="matAutocomplete" [displayWith]="getTipoRegimenConcurrencia">
          <mat-option *ngFor="let tipoRegimenConcurrencia of tipoRegimenesConcurrencia$ | async"
            [value]="tipoRegimenConcurrencia">{{tipoRegimenConcurrencia.nombre}}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <!-- Duración meses -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria.duracion' | translate}}</mat-label>
        <input matInput formControlName="duracion" type="number" id="duracion" step="1" min="1"
          placeholder="{{'csp.convocatoria.duracion' | translate}}">
        <mat-error *ngIf="formGroup.controls.duracion.errors?.min">
          {{ 'error.min.entity' | translate:msgParamDuracionEntity }}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.duracion.errors?.max">
          {{ 'error.max.entity' | translate:msgParamDuracionEntity }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Año -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria.anio' | translate}}</mat-label>
        <input matInput formControlName="anio" type="number" id="anio" min="1900" required
          placeholder="{{'csp.convocatoria.anio' | translate}}">
        <mat-error *ngIf="formGroup.controls.anio.errors?.required">
          {{ 'error.required.entity' | translate:msgParamAnioEntity }}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.anio.errors?.min">
          {{ 'error.min.entity' | translate:msgParamAnioEntity }}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.anio.errors?.max">
          {{ 'error.max.entity' | translate:msgParamAnioEntity }}
        </mat-error>
        <mat-error
          *ngIf="!formGroup.controls.anio.errors?.required && !formGroup.controls.anio.errors?.max && formGroup.controls.anio.errors?.isPlusYear">
          {{'csp.convocatoria.anio.plus-year' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Tipo de ámbito geográfico -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria.ambito-geografico' | translate}}</mat-label>
        <input matInput formControlName="ambitoGeografico" type="text" id="ambitoGeografico"
          [required]="formPart.isEstadoRegistrada()" placeholder="{{'csp.convocatoria.ambito-geografico' | translate}}"
          [matAutocomplete]="autoTipoAmbitoGeografico">
        <mat-autocomplete #autoTipoAmbitoGeografico="matAutocomplete" [displayWith]="getTipoAmbitoGeografico">
          <mat-option *ngFor="let tipoAmbitoGeografico of tipoAmbitosGeograficos$ | async"
            [value]="tipoAmbitoGeografico">
            {{tipoAmbitoGeografico.nombre}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="formGroup.controls.ambitoGeografico.errors?.required">
          {{ 'error.required.entity' | translate:msgParamAmbitoGeograficoEntity }}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.ambitoGeografico.errors?.invalid">
          {{ 'error.invalid.entity' | translate:msgParamAmbitoGeograficoEntity }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Clasificación producción -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria.clasificacion-produccion-cientifica' | translate}}</mat-label>
        <mat-select formControlName="clasificacionCVN"
          placeholder="{{'csp.convocatoria.clasificacion-produccion-cientifica' | translate}}">
          <mat-option [value]="null"></mat-option>
          <mat-option *ngFor="let clasificacionCVN of CLASIFICACION_CVN_MAP | keyvalue" [value]="clasificacionCVN.key">
            {{ clasificacionCVN.value | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Proyecto colaborativo -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria.proyecto-colaborativo' | translate}}</mat-label>
        <mat-select matNativeControl formControlName="colaborativos">
          <mat-option [value]="null"></mat-option>
          <mat-option [value]="true">{{'label.si' | translate}}</mat-option>
          <mat-option [value]="false">{{'label.no' | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Destinatarios -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria.destinatarios' | translate}}</mat-label>
        <mat-select formControlName="destinatarios" placeholder="{{'csp.convocatoria.destinatarios' | translate}}">
          <mat-option [value]="null"></mat-option>
          <mat-option *ngFor="let destinatarios of DESTINATARIOS_MAP | keyvalue" [value]="destinatarios.key">
            {{ destinatarios.value | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Objeto -->
    <div [fxFlex.sm]="fxFlexPropertiesInline.sm" [fxFlex.md]="fxFlexProperties.md"
      [fxFlex.gt-md]="fxFlexPropertiesInline.gtMd" [fxFlexOrder]="fxFlexPropertiesInline.order">
      <mat-form-field fxFill>
        <mat-label>{{'csp.convocatoria.descripcion' | translate}}</mat-label>
        <textarea matInput formControlName="objeto" type="text" id="objeto"
          placeholder="{{'csp.convocatoria.descripcion' | translate}}">
        </textarea>
        <mat-error *ngIf="formGroup.controls.objeto.errors?.maxlength">
          {{ 'error.maxlength.entity' | translate:msgParamDescripcionEntity }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Observaciones -->
    <div [fxFlex.sm]="fxFlexPropertiesInline.sm" [fxFlex.md]="fxFlexProperties.md"
      [fxFlex.gt-md]="fxFlexPropertiesInline.gtMd" [fxFlexOrder]="fxFlexPropertiesInline.order">
      <mat-form-field fxFill>
        <mat-label>{{'csp.convocatoria.observaciones' | translate}}</mat-label>
        <textarea matInput formControlName="observaciones" type="text" id="observaciones"
          placeholder="{{'csp.convocatoria.observaciones' | translate}}">
        </textarea>
        <mat-error *ngIf="formGroup.controls.observaciones.errors?.maxlength">
          {{ 'error.maxlength.entity' | translate:msgParamObservacionesEntity }}
        </mat-error>
      </mat-form-field>
    </div>
  </form>

  <div class="separation-button">
    <h3>{{'list.entity' | translate:msgParamAreaTematicaEntities}}</h3>
    <table class="mat-elevation-z8 table-acta" mat-table [dataSource]="convocatoriaAreaTematicas" matSort
      matSortActive="id" matSortDirection="asc" matSortDisableClear>
      <ng-container matColumnDef="padre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'list.entity' | translate:msgParamAreaEntities}}
        </th>
        <td mat-cell *matCellDef="let data">{{data.padre.nombre}}</td>
      </ng-container>
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'csp.area-tematica.nombre' | translate}}
        </th>
        <td mat-cell *matCellDef="let data">
          {{data.padre.id === data.convocatoriaAreaTematica.value.areaTematica.id ? '' :
          data.convocatoriaAreaTematica.value.areaTematica?.nombre}}
        </td>
      </ng-container>
      <ng-container matColumnDef="observaciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.area-tematica.observaciones' | translate}}
        </th>
        <td mat-cell *matCellDef="let data"> {{data.observaciones}} </td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>{{'label.actions' | translate}} </th>
        <td mat-cell *matCellDef="let data">
          <ng-container>
            <button mat-button matTooltip="{{'btn.edit' | translate}}" *ngIf="!formPart.readonly"
              (click)="openModal(data)">
              <mat-icon color="primary">border_color</mat-icon>
            </button>
          </ng-container>
          <ng-container>
            <button mat-button matTooltip="{{'btn.delete' | translate}}" *ngIf="!formPart.readonly"
              (click)="deleteAreaTematica(data)">
              <mat-icon color="warn">highlight_off</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
    <div class="separation-button">
      <button color="three" aria-label="Center Align" md-button mat-raised-button (click)="openModal()"
        *ngIf="convocatoriaAreaTematicas.data.length === 0 && !formPart.readonly">
        <mat-icon color="accent">add_circle</mat-icon>
        {{ 'btn.add.entity' | translate:msgParamAreaTematicaEntity }}
      </button>
    </div>
  </div>
</section>