<div class="modelo-tipo-fase-modal">
  <header class="modal-header-material">
    <h3 mat-dialog-title>{{title}}
    </h3>
  </header>
  <main>
    <form [formGroup]="formGroup">
      <!-- Tipo de fase -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field fxFill>
            <mat-label>{{'csp.modelo-ejecucion-tipo-fase.tipo' | translate}}</mat-label>
            <mat-select matNativeControl formControlName="tipoFase" required [compareWith]="equals">
              <mat-option *ngFor="let tipoFase of tipoFases$ | async" [value]="tipoFase">{{tipoFase.nombre}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.controls.tipoFase.errors?.required">
              {{'error.required.entity' | translate:msgParamTipoEntiy}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Disponibilidad -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <label>{{'csp.modelo-ejecucion-tipo-fase.disponible' | translate}}</label>
          <div class="checkbox-inline" formGroupName="disponible">
            <mat-checkbox color="primary" class="checkbox" formControlName="convocatoria">
              {{'csp.modelo-ejecucion-tipo-fase.convocatoria' | translate}}
            </mat-checkbox>
            <mat-checkbox color="primary" class="checkbox" formControlName="proyecto">
              {{'csp.modelo-ejecucion-tipo-fase.proyecto' | translate}}</mat-checkbox>
            <mat-error *ngIf="formGroup.controls.disponible.errors?.requiredChecked">
              {{'error.required.entity' | translate:msgParamProyectoEntiy}}
            </mat-error>
          </div>
        </div>
      </div>


    </form>
  </main>
  <div id="modals-buttons" class="float-right" mat-dialog-actions>
    <button color="accent" (click)="saveOrUpdate()" md-button mat-raised-button
      type="submit">{{textSaveOrUpdate | translate}}</button>
    <button class="link-cancelar" mat-button (click)="closeModal()" type="button">{{'btn.cancel' | translate}}</button>
  </div>
</div>