<section>
  <h2>{{'eti.evaluacion-etica.crear.datos-generales.cabecera' | translate }}</h2>
  <form [formGroup]="formGroup" [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
    <!-- Título -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
         [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field appearance="fill">
        <mat-label>{{'eti.evaluacion-etica.crear.datos-generales.titulo.titulo' | translate}}</mat-label>
        <input matInput formControlName="titulo" type="text" (input)="checkWarning()"
               placeholder="{{'eti.evaluacion-etica.crear.datos-generales.titulo.titulo' | translate}}" required>
        <mat-error
          *ngIf="FormGroupUtil.checkError(formGroup, 'titulo') && formGroup.get('titulo').errors.required">
          {{'eti.evaluacion-etica.crear.datos-generales.titulo.error.requerido' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Tipo de actividad -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
         [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field appearance="fill">
        <mat-label>{{'eti.evaluacion-etica.crear.datos-generales.tipoActividad.titulo' | translate}}</mat-label>
        <input matInput formControlName="tipoActividad" type="text" (input)="checkWarning()"
               placeholder="{{'eti.evaluacion-etica.crear.datos-generales.tipoActividad.titulo' | translate}}" required>
        <mat-error
          *ngIf="FormGroupUtil.checkError(formGroup, 'tipoActividad') && formGroup.get('tipoActividad').errors.required">
          {{'eti.evaluacion-etica.crear.datos-generales.tipoActividad.error.requerido' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Tipo de financiación -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
         [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field appearance="fill">
        <mat-label>{{'eti.evaluacion-etica.crear.datos-generales.tipoFinanciacion.titulo' | translate}}</mat-label>
        <input matInput formControlName="tipoFinanciacion" type="text" (input)="checkWarning()"
               placeholder="{{'eti.evaluacion-etica.crear.datos-generales.tipoFinanciacion.titulo' | translate}}" required>
        <mat-error
          *ngIf="FormGroupUtil.checkError(formGroup, 'tipoFinanciacion') && formGroup.get('tipoFinanciacion').errors.required">
          {{'eti.evaluacion-etica.crear.datos-generales.tipoFinanciacion.error.requerido' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Fecha de inicio -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
         [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field appearance="fill">
        <mat-label>{{'eti.evaluacion-etica.crear.datos-generales.fechaInicio.titulo' | translate}}</mat-label>
        <input matInput formControlName="fechaInicio" type="date" (input)="checkWarning()"
               placeholder="{{'eti.evaluacion-etica.crear.datos-generales.fechaInicio.titulo' | translate}}" required>
        <mat-error
          *ngIf="FormGroupUtil.checkError(formGroup, 'fechaInicio') && formGroup.get('fechaInicio').errors.required">
          {{'eti.evaluacion-etica.crear.datos-generales.fechaInicio.error.requerido' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Fecha de fin -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
         [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field appearance="fill">
        <mat-label>{{'eti.evaluacion-etica.crear.datos-generales.fechaFin.titulo' | translate}}</mat-label>
        <input matInput formControlName="fechaFin" type="date" (input)="checkWarning()"
               placeholder="{{'eti.evaluacion-etica.crear.datos-generales.fechaFin.titulo' | translate}}" required>
        <mat-error
          *ngIf="FormGroupUtil.checkError(formGroup, 'fechaFin') && formGroup.get('fechaFin').errors.required">
          {{'eti.evaluacion-etica.crear.datos-generales.fechaFin.error.requerido' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Resumen -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
         [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field appearance="fill">
        <mat-label>{{'eti.evaluacion-etica.crear.datos-generales.resumen.titulo' | translate}}</mat-label>
        <textarea matInput formControlName="resumen" type="text" (input)="checkWarning()"
                  placeholder="{{'eti.evaluacion-etica.crear.datos-generales.resumen.titulo' | translate}}"
                  required></textarea>
        <mat-error
          *ngIf="FormGroupUtil.checkError(formGroup, 'resumen') && formGroup.get('resumen').errors.required">
          {{'eti.evaluacion-etica.crear.datos-generales.resumen.error.requerido' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Valor social -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
         [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field appearance="fill">
        <mat-label>{{'eti.evaluacion-etica.crear.datos-generales.valorSocial.titulo' | translate}}</mat-label>
        <textarea matInput formControlName="valorSocial" type="text" (input)="checkWarning()"
                  placeholder="{{'eti.evaluacion-etica.crear.datos-generales.valorSocial.titulo' | translate}}"
                  required></textarea>
        <mat-error
          *ngIf="FormGroupUtil.checkError(formGroup, 'valorSocial') && formGroup.get('valorSocial').errors.required">
          {{'eti.evaluacion-etica.crear.datos-generales.valorSocial.error.requerido' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</section>
