<section>
  <form [formGroup]="formGroup">

    <!-- Número de prórroga -->
    <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
      [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
      <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
        [fxFlexOrder]="fxFlexProperties.order">
        <mat-form-field fxFill>
          <mat-label>{{'csp.proyecto-prorroga.datosGenerales.numProrroga' | translate}}</mat-label>
          <input matInput formControlName="numProrroga" type="number" id="numProrroga"
            placeholder="{{'csp.proyecto-prorroga.datosGenerales.numProrroga' | translate}}">
        </mat-form-field>
      </div>
    </div>


    <!-- Fecha de concesión -->
    <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
      [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
      <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
        [fxFlexOrder]="fxFlexProperties.order">
        <mat-form-field fxFill>
          <mat-label>{{'csp.proyecto-prorroga.datosGenerales.fechaConcesion'|
            translate}}</mat-label>
          <input matInput [matDatepicker]="pickerFechaConcesion" formControlName="fechaConcesion" required>
          <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="pickerFechaConcesion"></mat-datepicker-toggle>
          <mat-datepicker #pickerFechaConcesion></mat-datepicker>
          <mat-error *ngIf="formGroup.controls.fechaConcesion.errors?.after">
            {{'csp.proyecto.seguimiento.cientifico.datosGenerales.fechaConcesion.error.after'
            |
            translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Tipo de prórroga -->
    <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
      [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
      <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
        [fxFlexOrder]="fxFlexProperties.order">
        <mat-form-field>
          <mat-label>{{'csp.proyecto-prorroga.tipoProrroga' | translate}}</mat-label>
          <mat-select matNativeControl formControlName="tipoProrroga" required>
            <mat-option *ngFor="let tipo of tipoProrroga" [value]="tipo | translate">
              {{ tipo | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Fecha de fin -->
    <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
      [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
      <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
        [fxFlexOrder]="fxFlexProperties.order">
        <mat-form-field fxFill>
          <mat-label>{{'csp.proyecto-prorroga.datosGenerales.fechaFin' |
            translate}}</mat-label>
          <input matInput [matDatepicker]="pickerFechaFin" formControlName="fechaFin"
            [required]="FormGroupUtil.hasValidator(this.formGroup,'fechaFin','required')">
          <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="pickerFechaFin"></mat-datepicker-toggle>
          <mat-datepicker #pickerFechaFin></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <!-- Importe -->
    <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
      [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
      <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
        [fxFlexOrder]="fxFlexProperties.order">
        <mat-form-field fxFill>
          <mat-label>{{'csp.proyecto-prorroga.datosGenerales.importe' | translate}}</mat-label>
          <input matInput formControlName="importe" type="number"
            placeholder="{{'csp.proyecto-prorroga.datosGenerales.importe' | translate}}"
            [required]="FormGroupUtil.hasValidator(this.formGroup,'importe','required')" min="0">
          <mat-error *ngIf="formGroup.controls.importe.errors?.min">
            {{'csp.proyecto-prorroga.datosGenerales.importe.error.min' | translate}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.importe.errors?.max">
            {{'csp.proyecto-prorroga.datosGenerales.importe.error.max' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Observaciones -->
    <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
      [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

      <div [fxFlex.sm]="fxFlexProperties3.sm" [fxFlex.md]="fxFlexProperties3.md" [fxFlex.gt-md]="fxFlexProperties3.gtMd"
        [fxFlexOrder]="fxFlexProperties3.order">
        <mat-form-field fxFill>
          <mat-label>{{'csp.proyecto-prorroga.datosGenerales.observaciones' | translate}}</mat-label>
          <textarea matInput formControlName="observaciones" type="text" id="observaciones"
            placeholder="{{'csp.proyecto-prorroga.datosGenerales.observaciones' | translate}}">
                      </textarea>
          <mat-error *ngIf="formGroup.controls.observaciones.errors?.maxlength">
            {{'csp.proyecto-prorroga.datosGenerales.observaciones.maximo' | translate}}
          </mat-error>
        </mat-form-field>

      </div>
    </div>

  </form>
</section>