<!-- Unidad Medida agregar/actualizar -->
<section class="unidad-medida-agregar">
  <h2>{{'unidad-medida.agregar.titulo' | translate}}</h2>
  <form [formGroup]="formGroup" [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
    fxLayoutGap="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field appearance="fill">
        <mat-label>{{'unidad-medida.agregar.descripcion.titulo' | translate}}</mat-label>
        <input #descripcion matInput formControlName="descripcion" type="text" id="descripcion"
          placeholder="{{'unidad-medida.agregar.descripcion.titulo' | translate}}" required>
        <mat-hint>{{descripcion.value.length}} / 100</mat-hint>
        <mat-error
          *ngIf="FormGroupUtil.checkError(formGroup, 'descripcion') && formGroup.get('descripcion').errors.required">
          {{'unidad-medida.agregar.descripcion.error.requerido' | translate}}
        </mat-error>
        <mat-error
          *ngIf="FormGroupUtil.checkError(formGroup, 'descripcion') && formGroup.get('descripcion').errors.maxlength">
          {{'unidad-medida.agregar.descripcion.error.maximo' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field appearance="fill">
        <mat-label>{{'unidad-medida.agregar.abreviatura.titulo' | translate}}</mat-label>
        <input #abreviatura matInput formControlName="abreviatura" type="text" id="abreviatura"
          placeholder="{{'unidad-medida.agregar.abreviatura.titulo' | translate}}" required>
        <mat-hint>{{abreviatura.value.length}} / 10</mat-hint>
        <mat-error
          *ngIf="FormGroupUtil.checkError(formGroup, 'abreviatura') && formGroup.get('abreviatura').errors.required">
          {{'unidad-medida.agregar.abreviatura.error.requerido' | translate}}
        </mat-error>
        <mat-error
          *ngIf="FormGroupUtil.checkError(formGroup, 'abreviatura') && formGroup.get('abreviatura').errors.maxlength">
          {{'unidad-medida.agregar.abreviatura.error.maximo' | translate}}
        </mat-error>
        <mat-error
          *ngIf="FormGroupUtil.checkError(formGroup, 'abreviatura') && formGroup.get('abreviatura').errors.minlength">
          {{'unidad-medida.agregar.abreviatura.error.minimo' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
  <div class="footer-button">
    <button fxFlex="20%" aria-label="Center Align" md-button mat-raised-button (click)="sendForm()"
      [disabled]='desactivarAceptar'>
      {{'botones.guardar'| translate}}
    </button>
    <button fxFlex="20%" class="md-primary" aria-label="Center Align" md-button mat-raised-button
      [routerLink]="'/unidadMedida'">{{'botones.cancelar'| translate}}
    </button>
  </div>
</section>
<!-- Unidad Medida agregar/actualizar -->