@import "colors.scss";

:host ::ng-deep {
  formly-field-mat-multicheckbox mat-checkbox {
    display: block;
  }

  formly-field-mat-radio mat-radio-button {
    padding: 5px 15px 0px 0px;
  }

  formly-validation-message {
    color: map-get($palette-warn, $warn-color);
    font-size: 75%;
  }
}