<!-- Menu secundario -->
<div class="nav-item" matTooltip="Añadir"><a class="nav-link" href="">
    <mat-icon>add_box</mat-icon>
    <span fxHide fxShow.xs class="posicion">Añadir</span>
  </a> </div>
<div class="nav-item" matTooltip="Listados"><a class="nav-link" href="">
    <mat-icon>assignment</mat-icon>
    <span fxHide fxShow.xs class="posicion">Listados</span>
  </a> </div>
<div class="nav-item" matTooltip="Notificaciones"><a class="nav-link" href="">
    <mat-icon>notifications</mat-icon>
    <span fxHide fxShow.xs class="posicion">Notificaciones</span>
  </a> </div>
<div class="nav-item" matTooltip="Gráficas"><a class="nav-link" href="">
    <mat-icon> pie_chart</mat-icon>
    <span fxHide fxShow.xs class="posicion">Gráficas</span>
  </a> </div>
<div class="nav-item" matTooltip="Cuenta"><a class="nav-link" href="">
    <mat-icon>person</mat-icon>
    <span fxHide fxShow.xs class="posicion">Cuenta</span>
  </a> </div>
<div class="nav-item" matTooltip="Ajustes"><a class="nav-link" href="">
    <mat-icon>settings</mat-icon>
    <span fxHide fxShow.xs class="posicion">Ajustes</span>
  </a> </div>
<!-- FIN Menu secundario -->