<!-- Menu secundario -->
<div class="nav-item" matTooltip="{{'menu.secondary.add' | translate}}"><a class="nav-link" href="">
    <mat-icon>add_box</mat-icon>
    <span fxHide fxShow.xs class="posicion">{{'menu.secondary.add' | translate}}</span>
  </a> </div>
<div class="nav-item" matTooltip="{{'menu.secondary.lists' | translate}}"><a class="nav-link" href="">
    <mat-icon>assignment</mat-icon>
    <span fxHide fxShow.xs class="posicion">{{'menu.secondary.lists' | translate}}</span>
  </a> </div>
<div class="nav-item" matTooltip="{{'menu.secondary.notifications' | translate}}"><a class="nav-link" href="">
    <mat-icon>notifications</mat-icon>
    <span fxHide fxShow.xs class="posicion">{{'menu.secondary.notifications' | translate}}</span>
  </a> </div>
<div class="nav-item" matTooltip="{{'menu.secondary.graphics' | translate}}"><a class="nav-link" href="">
    <mat-icon> pie_chart</mat-icon>
    <span fxHide fxShow.xs class="posicion">{{'menu.secondary.graphics' | translate}}</span>
  </a> </div>
<div class="nav-item" matTooltip="{{'menu.secondary.account' | translate}}"><a class="nav-link" href="">
    <mat-icon>person</mat-icon>
    <span fxHide fxShow.xs class="posicion">{{'menu.secondary.account' | translate}}</span>
  </a> </div>
<div class="nav-item" matTooltip="{{'menu.secondary.settings' | translate}}"><a class="nav-link" href="">
    <mat-icon>settings</mat-icon>
    <span fxHide fxShow.xs class="posicion">{{'menu.secondary.settings' | translate}}</span>
  </a> </div>
<!-- FIN Menu secundario -->
