<div class="modal-crear-tareas">
  <header class="modal-header-material">
    <h3 mat-dialog-title>{{'eti.evaluador.conflictosInteres.nuevo.titulo' | translate}}</h3>
  </header>
  <main>
    <form [formGroup]="formGroup">
      <!-- Boton buscador personas -->
      <sgi-buscar-persona (usuarioSeleccionado)="onSelectPersona($event)"></sgi-buscar-persona>

      <div [fxLayout]="fxLayoutProperties.layout">
        <mat-form-field fxFill>
          <mat-label>{{'eti.evaluador.formulario.conflictoInteres.modal.identificador' | translate}}
          </mat-label>
          <input matInput formControlName="identificador" type="text" id="identificadorModal" />
        </mat-form-field>
      </div>

    </form>
  </main>
  <mat-dialog-actions align="center">
    <button color="accent" (click)="addConflicto()" md-button mat-raised-button
      tabindex="-1">{{'botones.anadir' | translate}}</button>
    <button class="link-cancelar" mat-button mat-dialog-close tabindex="-1">{{'botones.cancelar' | translate}}</button>
  </mat-dialog-actions>
</div>