<div class="modal-crear-tareas">
  <header class="modal-header-material">
    <h3 mat-dialog-title>{{'title.new.entity' | translate:msgParamConflictoInteresEntity}}</h3>
  </header>
  <main>
    <form [formGroup]="formGroup">
      <!--Persona-->
      <div [fxLayout]="fxLayoutProperties.layout">
        <mat-form-field fxFill>
          <mat-label>{{'title.eti.search.user' | translate}}</mat-label>
          <sgi-select-persona placeholder="{{'title.eti.search.user' | translate}}" formControlName="persona" required>
          </sgi-select-persona>
          <mat-error *ngIf="formGroup.controls.persona.errors?.required">
            {{'error.required.entity' | translate:msgParamPersonaEntity}}
          </mat-error>
        </mat-form-field>
      </div>
      <div [fxLayout]="fxLayoutProperties.layout">
        <mat-form-field fxFill>
          <mat-label>{{'eti.evaluador.conflicto-interes.identificador' | translate}}
          </mat-label>
          <input matInput formControlName="identificador" type="text" id="identificadorModal" />
        </mat-form-field>
      </div>

    </form>
  </main>
  <mat-dialog-actions align="center">
    <button color="accent" (click)="addConflicto()" md-button mat-raised-button tabindex="-1">{{'btn.add' |
      translate}}</button>
    <button class="link-cancelar" mat-button mat-dialog-close tabindex="-1">{{'btn.cancel' | translate}}</button>
  </mat-dialog-actions>
</div>