<section class="solicitud-proyecto-desglose-presupuesto-entidades">

  <h2>{{'menu.csp.solicitudes.desgloses-presupuesto' | translate}}</h2>
  <mat-label>{{'list.entity' | translate:msgParamEntidadFinanciadorasEntity}}</mat-label>

  <table class="mat-elevation-z8 table-entidades-financiadoras-desglose-presupuesto" mat-table [dataSource]="dataSource"
    matSort matSortActive="nombre" matSortDirection="asc" matSortDisableClear>
    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.solicitud-desglose-presupuesto.entidades.entidades-financiadoras.nombre' | translate}}
      </th>
      <td mat-cell *matCellDef="let element">
        {{element.entidadFinanciadora.empresa.razonSocial}}
      </td>
    </ng-container>

    <!-- CIF Column -->
    <ng-container matColumnDef="cif">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.solicitud-desglose-presupuesto.entidades.entidades-financiadoras.cif' | translate}}
      </th>
      <td mat-cell *matCellDef="let element">
        {{element.entidadFinanciadora.empresa.numeroDocumento}}
      </td>
    </ng-container>

    <!-- Importe Column -->
    <ng-container matColumnDef="ajena">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.solicitud-desglose-presupuesto.entidades.entidades-financiadoras.ajena' | translate}}
      </th>
      <td mat-cell *matCellDef="let element">
        {{(element.ajena? 'label.si' : 'label.no') | translate}}
      </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> {{'label.actions' | translate}} </th>
      <td mat-cell *matCellDef="let element">
        <ng-container>
          <button mat-button matTooltip="{{'btn.view' | translate}}"
            [routerLink]="['../', element.ajena ? SOLICITUD_ROUTE_NAMES.DESGLOSE_PRESUPUESTO_ENTIDADES_SOLICITUD : SOLICITUD_ROUTE_NAMES.DESGLOSE_PRESUPUESTO_ENTIDADES_CONVOCATORIA , element.entidadFinanciadora.empresa.personaRef]">
            <mat-icon color="primary">visibility</mat-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="elementsPage" showFirstLastButtons>
  </mat-paginator>

  <hr />

  <form [formGroup]="formGroup" [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
    [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

    <!-- Total del presupuesto con financiación convocatoria -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field fxFill>
        <mat-label>{{'csp.solicitud-desglose-presupuesto.total-presupuesto-convocatoria' | translate}}
        </mat-label>
        <input matInput formControlName="totalPresupuestoConvocatoria" type="number" id="totalPresupuestoConvocatoria"
          min="0" step="1" placeholder="{{'csp.solicitud-desglose-presupuesto.total-presupuesto' | translate}}">
      </mat-form-field>
    </div>

    <!-- Total del presupuesto no financiado bajo convocatoria -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field fxFill>
        <mat-label>{{'csp.solicitud-desglose-presupuesto.total-presupuesto-ajeno' | translate}}
        </mat-label>
        <input matInput formControlName="totalPresupuestoAjeno" type="number" id="totalPresupuestoAjeno" min="0"
          step="1" placeholder="{{'csp.solicitud-desglose-presupuesto.total-presupuesto' | translate}}">
      </mat-form-field>
    </div>

    <!-- Total del presupuesto -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field fxFill>
        <mat-label>{{'csp.solicitud-desglose-presupuesto.total-presupuesto' | translate}}
        </mat-label>
        <input matInput formControlName="totalPresupuesto" type="number" id="totalPresupuesto" min="0" step="1"
          placeholder="{{'csp.solicitud-desglose-presupuesto.total-presupuesto' | translate}}">
      </mat-form-field>
    </div>
  </form>

  <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign"
    *ngIf="!formPart.readonly">
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <button color="primary" aria-label="Center Align" md-button mat-raised-button>
        {{'csp.solicitud-desglose-presupuesto.global.presupuesto-completo'| translate}}
      </button>
    </div>
  </div>

</section>