:host {
  ::ng-deep .mat-form-field-infix {
    width: 80px;
  }

  mat-card {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;

    mat-card-title {
      font-size: 12px;
    }

    mat-form-field {
      mat-label {
        font-size: 10px;
      }
    }
  }
}