<div class="sgi-dialog-header" fxLayout="row" fxLayoutGap="20px">
  <span fxFlexAlign="center" mat-mat-dialog-title role="heading" aria-level="3" fxFlex>Viaje y Dieta</span>
  <button fxFlex="nogrow" mat-icon-button mat-dialog-close>
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <mat-card>
    <mat-card-title>Datos SGE</mat-card-title>
    <mat-card-content>
      <sgi-ejecucion-economica-detalle-economico [detalle]="data"></sgi-ejecucion-economica-detalle-economico>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="link-cancelar" mat-button type="button" mat-dialog-close>{{'btn.cancel' |
    translate}}</button>
</mat-dialog-actions>