<!-- Solicitud listado -->
<section class="solicitud-listado">
  <h4>{{'cat.solicitud.listado.seleccionarServicio' | translate}}</h4>

  <table mat-table class="mat-elevation-z8 table-solicitud" [dataSource]="servicio$ | async" matSort matSortActive="id"
    matSortDirection="asc" matSortDisableClear>

    <!-- Servicio Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'cat.solicitud.listado.servicio' | translate}} </th>
      <td mat-cell *matCellDef="let servicio"> {{servicio.nombre}} </td>
    </ng-container>

    <!-- Contacto Column -->
    <ng-container matColumnDef="contacto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'cat.solicitud.listado.contacto' | translate}} </th>
      <td mat-cell *matCellDef="let servicio"> {{servicio.contacto}} </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> {{'cat.solicitud.listado.acciones' | translate}} </th>
      <td mat-cell *matCellDef="let servicio;let i=index;">
        <button mat-button (click)="seleccionarServicio(servicio)" [disabled]='servicio.id==servicioSeleccionado.id'>
          <mat-icon>add_box</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="elementosPagina" [length]="totalElementos" showFirstLastButtons>
  </mat-paginator>

</section>
<!-- FIN Solicitud listado-->
