:host {
  .formulario {
    padding: 10px 20px 10px 20px;

    .col {
      padding-right: 15px;
    }

    .filter-button {
      padding: 10px 0px 10px 0px;
      margin-left: auto;

      button {
        margin-right: 15px;
      }
    }

  }
}