<div class="opciones-menu">

  <a class="item" mat-list-item *sgiHasAuthorityForAnyUO="'ETI-ACT-V'" [routerLink]="[ETI_ROUTE_NAMES.ACTAS]"
    [routerLinkActive]="['is-active']">
    <mat-icon color="primary" mat-list-icon>list_alt</mat-icon>
    <p matLine *ngIf="opened">{{'menu.principal.eti.acta' | translate}}</p>
  </a>

  <a class="item" mat-list-item *sgiHasAnyAuthorityForAnyUO="['ETI-EVC-VR','ETI-EVC-EVALR']"
    [routerLink]="[ETI_ROUTE_NAMES.EVALUACIONES]" [routerLinkActive]="['is-active']">
    <mat-icon color="primary" mat-list-icon>list_alt</mat-icon>
    <p matLine *ngIf="opened">{{'menu.principal.eti.evaluaciones' | translate}}</p>
  </a>

  <a class="item" mat-list-item *sgiHasAuthorityForAnyUO="'ETI-CNV-V'"
    [routerLink]="[ETI_ROUTE_NAMES.SOLICITUDES_CONVOCATORIA]" [routerLinkActive]="['is-active']">
    <mat-icon color="primary" mat-list-icon>equalizer</mat-icon>
    <p matLine *ngIf="opened">{{'menu.principal.eti.solicitudesConvocatoria' | translate}}</p>
  </a>

</div>
<!-- FIN Menu principal -->