<div class="opciones-menu">

  <a class="item" mat-list-item *sgiHasAuthorityForAnyUO="'ETI-ACT-V'" [routerLink]="[ETI_ROUTE_NAMES.ACTA]"
    [routerLinkActive]="['is-active']">
    <mat-icon color="primary" mat-list-icon>list_alt</mat-icon>
    <p matLine *ngIf="mostrarNombreMenu">{{'menu.principal.eti.acta' | translate}}</p>
  </a>

  <a class="item" mat-list-item *sgiHasAuthorityForAnyUO="'ETI-EVC-V'" [routerLink]="[ETI_ROUTE_NAMES.EVALUACION]"
    [routerLinkActive]="['is-active']">
    <mat-icon color="primary" mat-list-icon>list_alt</mat-icon>
    <p matLine *ngIf="mostrarNombreMenu">{{'menu.principal.eti.evaluaciones' | translate}}</p>
  </a>

  <a class="item" mat-list-item *sgiHasAuthorityForAnyUO="'ETI-CNV-V'"
    [routerLink]="[ETI_ROUTE_NAMES.SOLICITUD_CONVOCATORIA]" [routerLinkActive]="['is-active']">
    <mat-icon color="primary" mat-list-icon>equalizer</mat-icon>
    <p matLine *ngIf="mostrarNombreMenu">{{'menu.principal.eti.solicitudesConvocatoria' | translate}}</p>
  </a>

  <!-- <a class="item" mat-list-item *sgiHasAuthorityForAnyUO="'ETI-EVC-VR'" [routerLink]="[ETI_ROUTE_NAMES.EVALUACION_ETICA]"
    [routerLinkActive]="['is-active']">
    <mat-icon color="primary" mat-list-icon>list</mat-icon>
    <p matLine *ngIf="mostrarNombreMenu">{{'menu.principal.eti.evaluacionEtica' | translate}}</p>
  </a>
-->

  <mat-accordion #accordion="matAccordion" class="acordeon">
    <mat-expansion-panel #expPanel class="panel" [expanded]="panelDesplegado">
      <mat-expansion-panel-header class="header item" (click)="activarAcordeon($event)">
        <mat-panel-title class="titulo">
          <mat-icon color="primary" mat-list-icon>list_alt</mat-icon>
          <span *ngIf="mostrarNombreMenu">Solicitudes de convocatoria</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="opciones" *ngIf="mostrarNombreMenu">
        <a mat-list-item>Solicitudes <mat-icon>add_circle_outline</mat-icon></a>
        <a mat-list-item>Memorias</a>
      </div>
    </mat-expansion-panel>

  </mat-accordion>

</div>
<!-- FIN Menu principal -->