<section>
  <!-- Memorias listado -->
  <div>
    <table class="mat-elevation-z8 table-memorias" mat-table [dataSource]="datasource" matSort matSortDirection="asc"
      matSortDisableClear>

      <!-- Memoria -->
      <ng-container matColumnDef="numReferencia">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'eti.convocatoriaReunion.formulario.asignacionMemorias.memoria' | translate}} </th>
        <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.memoria.numReferencia}} </td>
      </ng-container>

      <!-- Evaluador 1 -->
      <ng-container matColumnDef="evaluador1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'eti.convocatoriaReunion.formulario.asignacionMemorias.evaluador1' | translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper">
          {{wrapper.value.evaluador1?.persona?.nombre}} {{wrapper.value.evaluador1?.persona?.primerApellido}}
          {{wrapper.value.evaluador1?.persona?.segundoApellido}}
        </td>
      </ng-container>

      <!-- Evaluador 2 -->
      <ng-container matColumnDef="evaluador2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'eti.convocatoriaReunion.formulario.asignacionMemorias.evaluador2' | translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper">
          {{wrapper.value.evaluador2?.persona?.nombre}} {{wrapper.value.evaluador2?.persona?.primerApellido}}
          {{wrapper.value.evaluador2?.persona?.segundoApellido}}
        </td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> {{'label.acciones' | translate}} </th>
        <td mat-cell *matCellDef="let wrapper;let i=index;">
          <button (click)="openUpdateModal(wrapper)" mat-button
            matTooltip="{{'eti.convocatoriaReunion.formulario.asignacionMemorias.editar' | translate}}">
            <mat-icon color="primary">border_color</mat-icon>
          </button>
          <button *ngIf="wrapper.value.eliminable" mat-button matTooltip="{{'botones.borrar' | translate}}"
            (click)="borrar(wrapper)">
            <mat-icon color="warn">highlight_off</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <!-- Botón asignacion memoria -->
    <div class="separation-button">
      <button mat-raised-button color="three" [disabled]="disableAsignarMemorias" (click)="openDialogAsignarMemoria()">
        <mat-icon>add_box</mat-icon>
        {{'eti.convocatoriaReunion.formulario.asignacionMemorias.nuevaMemoria' | translate}}
      </button>
      <mat-card *ngIf="disableAsignarMemorias">
        {{'eti.convocatoriaReunion.formulario.asignacionMemorias.nuevaMemoria.disabled' | translate}}</mat-card>
    </div>
  </div>
</section>