<div class="modal-editar-comentario-crear">
  <header class="modal-header-material">
    <h3 mat-dialog-title>{{'csp.convocatoria.periodo.justificacion.modal.titulo' | translate}}</h3>
  </header>
  <main>

    <form [formGroup]="formGroup">

      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">

          <mat-form-field fxFill>
            <mat-label>{{'csp.convocatoria.periodo.justificacion.modal.numPeriodo' | translate}}</mat-label>
            <input matInput formControlName="numPeriodo" type="text" id="numPeriodo"
              placeholder="{{'csp.convocatoria.periodo.justificacion.modal.numPeriodo' | translate}}" required
              maxlength="100">
            <mat-error *ngIf="formGroup.controls.numPeriodo.errors?.required">
              {{'csp.convocatoria.periodo.justificacion.modal.numPeriodo.requerido' | translate}}
            </mat-error>
          </mat-form-field>

        </div>
      </div>

      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">

          <mat-form-field class="input-form" fxFill>
            <mat-label>{{'csp.convocatoria.periodo.justificacion.modal.tipo' | translate}}</mat-label>
            <input type="text" placeholder="{{'csp.convocatoria.periodo.justificacion.modal.tipo' | translate}}"
              arial-label="Number" matInput formControlName="tipoPeriodo" [matAutocomplete]="auto" required>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="getTipoPeriodo">
              <mat-option *ngFor="let tipo of tiposPeriodo | async" [value]="tipo">
                {{ tipo.nombre | translate}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="formGroup.controls.tipoPeriodo.errors?.required">
              {{'csp.convocatoria.periodo.justificacion.modal.tipo.requerido' | translate}}
            </mat-error>
          </mat-form-field>

        </div>

      </div>


      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">

          <mat-form-field fxFill>
            <mat-label>{{'csp.convocatoria.periodo.justificacion.modal.desdeMes' | translate}}</mat-label>
            <input matInput formControlName="desdeMes" type="string" id="desdeMes"
              placeholder="{{'csp.convocatoria.periodo.justificacion.modal.desdeMes' | translate}}" required
              maxlength="100">
            <mat-error *ngIf="formGroup.controls.desdeMes.errors?.required">
              {{'csp.convocatoria.periodo.justificacion.modal.desdeMes.requerido' | translate}}
            </mat-error>
          </mat-form-field>

        </div>

        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">

          <mat-form-field fxFill>
            <mat-label>{{'csp.convocatoria.periodo.justificacion.modal.hastaMes' | translate}}</mat-label>
            <input matInput formControlName="hastaMes" type="string" id="hastaMes"
              placeholder="{{'csp.convocatoria.periodo.justificacion.modal.hastaMes' | translate}}" required
              maxlength="100">
            <mat-error *ngIf="formGroup.controls.hastaMes.errors?.required">
              {{'csp.convocatoria.periodo.justificacion.modal.hastaMes.requerido' | translate}}
            </mat-error>
          </mat-form-field>

        </div>

      </div>

      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">

          <mat-form-field color="primary" fxFill>
            <mat-label>{{'csp.convocatoria.periodo.justificacion.modal.fechaInicio' | translate}}</mat-label>
            <input matInput formControlName="fechaInicio" [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

        </div>

        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">

          <mat-form-field color="primary" fxFill>
            <mat-label>{{'csp.convocatoria.periodo.justificacion.modal.fechaFin' | translate}}</mat-label>
            <input matInput formControlName="fechaFin" [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>

        </div>

      </div>

      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

        <div [fxFlex.sm]="fxFlexProperties2.sm" [fxFlex.md]="fxFlexProperties2.md"
          [fxFlex.gt-md]="fxFlexProperties2.gtMd" [fxFlexOrder]="fxFlexProperties2.order">

          <mat-form-field fxFill>
            <mat-label>{{'csp.convocatoria.periodo.justificacion.modal.observaciones' | translate}}</mat-label>
            <textarea matInput formControlName="observaciones" type="text" id="observaciones"
              placeholder="{{'csp.convocatoria.periodo.justificacion.modal.observaciones' | translate}}">
                </textarea>

            <mat-error
              *ngIf="FormGroupUtil.checkError(formGroup, 'observaciones') && (formGroup.get('observaciones').errors.vacio || formGroup.get('observaciones').errors.required)">
              {{'eti.comentario.crear.comentario.error.requerido' | translate}}
            </mat-error>
          </mat-form-field>

        </div>

      </div>

    </form>
  </main>
  <div id="modals-buttons" class="float-right" mat-dialog-actions>
    <button color="accent" md-button mat-raised-button type="submit" (click)="saveOrUpdate()">
      Guardar</button>
    <button class="link-cancelar" mat-button (click)="closeModal()" type="button">Cancelar</button>
  </div>
</div>