<div class="modal-editar-comentario-crear">
  <header class="modal-header-material">
    <h3 mat-dialog-title>{{'csp.convocatoria.periodoJustificacion.modal.titulo' | translate}}</h3>
  </header>
  <main>

    <form [formGroup]="formGroup">

      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">

          <mat-form-field fxFill>
            <mat-label>{{'csp.convocatoria.periodoJustificacion.modal.numPeriodo' | translate}}</mat-label>
            <input matInput formControlName="numPeriodo" type="text" id="numPeriodo"
              placeholder="{{'csp.convocatoria.periodoJustificacion.modal.numPeriodo' | translate}}" readonly
              maxlength="100">
            <mat-error *ngIf="formGroup.controls.numPeriodo.errors?.required">
              {{'csp.convocatoria.periodoJustificacion.modal.numPeriodo.requerido' | translate}}
            </mat-error>
          </mat-form-field>

        </div>
      </div>

      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">

          <mat-form-field class="input-form" fxFill>
            <mat-label>{{'csp.convocatoria.periodoJustificacion.modal.tipo' | translate}}</mat-label>
            <mat-select matNativeControl formControlName="tipo" required>
              <mat-option *ngFor="let tipo of TIPO_MAP | keyvalue" [value]="tipo.key">
                {{ tipo.value | translate}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.controls.tipo.errors?.required">
              {{'csp.convocatoria.periodoJustificacion.modal.tipoJustificacion.requerido' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.tipo.errors?.notAllowed">
              {{'csp.convocatoria.periodoJustificacion.modal.tipoJustificacion.tipoFinalDuplicado' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.tipo.errors?.finalNotLast">
              {{'csp.convocatoria.periodoJustificacion.modal.tipoJustificacion.tipoFinalNoUltimo' | translate}}
            </mat-error>
          </mat-form-field>

        </div>

      </div>

      <div class="fieldset-form">
        {{'csp.convocatoria.periodoJustificacion.modal.periodoJustificar' | translate}}
      </div>

      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">

          <mat-form-field fxFill>
            <mat-label>{{'csp.convocatoria.periodoJustificacion.modal.desdeMes' | translate}}</mat-label>
            <input matInput formControlName="desdeMes" type="number" id="desdeMes"
              placeholder="{{'csp.convocatoria.periodoJustificacion.modal.desdeMes' | translate}}" required
              (blur)="recalcularNumPeriodo()">
            <mat-error *ngIf="formGroup.controls.desdeMes.errors?.required">
              {{'csp.convocatoria.periodoJustificacion.modal.desdeMes.requerido' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.desdeMes.errors?.min">
              {{'csp.convocatoria.periodoJustificacion.modal.desdeMes.min' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.desdeMes.errors?.max">
              {{'csp.convocatoria.periodoJustificacion.modal.desdeMes.inicioPeriodoFinal' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.desdeMes.errors?.overlapped">
              {{'csp.convocatoria.periodoJustificacion.modal.desdeMes.rangoSolapado' | translate}}
            </mat-error>
          </mat-form-field>

        </div>

        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">

          <mat-form-field fxFill>
            <mat-label>{{'csp.convocatoria.periodoJustificacion.modal.hastaMes' | translate}}</mat-label>
            <input matInput formControlName="hastaMes" type="number" id="hastaMes"
              placeholder="{{'csp.convocatoria.periodoJustificacion.modal.hastaMes' | translate}}" required
              maxlength="100">
            <mat-error *ngIf="formGroup.controls.hastaMes.errors?.required">
              {{'csp.convocatoria.periodoJustificacion.modal.hastaMes.requerido' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.hastaMes.errors?.min">
              {{'csp.convocatoria.periodoJustificacion.modal.hastaMes.min' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.hastaMes.errors?.after">
              {{'csp.convocatoria.periodoJustificacion.modal.hastaMes.after' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.hastaMes.errors?.max">
              {{'csp.convocatoria.periodoJustificacion.modal.hastaMes.duracionConvocatoria' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.hastaMes.errors?.overlapped">
              {{'csp.convocatoria.periodoJustificacion.modal.hastaMes.rangoSolapado' | translate}}
            </mat-error>
          </mat-form-field>

        </div>

      </div>

      <div class="fieldset-form">
        {{'csp.convocatoria.periodoJustificacion.modal.periodoEntregaJustificacion' | translate}}
      </div>

      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">

          <mat-form-field color="primary" fxFill>
            <mat-label>{{'csp.convocatoria.periodoJustificacion.modal.fechaInicio' | translate}}</mat-label>
            <input matInput formControlName="fechaInicio" [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

        </div>

        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">

          <mat-form-field color="primary" fxFill>
            <mat-label>{{'csp.convocatoria.periodoJustificacion.modal.fechaFin' | translate}}</mat-label>
            <input matInput formControlName="fechaFin" [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error *ngIf="formGroup.controls.fechaFin.errors?.after">
              {{'csp.convocatoria.periodoJustificacion.modal.fechaFin.after' | translate}}
            </mat-error>
          </mat-form-field>

        </div>

      </div>

      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

        <div [fxFlex.sm]="fxFlexProperties2.sm" [fxFlex.md]="fxFlexProperties2.md"
          [fxFlex.gt-md]="fxFlexProperties2.gtMd" [fxFlexOrder]="fxFlexProperties2.order">

          <mat-form-field fxFill>
            <mat-label>{{'csp.convocatoria.periodoJustificacion.modal.observaciones' | translate}}</mat-label>
            <textarea matInput formControlName="observaciones" type="text" id="observaciones"
              placeholder="{{'csp.convocatoria.periodoJustificacion.modal.observaciones' | translate}}">
                </textarea>

            <mat-error *ngIf="formGroup.controls.observaciones.errors?.after">
              {{'csp.convocatoria.periodoJustificacion.modal.observaciones.maxlength' | translate}}
            </mat-error>
          </mat-form-field>

        </div>

      </div>

    </form>
  </main>
  <div id="modals-buttons" class="float-right" mat-dialog-actions>
    <button color="accent" md-button mat-raised-button type="submit" (click)="saveOrUpdate()" *ngIf="!data.readonly">
      {{textSaveOrUpdate | translate}}</button>
    <button class="link-cancelar" mat-button (click)="closeModal()"
      type="button">{{'botones.cancelar' | translate}}</button>
  </div>
</div>