<div class="modal-crear-tareas">
  <header class="modal-header-material">
    <h3 mat-dialog-title>{{'eti.peticionEvaluacion.tareas.editar.titulo' | translate}}</h3>
  </header>
  <main>
    <form [formGroup]="formGroup">
      <!-- Persona equipo trabajo -->
      <div [fxLayout]="fxLayoutProperties.layout">
        <mat-form-field fxFill>
          <mat-label>{{'eti.peticionEvaluacion.tareas.editar.modal.persona' | translate}}</mat-label>
          <input type="text" [placeholder]="'eti.peticionEvaluacion.tareas.editar.modal.persona' | translate"
            arial-label="Number" matInput formControlName="equipoTrabajo" [matAutocomplete]="autocompleteEquipoTrabajo"
            (click)="onClickEquipoTrabajo()">
          <mat-autocomplete #autocompleteEquipoTrabajo="matAutocomplete" [displayWith]="getEquipoTrabajo">
            <mat-option *ngFor="let eqt of filteredEquiposTrabajo | async" [value]="eqt">
              {{eqt?.nombre}} {{eqt?.primerApellido}} {{eqt?.segundoApellido}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <!-- Memoria -->
      <div [fxLayout]="fxLayoutProperties.layout">
        <mat-form-field fxFill>
          <mat-label>{{'eti.peticionEvaluacion.tareas.editar.modal.memoria' | translate}}</mat-label>
          <input type="text" [placeholder]="'eti.peticionEvaluacion.tareas.editar.modal.memoria' | translate"
            arial-label="Number" matInput formControlName="memoria" [matAutocomplete]="autocompleteMemoria">
          <mat-autocomplete #autocompleteMemoria="matAutocomplete" [displayWith]="getMemoria">
            <mat-option *ngFor="let m of filteredMemorias | async" [value]="m">
              {{m.titulo}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <!-- Tarea -->
      <div [fxLayout]="fxLayoutProperties.layout">
        <mat-form-field fxFill>
          <mat-label>{{'eti.peticionEvaluacion.tareas.editar.modal.tarea' | translate}}</mat-label>
          <input matInput formControlName="tarea" type="text" id="tarea" />
        </mat-form-field>
      </div>
      <!-- Formación específica -->
      <div [fxLayout]="fxLayoutProperties.layout">
        <mat-form-field fxFill>
          <mat-label>{{'eti.peticionEvaluacion.tareas.editar.modal.formacionEspecifica' | translate}}</mat-label>
          <input type="text"
            [placeholder]="'eti.peticionEvaluacion.tareas.editar.modal.formacionEspecifica' | translate"
            arial-label="Number" matInput formControlName="formacionEspecifica"
            [matAutocomplete]="autocompleteFormacion">
          <mat-autocomplete #autocompleteFormacion="matAutocomplete" [displayWith]="getFormacion">
            <mat-option *ngFor="let f of filteredFormaciones | async" [value]="f">
              {{f.nombre}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div [fxLayout]="fxLayoutProperties.layout">
        <mat-form-field fxFill>
          <mat-label>{{'eti.peticionEvaluacion.tareas.editar.modal.anio' | translate}}</mat-label>
          <input matInput formControlName="anio" type="number" id="anio" />
        </mat-form-field>
      </div>
      <div [fxLayout]="fxLayoutProperties.layout">
        <mat-form-field fxFill>
          <mat-label>{{'eti.peticionEvaluacion.tareas.editar.modal.organismo' | translate}}</mat-label>
          <input matInput formControlName="organismo" type="text" id="organismo" />
        </mat-form-field>
      </div>
    </form>
  </main>
  <mat-dialog-actions align="center">
    <button color="accent" (click)="addTarea()" md-button mat-raised-button
      tabindex="-1">{{'botones.anadir' | translate}}</button>
    <button class="link-cancelar" mat-button mat-dialog-close tabindex="-1">{{'botones.cancelar' | translate}}</button>
  </mat-dialog-actions>
</div>