<section class="solicitud-proyecto-socio-periodo-justificacion">
  <table class="mat-elevation-z8 table-acta" mat-table [dataSource]="dataSource" matSort matSortActive="id"
    matSortDirection="asc" matSortDisableClear>

    <!-- numPeriodo Column -->
    <ng-container matColumnDef="numPeriodo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.solicitud-proyecto-socio.periodo-justificacion.listado.numPeriodo' | translate}}
      </th>
      <td mat-cell *matCellDef="let wrapper">{{wrapper.value.numPeriodo}}</td>
    </ng-container>

    <!-- mesInicial Column -->
    <ng-container matColumnDef="mesInicial">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.solicitud-proyecto-socio.periodo-justificacion.listado.mesInicial' |
        translate}}
      </th>
      <td mat-cell *matCellDef="let wrapper">{{wrapper.value.mesInicial}}</td>
    </ng-container>

    <!-- mesFinal Column -->
    <ng-container matColumnDef="mesFinal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.solicitud-proyecto-socio.periodo-justificacion.listado.mesFinal' |
        translate}}
      </th>
      <td mat-cell *matCellDef="let wrapper">{{wrapper.value.mesFinal}}</td>
    </ng-container>

    <!-- fechaInicio Column -->
    <ng-container matColumnDef="fechaInicio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.solicitud-proyecto-socio.periodo-justificacion.listado.fechaInicio' |
        translate}}
      </th>
      <td mat-cell *matCellDef="let wrapper">{{wrapper.value.fechaInicio | date: 'dd/MM/yyyy'}}</td>
    </ng-container>

    <!-- fechaFin Column -->
    <ng-container matColumnDef="fechaFin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.solicitud-proyecto-socio.periodo-justificacion.listado.fechaFin' |
        translate}}
      </th>
      <td mat-cell *matCellDef="let wrapper">{{wrapper.value.fechaFin | date: 'dd/MM/yyyy'}}</td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> {{'csp.solicitud-proyecto-socio.periodo-justificacion.listado.acciones' |
        translate}}
      </th>
      <td mat-cell *matCellDef="let wrapper">
        <ng-container>
          <button mat-button matTooltip="{{'botones.editar' | translate}}" (click)="openModal(wrapper)">
            <mat-icon color="primary">border_color</mat-icon>
          </button>
        </ng-container>
        <ng-container>
          <button mat-button matTooltip="{{'botones.borrar' | translate}}"
            (click)="deletePeriodoJustificacion(wrapper)">
            <mat-icon color="warn">highlight_off</mat-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="separation-button">
    <button color="three" mat-button mat-raised-button (click)="openModal()">
      <mat-icon color="accent">add_circle</mat-icon>
      {{'csp.solicitud-proyecto-socio.periodo-justificacion.añadir' | translate}}
    </button>
  </div>
</section>