<mat-dialog-content align="center">
  <header class="modal-header-material">
    <h3>{{'title.new.entity' | translate:msgParamEntity}}</h3>
  </header>
  <section>
    <form [formGroup]="formGroup" [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
      [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

      <!--Persona-->
      <div [fxLayout]="fxLayoutProperties.layout">
        <mat-form-field fxFill>
          <mat-label>{{'eti.peticion-evaluacion.equipo-investigador.persona' | translate}}</mat-label>
          <sgi-select-persona placeholder="{{'eti.peticion-evaluacion.equipo-investigador.persona' | translate}}"
            formControlName="persona" required>
          </sgi-select-persona>
          <mat-error *ngIf="formGroup.controls.persona.errors?.required">
            {{'error.required.entity' | translate:msgParamEntity}}
          </mat-error>
        </mat-form-field>
      </div>

      <div [fxLayout]="fxLayoutProperties.layout">
        <mat-form-field fxFill>
          <mat-label>{{'eti.peticion-evaluacion.equipo-investigador.numero-documento' | translate}}
          </mat-label>
          <input matInput formControlName="numDocumento" type="text" id="numDocumentoModal" />
        </mat-form-field>
      </div>

      <div [fxLayout]="fxLayoutProperties.layout">
        <mat-form-field fxFill>
          <mat-label>{{'eti.peticion-evaluacion.equipo-investigador.nombre-completo' | translate}}
          </mat-label>
          <input matInput formControlName="nombreCompleto" type="text" id="nombreCompletoModal" />
        </mat-form-field>
      </div>

      <div [fxLayout]="fxLayoutProperties.layout">
        <mat-form-field fxFill>
          <mat-label>{{'eti.peticion-evaluacion.equipo-investigador.vinculacion' | translate}}
          </mat-label>
          <input matInput formControlName="vinculacion" type="text" id="vinculacionModal" />
        </mat-form-field>
      </div>

      <div [fxLayout]="fxLayoutProperties.layout">
        <mat-form-field fxFill>
          <mat-label>{{'eti.peticion-evaluacion.equipo-investigador.nivel-academico' | translate}}
          </mat-label>
          <input matInput formControlName="nivelAcademico" type="text" id="nivelAcademicoModal" />
        </mat-form-field>
      </div>

    </form>
  </section>
</mat-dialog-content>


<mat-dialog-actions align="center">
  <button color="accent" (click)="addPersonaEquipoInvestigador()" md-button mat-raised-button tabindex="-1">{{'btn.add'
    | translate}}</button>
  <button class="link-cancelar" mat-button mat-dialog-close tabindex="-1">{{'btn.cancel' | translate}}</button>
</mat-dialog-actions>