<div class="convocatoria-enlace-modal">
  <header class="modal-header-material">
    <h3 mat-dialog-title>{{'csp.convocatoria.entidades.enlace.modal.titulo' | translate}}
    </h3>
  </header>
  <main>
    <form [formGroup]="formGroup">
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field fxFill>
            <mat-label>{{'csp.convocatoria.enlace.modal.url' | translate}}
            </mat-label>
            <input matInput formControlName="url" type="text" id="url" required
              placeholder="{{'csp.convocatoria.enlace.modal.url' | translate}}">
            <mat-error *ngIf="formGroup.controls.url.errors?.required">
              {{'csp.convocatoria.enlace.modal.url.error.requerido' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.get('url').errors?.maxlength">
              {{'csp.convocatoria.enlace.modal.url.maximo' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.get('url').errors?.notAllowed">
              {{'csp.convocatoria.enlace.modal.url.notAllowed' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field fxFill>
            <mat-label>{{'csp.convocatoria.enlace.modal.descripcion' | translate}}
            </mat-label>
            <textarea matInput formControlName="descripcion" type="text" id="descripcion"
              placeholder="{{'csp.convocatoria.enlace.modal.descripcion' | translate}}">
             </textarea>
            <mat-error *ngIf="formGroup.get('descripcion').errors?.maxlength">
              {{'csp.convocatoria.enlace.modal.descripcion.maximo' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field fxFill>
            <mat-label>{{'csp.convocatoria.enlace.modal.tipoEnlace' | translate}}</mat-label>
            <input matInput formControlName="tipoEnlace" type="text" id="tipoEnlace"
              placeholder="{{'csp.convocatoria.enlace.modal.tipoEnlace' | translate}}"
              [matAutocomplete]="autoTipoEnlace">
            <mat-autocomplete #autoTipoEnlace="matAutocomplete" [displayWith]="getNombreTipoEnlace">
              <mat-option *ngFor="let modeloTipoEnlace of modeloTiposEnlace$ | async"
                [value]="modeloTipoEnlace.tipoEnlace">
                {{modeloTipoEnlace.tipoEnlace.nombre}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="formGroup.controls.tipoEnlace.errors?.invalid">
              {{'csp.convocatoria.enlace.modal.error.invalido' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </main>
  <div id="modals-buttons" class="float-right" mat-dialog-actions>
    <button color="accent" (click)="saveOrUpdate()" md-button mat-raised-button *ngIf="!data.readonly"
      type="submit">{{textSaveOrUpdate | translate}}</button>
    <button class="link-cancelar" mat-button (click)="closeModal()"
      type="button">{{'botones.cancelar' | translate}}</button>
  </div>
</div>