<!-- Menu principal -->
<mat-nav-list>
  <div class="opciones-menu">
    <mat-list-item [routerLink]="UrlUtils.cat.producto" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>fullscreen</mat-icon>
        <span>{{'menu.principal.cat.productos' | translate}}</span>
      </a>
    </mat-list-item>
    <mat-list-item [routerLink]="UrlUtils.cat.solicitud" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon> list_alt</mat-icon>
        <span>{{'menu.principal.cat.solicitudes' | translate}}</span>
      </a>
    </mat-list-item>
    <mat-list-item [routerLink]="UrlUtils.cat.agrupacionServicios" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>device_hub</mat-icon>
        <span>{{'menu.principal.cat.agrupaciones-servicios' | translate}}</span>
      </a>
    </mat-list-item>
    <mat-list-item [routerLink]="UrlUtils.cat.horario" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>calendar_today</mat-icon>
        <span>{{'menu.principal.cat.horarios' | translate}}</span>
      </a>
    </mat-list-item>
    <mat-list-item [routerLink]="UrlUtils.cat.unidadMedidas" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>equalizer</mat-icon>
        <span>{{'menu.principal.cat.unidades-medida' | translate}}</span>
      </a>
    </mat-list-item>
    <mat-list-item [routerLink]="UrlUtils.cat.tipoReservables" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>fullscreen</mat-icon>
        <span>{{'menu.principal.cat.tipos-reservables' | translate}}</span>
      </a>
    </mat-list-item>
    <mat-list-item [routerLink]="UrlUtils.cat.tipoFungible" [routerLinkActive]="['is-active']">
      <a mat-list-item>
        <mat-icon>fullscreen</mat-icon>
        <span>{{'menu.principal.cat.tipos-fungibles' | translate}}</span>
      </a>
    </mat-list-item>
  </div>
</mat-nav-list>
<!-- FIN Menu principal -->
