<mat-drawer-container class="mat-drawer-tabs" autosize>
  <mat-drawer mode="side" class="tabs" opened>
    <mat-list class="opciones-menu">
      <sgi-action-fragment-menu-item [route]="[SOLICITUD_PROYECTO_SOCIO_ROUTE_NAMES.DATOS_GENERALES]"
        [title]="'label.datos-generales' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.DATOS_GENERALES)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[SOLICITUD_PROYECTO_SOCIO_ROUTE_NAMES.EQUIPO]"
        [title]="'csp.solicitud-proyecto-socio.equipos-socio' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.EQUIPO)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[SOLICITUD_PROYECTO_SOCIO_ROUTE_NAMES.PERIODOS_PAGOS]"
        *ngIf="!actionService.solicitudProyectoCoordinadorExterno"
        [title]="'csp.solicitud-proyecto-socio.periodos-pago' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.PERIODOS_PAGOS)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[SOLICITUD_PROYECTO_SOCIO_ROUTE_NAMES.PERIODOS_JUSTIFICACION]"
        [title]="'csp.solicitud-proyecto-socio.periodos-justificacion' | translate"
        *ngIf="!actionService.solicitudProyectoCoordinadorExterno"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.PERIODOS_JUSTIFICACION)">
      </sgi-action-fragment-menu-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content class="mat-drawer-content">
    <div class="mat-drawer-content-panel">
      <router-outlet></router-outlet>
    </div>
    <sgi-action-footer [texto]="textoEditar" [actionService]="actionService"></sgi-action-footer>
  </mat-drawer-content>
</mat-drawer-container>