<!-- BREADCRUMB -->
<section class="migas">
  <nav class="breadcrumb">
    <ol class="breadcrumb__list r-list">
      <li class="breadcrumb__group" *ngFor="let url of urls; let i = index">
        <a class="breadcrumb__point r-link" *ngIf="url?.nombre === ''">{{'breadcrumb.inicio' | translate}}</a>
        <a [routerLink]="url?.url" class="breadcrumb__point r-link"
          *ngIf="url?.nombre !== '' && i !== getUltimaPosicion()">{{'breadcrumb.' + url.nombre | translate}}</a>
        <span class="breadcrumb__point" aria-current="page"
          *ngIf="url?.nombre !== '' && i === getUltimaPosicion()">{{'breadcrumb.' + url.nombre | translate}}</span>
        <span class="breadcrumb__divider" aria-hidden="true" *ngIf="i !== getUltimaPosicion()">
          <img class="chevron" src="assets/icons/chevron_right.svg" alt="" />
        </span>
      </li>
    </ol>
  </nav>
  <div class="title">
    <h2>
      {{'breadcrumb.' + getUltimaPosicionNombre() | translate}}
    </h2>
  </div>
</section>