<div>
  <nav class="breadcrumb">
    <ol class="breadcrumb__list r-list">
      <li class="breadcrumb__group" *ngFor="let url of urls; let i = index">
        <a [routerLink]="url.url" class="breadcrumb__point r-link"
          *ngIf="url.nombre === ''">{{'breadcrumb.inicio' | translate}}</a>
        <a [routerLink]="url.url" class="breadcrumb__point r-link"
          *ngIf="url.nombre !== '' && i !== urls.length - 1">{{'breadcrumb.' + url.nombre | translate}}</a>
        <span class="breadcrumb__point" aria-current="page"
          *ngIf="url.nombre !== '' && i === urls.length - 1">{{'breadcrumb.' + url.nombre | translate}}</span>
        <span class="breadcrumb__divider" aria-hidden="true" *ngIf="i !== urls.length - 1">›</span>
      </li>
    </ol>
  </nav>
</div>