@import "colors.scss";
@import "typography.scss";

.item-tab {
  font-size: mat-font-size($custom-typography, caption);
  text-decoration-line: none;
  &.is-active {
    background-color: map-get($custom-colors, white);
  }

  .mat-list-item-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .warning-icon {
    color: map-get($custom-colors, warning);
  }

  .danger-icon {
    color: map-get($custom-colors, danger);
  }
}
