<a mat-list-item [routerLink]="route" [routerLinkActive]="['is-active']">
  <div>
    <span>{{title}}</span>
    <span *ngIf="fragment?.status$ | async as status;">
      <mat-icon *ngIf="status.changes && !status.errors && !status.problems" class="warning-icon">
        error_outline</mat-icon>
      <mat-icon *ngIf="status.errors && !status.problems" class="danger-icon">
        error</mat-icon>
      <mat-icon *ngIf="status.problems && status.changes" class="danger-icon">
        report_problem</mat-icon>
    </span>
  </div>
</a>