<!-- Servicio tab gestor-->
<section class="servicio-section" [formGroup]="gestorFromGroup">

  <h3>{{'servicio.gestor.titulo.section' | translate}}</h3>

  <div>
    <mat-form-field class="input-form gestor" appearance="fill">
      <mat-label>{{'servicio.gestor.gestor' | translate}}</mat-label>
      <input type="text" placeholder="Gestor" arial-label="Number" matInput formControlName="gestor" required>
      <mat-select formControlName="gestor" required>
        <mat-option value="">Seleccionar</mat-option>
        <mat-option *ngFor="let gestor of gestorListado" [value]="gestor">
          {{gestor.nombre}} {{gestor.apellidos}}
          {{gestor.dni}} {{gestor.dniLetra}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>

    <button fxFlex="20%" aria-label="Center Align" md-button mat-raised-button (click)="aniadirGestor()">
      {{'servicio.gestor.aniadir'| translate}}
    </button>
  </div>

  <table class="mat-elevation-z8 table-gestor" mat-table matSort [dataSource]="dataSource">

    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'servicio.gestor.listado.nombre' | translate}} </th>
      <td mat-cell *matCellDef="let gestor"> {{gestor.nombre}} </td>
    </ng-container>

    <!-- Apellidos Column -->
    <ng-container matColumnDef="apellidos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'servicio.gestor.listado.apellidos' | translate}} </th>
      <td mat-cell *matCellDef="let gestor"> {{gestor.apellidos}} </td>
    </ng-container>

    <!-- Dni Column -->
    <ng-container matColumnDef="dni">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'servicio.gestor.listado.dni' | translate}} </th>
      <td mat-cell *matCellDef="let gestor"> {{gestor.dni}} {{gestor.dniLetra}} </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> {{'servicio.listado.acciones' | translate}} </th>
      <td mat-cell *matCellDef="let servicio;let i=index;">
        <!-- <button mat-button [routerLink]="UrlUtils.actualizar + servicio.id"
          matTooltip="{{'servicio.listado.editar' | translate}}">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button matTooltip="{{'servicio.listado.borrar' | translate}}"
          (click)="borrarSeleccionado(servicio.id, $event)">
          <mat-icon>close</mat-icon>
        </button>-->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</section>

<!-- Servicio tab gestor-->