<sgi-fragment
  title="{{'menu.csp.solicitud.solicitud-rrhh' | translate}} - {{'menu.csp.solicitud.solicitud-rrhh.memoria' | translate}}">

  <form [formGroup]="formGroup" fxLayout="column">
    <div fxFlex fxLayout="row">
      <!-- Titulo trabajo -->
      <mat-form-field>
        <mat-label>{{'csp.solicitud.solicitud-rrhh.titulo-trabajo' | translate}}</mat-label>
        <sgi-i18n-input #titulo placeholder="{{'csp.solicitud.solicitud-rrhh.titulo-trabajo' | translate}}"
          formControlName="tituloTrabajo" required>
        </sgi-i18n-input>
        <mat-hint>{{titulo.editingValue.length}} / 1000</mat-hint>
        <mat-error *ngIf="formGroup.controls.tituloTrabajo.errors?.required">
          {{'error.required.entity' | translate:msgParamTituloTrabajoEntity}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.tituloTrabajo.errors?.maxlength">
          {{ 'error.maxlength.entity' | translate:msgParamTituloTrabajoEntity }}
        </mat-error>
      </mat-form-field>
    </div>

    <div fxFlex fxLayout="row">
      <!-- Resumen -->
      <mat-form-field>
        <mat-label>{{'csp.solicitud.solicitud-rrhh.resumen' | translate}}</mat-label>
        <sgi-i18n-textarea #resumen formControlName="resumen"
          placeholder="{{'csp.solicitud.solicitud-rrhh.resumen' | translate}}" [useAutosize]="true"
          cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" required>
        </sgi-i18n-textarea>
        <mat-hint>{{resumen.editingValue.length}} / 4000</mat-hint>
        <mat-error *ngIf="formGroup.controls.resumen.errors?.required">
          {{'error.required.entity' | translate:msgParamResumenEntity}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.resumen.errors?.maxlength">
          {{ 'error.maxlength.entity' | translate:msgParamResumenEntity }}
        </mat-error>
      </mat-form-field>
    </div>

    <div fxFlex fxLayout="row">
      <!-- Observaciones -->
      <mat-form-field>
        <mat-label>{{'csp.solicitud.solicitud-rrhh.observaciones' | translate}}</mat-label>
        <sgi-i18n-textarea #observaciones formControlName="observaciones"
          placeholder="{{'csp.solicitud.solicitud-rrhh.observaciones' | translate}}" [useAutosize]="true"
          cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5">
        </sgi-i18n-textarea>
        <mat-hint>{{observaciones.editingValue.length}} / 4000</mat-hint>
        <mat-error *ngIf="formGroup.controls.observaciones.errors?.maxlength">
          {{ 'error.maxlength.entity' | translate:msgParamObservacionesEntity }}
        </mat-error>
      </mat-form-field>
    </div>

  </form>

  <sgi-info-message *ngIf="actionService.showSolicitudRRHHToValidateInfoMessage()"
    message="{{'info.csp.solicitud.datos-generales.solicitud-rrhh-validar' | translate}}">
  </sgi-info-message>

</sgi-fragment>