<mat-drawer-container class="mat-drawer-tabs">
  <mat-drawer mode="side" class="tabs" opened>
    <mat-list class="opciones-menu">
      <sgi-action-fragment-menu-item [route]="[MODELO_EJECUCION_ROUTE_NAMES.DATOS_GENERALES]"
        [title]="'label.datos-generales' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.DATOS_GENERALES)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[MODELO_EJECUCION_ROUTE_NAMES.TIPO_FASES]"
        [title]="'label.tipo.fases' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.TIPO_FASES)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[MODELO_EJECUCION_ROUTE_NAMES.TIPO_DOCUMENTOS]"
        [title]="'label.tipoDocumentos' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.TIPO_DOCUMENTOS)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[MODELO_EJECUCION_ROUTE_NAMES.TIPO_ENLACES]"
        [title]="'label.tipo-enlaces' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.TIPO_ENLACES)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[MODELO_EJECUCION_ROUTE_NAMES.TIPO_FINALIDADES]"
        [title]="'label.tipo-finalidades' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.TIPO_FINALIDADES)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[MODELO_EJECUCION_ROUTE_NAMES.TIPO_HITOS]"
        [title]="'label.tipo.hitos' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.TIPO_HITOS)">
      </sgi-action-fragment-menu-item>
      <sgi-action-fragment-menu-item [route]="[MODELO_EJECUCION_ROUTE_NAMES.UNIDAD_GESTION]"
        [title]="'label.tipo.unidad.gestion' | translate"
        [fragment]="actionService.getFragment(actionService.FRAGMENT.UNIDAD_GESTION)">
      </sgi-action-fragment-menu-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content class="mat-drawer-content">
    <div class="mat-drawer-content-panel">
      <router-outlet></router-outlet>
    </div>
    <sgi-action-footer [texto]="textoCrear" [actionService]="actionService"></sgi-action-footer>
  </mat-drawer-content>
</mat-drawer-container>