<div class="opciones-menu">

  <a class="item" mat-list-item *sgiHasAuthorityForAnyUO="'ETI-PEV-VR-INV'"
    [routerLink]="[INV_ROUTE_NAMES.PETICIONES_EVALUACION]" [routerLinkActive]="['is-active']">
    <mat-icon color="primary" mat-list-icon>content_paste</mat-icon>
    <p matLine *ngIf="opened">{{'menu.principal.inv.peticionesEvaluacion' | translate}}</p>
  </a>

  <a class="item" mat-list-item *sgiHasAuthorityForAnyUO="'ETI-EVC-VR-INV'"
    [routerLink]="[INV_ROUTE_NAMES.EVALUACIONES]" [routerLinkActive]="['is-active']">
    <mat-icon color="primary" mat-list-icon>list_alt</mat-icon>
    <p matLine *ngIf="opened">{{'menu.principal.inv.evaluaciones' | translate}}</p>
  </a>

  <a class="item" mat-list-item *sgiHasAuthorityForAnyUO="'ETI-EVC-VR-INV'"
    [routerLink]="[INV_ROUTE_NAMES.SEGUIMIENTOS]" [routerLinkActive]="['is-active']">
    <mat-icon color="primary" mat-list-icon>verified_user</mat-icon>
    <p matLine *ngIf="opened">{{'menu.principal.inv.seguimientos' | translate}}</p>
  </a>

</div>
<!-- FIN Menu principal -->