<div class="modelo-tipo-unidad-gestion-modal">
  <header class="modal-header-material">
    <h3 mat-dialog-title>{{'csp.modelo.tipo.gestion.modal.titulo' | translate}}</h3>
  </header>
  <main>
    <form [formGroup]="formGroup">
      <!-- Tipo de gestion -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field fxFill>
            <mat-label>{{'csp.tipo.gestion' | translate}}</mat-label>
            <mat-select matNativeControl formControlName="tipoUnidad" required>
              <mat-option *ngFor="let unidad of tipoUnidad$ | async" [value]="unidad">{{unidad.nombre}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.controls.tipoUnidad.errors?.required">
              {{'csp.tipo.gestion.error.requerido' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </main>
  <div id="modals-buttons" class="float-right" mat-dialog-actions>
    <button color="accent" (click)="saveOrUpdate()" md-button mat-raised-button
      type="submit">{{'botones.aniadir' | translate}}</button>
    <button class="link-cancelar" mat-button (click)="closeModal()"
      type="button">{{'botones.cancelar' | translate}}</button>
  </div>
</div>