<!-- Unidad Medida listado -->
<section class="unidad-medida-listado">
  <h2>{{'unidad-medida.listado.titulo' | translate}}</h2>
  <table mat-table class="mat-elevation-z8 table-unidad" [dataSource]="unidadesMedida$ | async" matSort
    matSortActive="id" matSortDirection="asc" matSortDisableClear>
    <!-- Abreviatura Column -->
    <ng-container matColumnDef="abreviatura">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'unidad-medida.listado.abreviatura' | translate}} </th>
      <td mat-cell *matCellDef="let unidadMedida"> {{unidadMedida.abreviatura}} </td>
    </ng-container>

    <!-- Descripcion Column -->
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'unidad-medida.listado.descripcion' | translate}} </th>
      <td mat-cell *matCellDef="let unidadMedida"> {{unidadMedida.descripcion}} </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> {{'unidad-medida.listado.acciones' | translate}} </th>
      <td mat-cell *matCellDef="let unidadMedida;let i=index;">
        <button mat-button [routerLink]="UrlUtils.actualizar + unidadMedida.id"
          matTooltip="{{'unidad-medida.listado.editar' | translate}}">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button matTooltip="{{'unidad-medida.listado.borrar' | translate}}"
          (click)="borrarSeleccionado(unidadMedida.id)">
          <mat-icon>close</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="elementosPagina" [length]="totalElementos" showFirstLastButtons>
  </mat-paginator>
  <div class="separation-button">
    <button [routerLink]="UrlUtils.crear" mat-button>
      <mat-icon>add_box</mat-icon> {{'unidad-medida.listado.nueva-unidad' | translate}}
    </button>
  </div>
</section>
<!-- FIN Unidad Medida listado-->
