@import 'variables';

.mat-tab-group {
  flex-direction: row !important;
}

.mat-tab-labels {
  flex-direction: column !important;
}

.mat-tab-label-active {
  border-right: 2px solid !important;
}

.mat-ink-bar {
  display: none;
}

.mat-tab-body-wrapper {
  margin-left: 10px;
  width: 100%;
}