$palette-primary: (
  50: #f3f6f9,
  100: #d6ddf2,
  200: #bbc6e9,
  300: #9cb5ff,
  400: #8b9ed9,
  500: #768dd2,
  600: #6e85cd,
  700: #637ac7,
  800: #5970c1,
  900: #465db6,
  A100: #ffffff,
  A200: #dae1ff,
  A400: #a7b8ff,
  A700: #8da3ff,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white,
  ),
);

$palette-accent: (
  50: #f1f1f1,
  100: #dcdcdc,
  200: #c5c5c5,
  300: #adadad,
  400: #9c9c9c,
  500: #8a8a8a,
  600: #828282,
  700: #777777,
  800: #6d6d6d,
  900: #5a5a5a,
  A100: #fad0d0,
  A200: #f5a2a2,
  A400: #ff6464,
  A700: #ff4b4b,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white,
  ),
);

$palette-warn: (
  50: #fde4e9,
  100: #fabac8,
  200: #f68ea5,
  300: #f16181,
  400: #ec4167,
  500: #c11b4a,
  600: #d6214d,
  700: #c11b4a,
  800: #ad1447,
  900: #8a0942,
  A100: #f68ea5,
  A200: #c11b4a,
  A400: #c11b4a,
  A700: #8a0942,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white,
  ),
);

$custom-colors: (
  warning: #ffc116,
  success: #28c76f,
  danger: #c00000,
  contrast: (
    warning: #000000,
    success: #ffffff,
    danger: #ffffff,
  ),
);
