$palette-primary: (
  50: #e6eaf4,
  100: #c0c9e5,
  200: #85cfed,
  300: #0083bf,
  400: #0060b5,
  500: #0093d7,
  600: #1d48a2,
  700: #0f3f96,
  800: #00358a,
  900: #002475,
  A100: #97a6d4,
  A200: #0093d7,
  A400: #1d48a2,
  A700: #002475,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white,
  )
);

$palette-accent: (
  50: #fafafa,
  100: #f5f5f5,
  200: #efefef,
  300: #e1e1e1,
  400: #bebebe,
  500: #767676,
  600: #624262,
  700: #626262,
  800: #434343,
  900: #222222,
  A100: #f5f5f5,
  A200: #bebebe,
  A400: #434343,
  A700: #222222,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white,
  )
);

$palette-warn: (
  50: #fde4e9,
  100: #fabac8,
  200: #f68ea5,
  300: #f16181,
  400: #ec4167,
  500: #c11b4a,
  600: #d6214d,
  700: #c11b4a,
  800: #ad1447,
  900: #8a0942,
  A100: #f68ea5,
  A200: #c11b4a,
  A400: #c11b4a,
  A700: #8a0942,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white,
  )
);

$custom-colors: (
  success: #74C706,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white,
  )
);
