<div class="tipo-financiacion-convocatoria-modal">
  <header class="modal-header-material">
    <h3 mat-dialog-title>
      {{'csp.tipo.financiacion.modal.titulo' | translate}}
    </h3>
  </header>
  <main>
    <form [formGroup]="formGroup">

      <!-- Nombre -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field fxFill>
            <mat-label>{{'csp.tipo.financiacion.nombre' | translate}}</mat-label>
            <input matInput formControlName="nombre" type="text" id="nombre"
              placeholder="{{'csp.tipo.financiacion.nombre' | translate}}" required>
            <mat-error *ngIf="formGroup.controls.nombre.errors?.required">
              {{'csp.tipo.financiacion.nombre.error.requerido' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Descripción -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field fxFill>
            <mat-label>{{'csp.tipo.financiacion.descripcion' | translate}}</mat-label>
            <textarea matInput formControlName="descripcion" id="descripcion"
              placeholder="{{'csp.tipo.financiacion.descripcion' | translate}}"></textarea>
          </mat-form-field>
        </div>
      </div>
    </form>
  </main>
  <div id="modals-buttons" class="float-right" mat-dialog-actions>
    <button color="accent" (click)="saveOrUpdate()" md-button mat-raised-button
      type="submit">{{textSaveOrUpdate | translate}}</button>
    <button class="link-cancelar" mat-button (click)="closeModal()"
      type="button">{{'botones.cancelar' | translate}}</button>
  </div>
</div>