<div class="opciones-menu">
  <a class="item" mat-list-item *sgiHasAuthorityForAnyUO="'CSP-CONV-C'" [routerLink]="[CSP_ROUTE_NAMES.CONVOCATORIA]"
    [routerLinkActive]="['is-active']">
    <mat-icon color="primary" mat-list-icon>assignment_ind</mat-icon>
    <p matLine *ngIf="opened">{{'menu.principal.csp.convocatoria' | translate}}</p>
  </a>
  <a class="item" mat-list-item *sgiHasAuthorityForAnyUO="'CSP-SOL-C'" [routerLinkActive]="['is-active']">
    <mat-icon color="primary" mat-list-icon>description</mat-icon>
    <p matLine *ngIf="opened">{{'menu.principal.csp.solicitudes' | translate}}</p>
  </a>
  <a class="item" mat-list-item *sgiHasAuthorityForAnyUO="'CSP-PRO-C'" [routerLinkActive]="['is-active']">
    <mat-icon color="primary" mat-list-icon>work</mat-icon>
    <p matLine *ngIf="opened">{{'menu.principal.csp.proyectos' | translate}}</p>
  </a>
  <a class="item" mat-list-item *sgiHasAuthorityForAnyUO="'CSP-EE-V'" [routerLinkActive]="['is-active']">
    <mat-icon color="primary" mat-list-icon>attach_money</mat-icon>
    <p matLine *ngIf="opened">{{'menu.principal.csp.ejecucionEconomica' | translate}}</p>
  </a>
  <a class="item" mat-list-item *sgiHasAuthorityForAnyUO="'CSP-NOT-C'" [routerLinkActive]="['is-active']">
    <mat-icon color="primary" mat-list-icon>send</mat-icon>
    <p matLine *ngIf="opened">{{'menu.principal.csp.notificacionesSGE' | translate}}</p>
  </a>
  <a class="item" mat-list-item *sgiHasAuthorityForAnyUO="'CSP-TIME-E'" [routerLinkActive]="['is-active']">
    <mat-icon color="primary" mat-list-icon>insert_invitation</mat-icon>
    <p matLine *ngIf="opened">{{'menu.principal.csp.timesheet' | translate}}</p>
  </a>
  <a class="item" mat-list-item *sgiHasAuthorityForAnyUO="'CSP-CONT-C'" [routerLinkActive]="['is-active']">
    <mat-icon color="primary" mat-list-icon>local_library</mat-icon>
    <p matLine *ngIf="opened">{{'menu.principal.csp.contratosRRHH' | translate}}</p>
  </a>

  <mat-accordion #accordion="matAccordion" class="acordeon-sidenav">
    <mat-expansion-panel #expPanel class="panel"
      [expanded]="panelDesplegado && opened ? !panelDesplegado : panelDesplegado">
      <mat-expansion-panel-header class="header item" (click)="activarAcordeon($event)">
        <mat-panel-title class="titulo">
          <mat-icon color="primary" mat-list-icon>list_alt</mat-icon>
          <span *ngIf="opened">{{'menu.principal.csp.configracion' | translate}}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="opciones-accordion" *ngIf="opened">
        <a mat-list-item *sgiHasAuthorityForAnyUO="'CSP-TFAS-C'" [routerLink]="[CSP_ROUTE_NAMES.TIPO_FASE]"
          [routerLinkActive]="['is-active']">{{'menu.principal.csp.tipo.fase' | translate}}</a>
        <a mat-list-item *sgiHasAuthorityForAnyUO="'CSP-TFINAL-C'" [routerLink]="[CSP_ROUTE_NAMES.TIPO_FINALIDAD]"
          [routerLinkActive]="['is-active']">{{'menu.principal.csp.tipo.finalidad' | translate}}</a>
        <a mat-list-item *sgiHasAuthorityForAnyUO="'CSP-TDOC-C'" [routerLink]="[CSP_ROUTE_NAMES.TIPO_DOCUMENTO]"
          [routerLinkActive]="['is-active']">{{'menu.principal.csp.tipo.documento' | translate}}</a>
        <a mat-list-item *sgiHasAuthorityForAnyUO="'CSP-TENL-C'" [routerLink]="[CSP_ROUTE_NAMES.TIPO_ENLACE]"
          [routerLinkActive]="['is-active']">{{'menu.principal.csp.tipos.enlace' | translate}}</a>
        <a mat-list-item *sgiHasAuthorityForAnyUO="'CSP-THIT-C'" [routerLink]="[CSP_ROUTE_NAMES.TIPO_HITO]"
          [routerLinkActive]="['is-active']">{{'menu.principal.csp.tipo.hito' | translate}}</a>
        <a mat-list-item *sgiHasAuthorityForAnyUO="'CSP-ME-C'" [routerLink]="[CSP_ROUTE_NAMES.MODELO_EJECUCION]"
          [routerLinkActive]="['is-active']">{{'menu.principal.csp.modelo.ejecucion' | translate}}</a>
        <a mat-list-item *sgiHasAuthorityForAnyUO="'CSP-PI-C'" [routerLink]="[CSP_ROUTE_NAMES.PLANES_INVESTIGACION]"
          [routerLinkActive]="['is-active']">{{'menu.principal.csp.planes.investigacion' | translate}}</a>
        <a mat-list-item *sgiHasAuthorityForAnyUO="'CSP-AT-C'" [routerLink]="[CSP_ROUTE_NAMES.AREA_TEMATICA]"
          [routerLinkActive]="['is-active']">{{'menu.principal.csp.area.tematica' | translate}}</a>
        <a mat-list-item *sgiHasAuthorityForAnyUO="'CSP-FF-C'" [routerLink]="[CSP_ROUTE_NAMES.FUENTE_FINANCIACION]"
          [routerLinkActive]="['is-active']">{{'menu.principal.csp.fuenteFinanciacion' | translate}}</a>
        <a mat-list-item *sgiHasAuthorityForAnyUO="'CSP-TFINAN-C'" [routerLink]="[CSP_ROUTE_NAMES.TIPO_FINANCIACION]"
          [routerLinkActive]="['is-active']">{{'menu.principal.csp.tipo.financiacion' | translate}}</a>
        <a mat-list-item *sgiHasAuthorityForAnyUO="'CSP-CG-C'" [routerLink]="[CSP_ROUTE_NAMES.CONCEPTO_GASTO]"
          [routerLinkActive]="['is-active']">{{'menu.principal.csp.concepto.gasto' | translate}}</a>
      </div>
    </mat-expansion-panel>

  </mat-accordion>

</div>
<!-- FIN Menu principal -->