@import "colors.scss";
@import "typography.scss";

.opciones-menu {
  .item {
    font-size: mat-font-size($custom-typography, body-2);
    border-bottom: 1px solid map-get($palette-grease, 100);
    box-shadow: none;
    border-radius: 0px;
    p {
      //Si es grande el titulo en 2 líneas
      width: 10em;
      white-space: normal;
    }
    &:hover,
    &:focus {
      &:before {
        @extend .border-seleccion;
      }
    }
    &.is-active {
      &:before {
        @extend .border-seleccion;
      }
    }
  }

  // Menu desplegable
  .acordeon {
    ::ng-deep .mat-expansion-panel-content{
      background:map-get($palette-primary, 50);
    }
    .panel {
      border-radius: 0px;
      .header {
        padding: 4px 7px 4px 20px;
        &.item {
          padding: 4px 7px 4px 0px;
          .titulo {
            padding: 4px 7px 4px 20px;
          }
        }
        .titulo {
          display: flex;
          flex-direction: row;
          align-items: center;
          box-sizing: border-box;
          position: relative;
          height: inherit;
        }
        mat-icon {
          flex-shrink: 0;
          width: 24px;
          height: 24px;
          font-size: 24px;
          box-sizing: content-box;
          border-radius: 50%;
          padding: 4px 3px 3px 0px;
        }
        span {
          display: flex;
          flex-direction: column;
          width: 100%;
          box-sizing: border-box;
          padding: 0;
          font-size: mat-font-size($custom-typography, body-2);
          padding-left: 17px;
          margin: 0;
        }
      }
      .opciones-accordion {
        padding-top: 5px;
        a {
          font-size: mat-font-size($custom-typography, caption);
          color: map-get($custom-colors, black);
          background: map-get($custom-colors, white);
          height: 25px;
          border-radius: 18px;
          padding: 2px 0px 2px 0px;
          margin-top: 5px;
          line-height: 12px;
          &:hover,
          &:focus {
            font-weight: bold;
          }
          mat-icon {
            color: map-get($custom-colors, success);
            display: flex;
            width: 100%;
            justify-content: flex-end;
          }
          &.is-active{
            font-weight: bold;
          }
        }
      }
    }
  }
}

// extensiones

.border-seleccion {
  content: "";
  position: absolute;
  height: 100%;
  border-left: 3px solid map-get($palette-primary, 500);
}
