<!-- SIDENAV -->
<mat-sidenav-container class="sidenav">
  <!-- MENU -->
  <mat-sidenav [@sidenavMenu]="sidenavAbierto ? 'open' : 'close'"
    (mouseenter)="condicionmouseenter === true ? menuAbierto(): false"
    (mouseleave)="condicionmmouseleave === true ? menuCerrado(): false" #sidenav
    [opened]="screenWidth > 960 || menuToogle" [mode]="screenWidth > 960 ? 'side' : 'over'"
    [class.mat-elevation-z4]="true" [ngStyle]="{ 'width.em': sidenavWidth }">
    <mat-nav-list class="menu-principal">
      <ng-content></ng-content>
    </mat-nav-list>
  </mat-sidenav>
  <!-- MENU -->
  <!-- CONTENIDO -->
  <mat-sidenav-content [@contenidoAnimacion]="sidenavAbierto ? 'open': 'close'">
    <app-breadcrumb></app-breadcrumb>
    <div class="layout-components">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
  <!-- CONTENIDO-->
</mat-sidenav-container>
<!-- SIDENAV -->