@import "colors.scss";

/* SIDENAV */
.sidenav {
  height: calc(100% - 74px);
  .menu-principal {
    padding-top: 0px;
    box-shadow: inset 0px 14px 12px -12px map-get($palette-grease, 100);
  }
}
/* FIN SIDENAV */
