<section>
  <h2>{{'label.datos-generales' | translate}}</h2>
  <form [formGroup]="formGroup">

    <!-- Número de período -->
    <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
      [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
      <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
        [fxFlexOrder]="fxFlexProperties.order">
        <mat-form-field fxFill>
          <mat-label>{{'csp.proyecto-periodo-seguimiento-cientifico.numero-periodo' | translate}}</mat-label>
          <input matInput formControlName="numPeriodo" type="number" id="numPeriodo"
            placeholder="{{'csp.proyecto-periodo-seguimiento-cientifico.numero-periodo' | translate}}">
        </mat-form-field>
      </div>
    </div>

    <!-- Periodo de seguimiento científico -->
    <div class="fieldset-form">
      {{'title.csp.proyecto-periodo-seguimiento-cientifico.periodo' | translate}}
    </div>

    <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
      [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

      <!-- Fecha de inicio -->
      <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
        [fxFlexOrder]="fxFlexProperties.order">
        <mat-form-field fxFill>
          <mat-label>{{'csp.proyecto-periodo-seguimiento-cientifico.fecha-inicio'|
            translate}}</mat-label>
          <input matInput [ngxMatDatetimePicker]="pickerFechaInicio" formControlName="fechaInicio" required>
          <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="pickerFechaInicio"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #pickerFechaInicio showSeconds="true" [defaultTime]="[0,0,0]">
          </ngx-mat-datetime-picker>
          <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.after">
            {{'error.csp.proyecto-periodo-seguimiento-cientifico.fecha-inicio.after' | translate}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.overlapped">
            {{'error.overlapping.record.entity' | translate:msgParamEntity}}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Fecha de fin -->
      <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
        [fxFlexOrder]="fxFlexProperties.order">
        <mat-form-field fxFill>
          <mat-label>{{'csp.proyecto-periodo-seguimiento-cientifico.fecha-fin' |
            translate}}</mat-label>
          <input matInput [ngxMatDatetimePicker]="pickerFechaFin" formControlName="fechaFin" required>
          <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="pickerFechaFin"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #pickerFechaFin showSeconds="true" [defaultTime]="[23,59,59]">
          </ngx-mat-datetime-picker>
          <mat-error *ngIf="formGroup.controls.fechaFin.errors?.before">
            {{'error.csp.proyecto-periodo-seguimiento-cientifico.fecha-fin.before' | translate}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.fechaFin.errors?.after">
            {{'error.after.fecha-fin' | translate}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.fechaFin.errors?.overlapped">
            {{'error.overlapping.record.entity' | translate:msgParamEntity}}
          </mat-error>
        </mat-form-field>
      </div>

    </div>


    <!-- Plazo de presentación -->
    <div class="fieldset-form">
      {{'csp.proyecto-periodo-seguimiento.datosGenerales.plazoPresentacion' | translate}}
    </div>

    <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
      [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

      <!-- Fecha de inicio de presentación-->
      <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
        [fxFlexOrder]="fxFlexProperties.order">
        <mat-form-field fxFill>
          <mat-label>{{'csp.proyecto-periodo-seguimiento-cientifico.fecha-inicio-presentacion'|
            translate}}</mat-label>
          <input matInput formControlName="fechaInicioPresentacion"
            [ngxMatDatetimePicker]="pickerFechaInicioPresentacion"
            [required]="FormGroupUtil.hasValidator(this.formGroup,'fechaInicioPresentacion','required')">
          <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="pickerFechaInicioPresentacion">
          </mat-datepicker-toggle>
          <ngx-mat-datetime-picker #pickerFechaInicioPresentacion showSeconds="true" [defaultTime]="[0,0,0]">
          </ngx-mat-datetime-picker>
        </mat-form-field>
      </div>

      <!-- Fecha de fin de presentación-->
      <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
        [fxFlexOrder]="fxFlexProperties.order">
        <mat-form-field fxFill>
          <mat-label>{{'csp.proyecto-periodo-seguimiento-cientifico.fecha-fin-presentacion' |
            translate}}</mat-label>
          <input matInput formControlName="fechaFinPresentacion" [ngxMatDatetimePicker]="pickerFechaFinPresentacion"
            [required]="FormGroupUtil.hasValidator(this.formGroup,'fechaFinPresentacion','required')">
          <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="pickerFechaFinPresentacion">
          </mat-datepicker-toggle>
          <ngx-mat-datetime-picker #pickerFechaFinPresentacion showSeconds="true" [defaultTime]="[23,59,59]">
          </ngx-mat-datetime-picker>
          <mat-error *ngIf="formGroup.controls.fechaFinPresentacion.errors?.after">
            {{'error.after.fecha-fin' | translate}}
          </mat-error>
        </mat-form-field>
      </div>

    </div>

    <!-- Observaciones -->
    <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
      [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

      <div [fxFlex.sm]="fxFlexProperties3.sm" [fxFlex.md]="fxFlexProperties3.md" [fxFlex.gt-md]="fxFlexProperties3.gtMd"
        [fxFlexOrder]="fxFlexProperties3.order">
        <mat-form-field fxFill>
          <mat-label>{{'csp.proyecto-periodo-seguimiento-cientifico.observaciones' | translate}}</mat-label>
          <textarea matInput formControlName="observaciones" type="text" id="observaciones"
            placeholder="{{'csp.proyecto-periodo-seguimiento-cientifico.observaciones' | translate}}">
                      </textarea>
          <mat-error *ngIf="formGroup.controls.observaciones.errors?.maxlength">
            {{'error.maxlength.entity' | translate:msgParamObservacionesEntity}}
          </mat-error>
        </mat-form-field>

      </div>
    </div>

  </form>
</section>