name: SGI Framework Spring

on: 
  workflow_dispatch: 
  push:
    paths: 
      - 'sgi-framework-spring/**'
      - '.github/workflows/sgi-framework-spring.yml'
    branches:
      - ci

defaults:
  run:
    working-directory: sgi-framework-spring

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      VERSION: ${{ steps.pom-version.outputs.VERSION }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0  
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    
    - name: Compile
      run: mvn -B compile
    
    - name: Test
      run: mvn -B test

    - name: Integration Test
      run: mvn -B post-integration-test -DskipUnitTests

    - name: SonarQube analysis
      run: mvn -B verify -DskipTests sonar:sonar
        -Dsonar.host.url=https://sonarcloud.io  
        -Dsonar.organization=herculesproject
        -Dsonar.projectKey=herculesproject_sgi_framework-spring
        -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml
        -Dsonar.branch.name=main
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    
    - name: Set up JDK to deploy on Central
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        server-id: central
        server-username: MAVEN_USERNAME
        server-password: MAVEN_CENTRAL_TOKEN
        gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
        gpg-passphrase: MAVEN_GPG_PASSPHRASE

    - name: Get POM version
      id: pom-version
      run: |
        VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
        echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT

    - name: Deploy to Central
      run: mvn -B deploy -P deployToCentral -DskipTests
      env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          MAVEN_CENTRAL_TOKEN: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

  call_update_sgi_deploy:
    name: Update sgi-deploy repo
    needs: build
    uses: herculesproject/sgi/.github/workflows/update-sgi-deploy-repo.yml@ci
    with:
      service-name: 'sgi-framework-spring'
      service-version: ${{ needs.build.outputs.VERSION }}
      sha: ${{ github.sha }}
    secrets: inherit
