name: SGI Auth Service

on:
  workflow_call:

defaults:
  run:
    working-directory: sgi-auth

jobs:
  build:
    name: Build & Package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: maven

      - name: Package
        run: mvn -B package -P prod

      - name: Upload build artifact
        if: github.event_name == 'push'
        uses: actions/upload-artifact@v4
        with:
          name: sgi-auth-build
          path: sgi-auth/broker-saml-mappers/target/*.jar
          retention-days: 1

  docker:
    name: Docker Build & Push
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@v4

      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: sgi-auth-build
          path: sgi-auth/broker-saml-mappers/target/

      - name: Prepare docker build
        id: prepare-build
        run: |
          echo "VERSION=$(cat pom.xml | grep -m1 "<version>" | cut -d'>' -f2 | cut -d'<' -f1)" >> $GITHUB_OUTPUT

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: docker-metadata
        uses: docker/metadata-action@v5
        with:
          images: herculesproject/sgi-auth
          tags: |
            type=semver,pattern={{version}},value=${{ steps.prepare-build.outputs.VERSION }}
            type=sha
            type=raw,value=ci

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: "./sgi-auth"
          push: true
          tags: ${{ steps.docker-metadata.outputs.tags }}
          labels: ${{ steps.docker-metadata.outputs.labels }}

  deploy-central:
    name: Deploy to Maven Central
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK to deploy on Central
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'temurin'
          server-id: central
          server-username: MAVEN_USERNAME
          server-password: MAVEN_CENTRAL_TOKEN
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE

      - name: Deploy to Central
        run: mvn -B deploy -P deployToCentral
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          MAVEN_CENTRAL_TOKEN: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
