name: SGI Starter Parent

on: 
  workflow_dispatch: 
  push:
    paths: 
      - 'sgi-starter-parent/**'
      - '.github/workflows/sgi-starter-parent.yml'
    branches:
      - ci

defaults:
  run:
    working-directory: sgi-starter-parent

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      VERSION: ${{ steps.pom-version.outputs.VERSION }}
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    
    - name: Package
      run: mvn -B package
    
    - name: Set up JDK to deploy on Central
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        server-id: central
        server-username: MAVEN_USERNAME
        server-password: MAVEN_CENTRAL_TOKEN
        gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
        gpg-passphrase: MAVEN_GPG_PASSPHRASE

    - name: Get POM version
      id: pom-version
      run: |
        VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
        echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT

    - name: Deploy to Central
      run: mvn -B deploy -P deployToCentral
      env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          MAVEN_CENTRAL_TOKEN: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

  call_update_sgi_deploy:
    name: Update sgi-deploy repo
    needs: build
    uses: herculesproject/sgi/.github/workflows/update-sgi-deploy-repo.yml@ci
    with:
      service-name: 'sgi-starter-parent'
      service-version: ${{ needs.build.outputs.VERSION }}
      sha: ${{ github.sha }}
    secrets: inherit
