name: SGI Framework Spring

on: 
  workflow_dispatch: 
  push:
    paths: 
      - 'sgi-framework-spring/**'
      - '.github/workflows/sgi-framework-spring.yml'
    branches:
      - ci

defaults:
  run:
    working-directory: sgi-framework-spring

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 8
      uses: actions/setup-java@v4
      with:
        java-version: '8'
        distribution: 'temurin'
        cache: maven
    
    - name: Compile
      run: mvn -B compile
    
    - name: Test
      run: mvn -B test

    - name: Integration Test
      run: mvn -B post-integration-test -DskipUnitTests

    - name: Merge coverage
      run: mvn -B verify -DskipTests

    - name: SonarQube analysis
      uses: SonarSource/sonarqube-scan-action@v5.2.0
      with:
        args: >
          -Dsonar.organization=herculesproject
          -Dsonar.projectKey=herculesproject_sgi-framework-spring
          -Dsonar.sources=sgi-framework-spring/src/main/java
          -Dsonar.tests=sgi-framework-spring/src/test/java
          -Dsonar.coverage.jacoco.xmlReportPaths=sgi-framework-spring/target/site/jacoco/jacoco.xml
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    
    - name: Set up JDK to deploy on Central
      uses: actions/setup-java@v4
      with:
        java-version: '8'
        distribution: 'temurin'
        server-id: central
        server-username: MAVEN_USERNAME
        server-password: MAVEN_CENTRAL_TOKEN
        gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
        gpg-passphrase: MAVEN_GPG_PASSPHRASE

    - name: Deploy to Central
      run: mvn -B deploy -P deployToCentral -DskipTests
      env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          MAVEN_CENTRAL_TOKEN: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
  
