<section class="convocatoria-hitos">
  <h2>{{'csp.convocatoria.hitos.title' | translate}}</h2>
  <table class="mat-elevation-z8 table-acta" mat-table [dataSource]="hitos$ | async" matSort matSortActive="id"
    matSortDirection="asc" matSortDisableClear>

    <!-- Fecha inicio Column -->
    <ng-container matColumnDef="fechaInicio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'csp.convocatoria.hitos.fecha.inicio' | translate}} </th>
      <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.fechaInicio | date:'dd/MM/yyyy'}} </td>
    </ng-container>


    <!-- Tipo hito Column -->
    <ng-container matColumnDef="tipoHito">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'csp.convocatoria.hitos.tipo.hito' | translate}} </th>
      <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.tipoHito.nombre}} </td>
    </ng-container>

    <!-- Comentario Column -->
    <ng-container matColumnDef="comentario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'csp.convocatoria.hitos.comentario' | translate}} </th>
      <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.comentario}} </td>
    </ng-container>


    <!-- Aviso Column -->
    <ng-container matColumnDef="aviso">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'csp.convocatoria.hitos.aviso' | translate}} </th>
      <td mat-cell *matCellDef="let wrapper">
        {{wrapper.value.aviso === true ? ('label.si' | translate) : 'label.no' | translate}} </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> {{'csp.convocatoria.listado.acciones' | translate}} </th>
      <td mat-cell *matCellDef="let hito;let i=index;">
        <ng-container>
          <button mat-button matTooltip="{{'botones.editar' | translate}}" (click)="openModalHito(hito)">
            <mat-icon color="primary">border_color</mat-icon>
          </button>
        </ng-container>
        <ng-container>
          <button mat-button matTooltip="{{'botones.borrar' | translate}}">
            <mat-icon color="warn">highlight_off</mat-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="elementosPagina" [length]="totalElementos" showFirstLastButtons>
  </mat-paginator>

  <div class="separation-button">
    <!-- Botón añadir hitos -->
    <button color="three" mat-button mat-raised-button (click)="openModalHito()">
      <mat-icon>add_circle_outline</mat-icon>
      {{'csp.convocatoria.hitos.aniadir' | translate}}
    </button>
  </div>
</section>