@import "colors.scss";

.evaluador-datos-generales {
  .footer-button {
    padding-top: 15px;
    button {
      margin-right: 15px;
    }
  }
  .separacion {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

#buttons {
  margin-top: 20px;
}
